<section id="conserns" class="slide">
  <h2>Routing concerns</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :messages do
      resources :comments
    end

    resources :posts do
      resources :comments
      resources :images, only: :index
    end
  </script>

  <p>let's refactor it:</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    concern :commentable do
      resources :comments
    end

    concern :image_attachable do
      resources :images, only: :index
    end
      
    resources :messages, concerns: :commentable
    resources :posts, concerns: [:commentable, :image_attachable]
  </script>
</section>