<section id="controller" class="slide">
  <h2>Specifying a ControllerNamed Helper</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
      resources :posts, controller: 'messages'
  </script>

  <table>
    <tr>
      <th>Prefix</th>
      <th>Verb</th>
      <th>URI Pattern</th>
      <th>Controller#Action</th>
    </tr>
    <tr>
      <td>posts</td>
      <td>GET</td>
      <td>/posts(.:format)</td>
      <td>messages#index</td>
    </tr>
    <tr>
      <td></td>
      <td>POST</td>
      <td>/posts(.:format)</td>
      <td>messages#create</td>
    </tr>
    <tr>
      <td>new_post</td>
      <td>GET</td>
      <td>/posts/new(.:format)</td>
      <td>messages#new</td>
    </tr>
    <tr>
      <td>edit_post</td>
      <td>GET</td>
      <td>/posts/:id/edit(.:format)</td>
      <td>messages#edit</td>
    </tr>
    <tr>
      <td>post</td>
      <td>GET</td>
      <td>/posts/:id(.:format)</td>
      <td>messages#show</td>
    </tr>
    <tr>
      <td></td>
      <td>PATCH</td>
      <td>/posts/:id(.:format)</td>
      <td>messages#update</td>
    </tr>
    <tr>
      <td></td>
      <td>PUT</td>
      <td>/posts/:id(.:format)</td>
      <td>messages#update</td>
    </tr>
    <tr>
      <td></td>
      <td>DELETE</td>
      <td>/posts/:id(.:format)</td>
      <td>messages#destroy</td>
    </tr>
  </table>
</section>
