<section id="main" class="slide">
  <div class="vcenter">
    <h1>Routes</h1>
    <p>The Rails router recognizes URLs and dispatches them to a controller's action. It can also generate paths and URLs, avoiding the need to hardcode strings in your views.</p>
  </div>
</section>