<section id="more" class="slide">
  <h2>Adding More RESTful Actions</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :posts do
      member do
        get :preview
      end

      collection do
        get :search
      end
    end
  </script>
  <p>or</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :posts do
      get :preview, on: :member
      get :search, on: :collection
    end
  </script>
  <br/>
  <table>
    <tr>
      <th>Prefix</th>
      <th>Verb</th>
      <th>URI Pattern</th>
      <th>Controller#Action</th>
    </tr>
    <tr>
      <td>preview_post</td>
      <td>GET</td>
      <td>/posts/:id/preview(.:format)</td>
      <td>posts#preview</td>
    </tr>
    <tr>
      <td>search_posts</td>
      <td>GET</td>
      <td>/posts/search(.:format)</td>
      <td>posts#search</td>
    </tr>
    <tr>
      <td>posts</td>
      <td>GET</td>
      <td>/posts(.:format)</td>
      <td>posts#index</td>
    </tr>
    <tr>
      <td></td>
      <td>POST</td>
      <td>/posts(.:format)</td>
      <td>posts#create</td>
    </tr>
    <tr>
      <td>new_post</td>
      <td>GET</td>
      <td>/posts/new(.:format)</td>
      <td>posts#new</td>
    </tr>
    <tr>
      <td>edit_post</td>
      <td>GET</td>
      <td>/posts/:id/edit(.:format)</td>
      <td>posts#edit</td>
    </tr>
    <tr>
      <td>post</td>
      <td>GET</td>
      <td>/posts/:id(.:format)</td>
      <td>posts#show</td>
    </tr>
    <tr>
      <td></td>
      <td>PATCH</td>
      <td>/posts/:id(.:format)</td>
      <td>posts#update</td>
    </tr>
    <tr>
      <td></td>
      <td>PUT</td>
      <td>/posts/:id(.:format)</td>
      <td>posts#update</td>
    </tr>
    <tr>
      <td></td>
      <td>DELETE</td>
      <td>/posts/:id(.:format)</td>
      <td>posts#destroy</td>
    </tr>
  </table>
</section>
