<section id="multiple-resources" class="slide">
  <h2>Multiple Resources</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :users
    resources :posts
    resources :comments
  </script>
  <p>or</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :users, :posts, :comments
  </script>
</section>