<section id="namespaces" class="slide">
  <h2>Controller Namespaces and Routing</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    namespace :admin do
      resources :posts
    end
  </script>

  <div id="namespaces-urls" class="slide">
    <table>
      <tr>
        <th>Prefix</th>
        <th>Verb</th>
        <th>URI Pattern</th>
        <th>Controller#Action</th>
      </tr>
      <tr>
        <td>admin_posts</td>
        <td>GET</td>
        <td>/admin/posts(.:format)</td>
        <td>admin/posts#index</td>
      </tr>
      <tr>
        <td></td>
        <td>POST</td>
        <td>/admin/posts(.:format)</td>
        <td>admin/posts#create</td>
      </tr>
      <tr>
        <td>new_admin_post</td>
        <td>GET</td>
        <td>/admin/posts/new(.:format)</td>
        <td>admin/posts#new</td>
      </tr>
      <tr>
        <td>edit_admin_post</td>
        <td>GET</td>
        <td>/admin/posts/:id/edit(.:format)</td>
        <td>admin/posts#edit</td>
      </tr>
      <tr>
        <td>admin_post</td>
        <td>GET</td>
        <td>/admin/posts/:id(.:format)</td>
        <td>admin/posts#show</td>
      </tr>
      <tr>
        <td></td>
        <td>PATCH</td>
        <td>/admin/posts/:id(.:format)</td>
        <td>admin/posts#update</td>
      </tr>
      <tr>
        <td></td>
        <td>PUT</td>
        <td>/admin/posts/:id(.:format)</td>
        <td>admin/posts#update</td>
      </tr>
      <tr>
        <td></td>
        <td>DELETE</td>
        <td>/admin/posts/:id(.:format)</td>
        <td>admin/posts#destroy</td>
      </tr>
    </table>
  </div>
</section>
