<section id="naming" class="slide">
  <h2>Naming Routes</h2>
  
  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    get 'exit', to: 'sessions#destroy', as: :logout
    get ':username', to: 'users#show', as: :user
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    logout_path
    # => /exit
    
    user_path(username: 'ruby')
    # => /ruby
  </script>
</section>