<section id="path-and-url" class="slide">
  <h2>Creating Paths and URLs From Objects</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :users do
      resources :posts
    end
  </script>

  <code>link_to</code> helper
  <script type="syntaxhighlighter" class="brush: ruby">
    = link_to 'Post details', user_post_path(@user, @post)  
    #=> '<a href="/users/1/posts/1">Post details</a>'
    
    = link_to 'Post details', url_for([@user, @post])
    #=> '<a href="http://community.dev/users/1/posts/1">Post details</a>'

    = link_to 'Post details', [@user, @post]                
    #=> '<a href="/users/1/posts/1">Post details</a>'
    
    = link_to 'User details', @user                         
    #=> '<a href="/users/1">User details</a>'

    = link_to 'Edit Post', [:edit, @user, @post]
    #=> '<a href="/users/1/posts/1/edit">Edit Post</a>'
  </script>
</section>
