<section id="resources" class="slide">
  <h2>CRUD, Verbs, and Actions</h2>

  <p>Resource routing allows you to quickly declare all of the common routes for a given resourceful controller. Instead of declaring separate routes for your index, show, new, edit, create, update and destroy actions, a resourceful route declares them in a single line of code.</p>

  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    Community::Application.routes.draw do
      resources :posts
    end
  </script>

  <br/>

  <div id="resources-urls" class="slide">
    <table>
      <tr>
        <th>Prefix</th>
        <th>Verb</th>
        <th>URI Pattern</th>
        <th>Controller#Action</th>
      </tr>
      <tr>
        <td>posts</td>
        <td>GET</td>
        <td>/posts(.:format)</td>
        <td>posts#index</td>
      </tr>
      <tr>
        <td></td>
        <td>POST</td>
        <td>/posts(.:format)</td>
        <td>posts#create</td>
      </tr>
      <tr>
        <td>new_post</td>
        <td>GET</td>
        <td>/posts/new(.:format)</td>
        <td>posts#new</td>
      </tr>
      <tr>
        <td>edit_post</td>
        <td>GET</td>
        <td>/posts/:id/edit(.:format)</td>
        <td>posts#edit</td>
      </tr>
      <tr>
        <td>post</td>
        <td>GET</td>
        <td>/posts/:id(.:format</td>
        <td>posts#show</td>
      </tr>
      <tr>
        <td></td>
        <td>PATCH</td>
        <td>/posts/:id(.:format)</td>
        <td>posts#update</td>
      </tr>
      <tr>
        <td></td>
        <td>PUT</td>
        <td>/posts/:id(.:format)</td>
        <td>posts#update</td>
      </tr>
      <tr>
        <td></td>
        <td>DELETE</td>
        <td>/posts/:id(.:format</td>
        <td>posts#destroy</td>
      </tr>
    </table>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby">
      posts_path            # => '/posts'
      posts_url             # => 'http://blog.dev/posts'
      new_post_path         # => '/posts/new'
      post_path(@post)      # => '/posts/1'
      post_path(1)          # => '/posts/1'
      edit_post_path(@post) # => '/posts/1/edit'
    </script>
  </div>
</section>
