<section id="root" class="slide">
  <h2>Using Root</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    root to: 'pages#main'
  </script>
  <p>Shortcut</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    root 'pages#main'
  </script>
</section>
