<section id="routes" class="slide">
  <h2>Routes</h2>

  <p>When your Rails application receives an incoming request for:</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    GET /posts/17
  </script>

  <p>it asks the router to match it to a controller action. If the first matching route is:</p>
  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      get '/posts/:id', to: 'posts#show', as: 'post'
  </script>
  <p>the request is dispatched to the posts controller's show action with { id: '17' } in params.</p>

  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    def show
      @post = Post.find(params[:id])
    end
  </script>

  app/views/posts/show.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    &lt;%= link_to 'Post Record', post_path(@post) %>
  </script>
</section>
