<section id="segment-constraints" class="slide">
  <h2>Segment Constraints</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    get 'posts/:id', to: 'posts#show', constraints: {id: /[A-Z]\d{5}/}
  </script>
  <p>or</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    get 'posts/:id', to: 'posts#show', id: /[A-Z]\d{5}/
  </script>
</section>