<section id="singular-resources" class="slide">
  <h2>Singular Resources</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    get 'user', to: 'users#show'
  </script>

  <br/>

  <div id="singular-resources-resourceful-route" class="slide">
    <p>This resourceful route:</p>
    <script type="syntaxhighlighter" class="brush: ruby">
      resource :user
    </script>
  </div>

  <br/>

  <div id="singular-resources-urls" class="slide">
    <table>
      <tr>
        <th>Prefix</th>
        <th>Verb</th>
        <th>URI Pattern</th>
        <th>Controller#Action</th>
      </tr>
      <tr>
        <td>user</td>
        <td>POST</td>
        <td>/user(.:format)</td>
        <td>users#create</td>
      </tr>
      <tr>
        <td>new_user</td>
        <td>GET</td>
        <td>/user/new(.:format)</td>
        <td>users#new</td>
      </tr>
      <tr>
        <td>edit_user</td>
        <td>GET</td>
        <td>/user/edit(.:format)</td>
        <td>users#edit</td>
      </tr>
      <tr>
        <td></td>
        <td>GET</td>
        <td>/user(.:format)</td>
        <td>users#show</td>
      </tr>
      <tr>
        <td></td>
        <td>PATCH</td>
        <td>/user(.:format)</td>
        <td>users#update</td>
      </tr>
      <tr>
        <td></td>
        <td>PUT</td>
        <td>/user(.:format)</td>
        <td>users#update</td>
      </tr>
      <tr>
        <td></td>
        <td>DELETE</td>
        <td>/user(.:format)</td>
        <td>users#destroy</td>
      </tr>
    </table>
    </script>
  </div>
</section>
