<section id="Comments" class="slide">
  <h2>Comments</h2>
  <h3>Problems</h3>
  <ul>
    <li>Flexibility: Any comment that explains the code must be kept in step if the code is changed.</li>
    <li>Duplication: Most comments can be reflected just as well in the code itself. For example, the goal of a method can often be communicated as well through its name as it can through a comment.</li>
    <li>Communication: Comments that say something slightly different than the code create cognitive drag—or even mistrust—and slow the reader down.</li>
  </ul>
  <p>Don’t delete comments that are pulling their own weight—such as rdoc API documen - tation.</p>
</section>