<section id="control-coupling" class="slide">
  <h2>Control Coupling</h2>
  <ul>
    <li>A method or block checks the value of a parameter in order to decide which execu- tion path to take.</li>
    <li>A method's name includes a word such as "or."</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li><strong>Duplication:</strong> Control Coupling is a kind of duplication, because the caller already knows which path should be taken.</li>
    <li><strong>Flexibility:</strong> The caller and callee are coupled together - any change to the possible values of the controlling parameter must be reflected on both sides.</li>
    <li><strong>Simplicity:</strong> The called method is probably also a Greedy Method, because it includes at least two different code paths.</li>
  </ul>
</section>