<section id="divergent-change" class="slide">
  <h2>Divergent Change</h2>
  <ul>
    <li>You find yourself changing the same module for different reasons.</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li><strong>Flexibility:</strong> If a module needs to change for many different reasons, you may quickly find that two developers need to change it at the same time. So the module becomes a bottleneck, slowing down progress.</li>
    <li><strong>Abstraction:</strong> Worse, a module with high “churn” may never stabilize, and so may never come to reliably represent a useful domain abstraction.</li>
  </ul>
</section>