<section id="greedy-method" class="slide">
  <h2>Greedy Method</h2>
  <ul>
    <li>A method does more than one job.</li>
    <li>A method has “and” in its name.</li>
    <li>The body of a method includes code at several different levels of abstraction.</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li><strong>Communication:</strong> A code fragment that has two responsibilities intertwined is harder to read, and harder to name.</li>
    <li><strong>Flexibility:</strong> If one of the method's responsibilities must change, or has a defect, you often have to work hard to sidestep the method's other responsibilities - it can therefore be a challenge to avoid breaking other code.</li>
    <li><strong>Testability:</strong> A method that does two things will be harder to test than if the responsi - bilities were separated.</li>
  </ul>
</section>