<section id="topic" class="slide">
  <div class="vcenter">
    <h1>Code smells</h1>
    <div class="description">
      <p>
        Code smell is any symptom in the source code of a program that possibly indicates a deeper problem. Code smells are usually not bugs—they are not technically incorrect and don't currently prevent the program from functioning. Instead, they indicate weaknesses in design that may be slowing down development or increasing the risk of bugs or failures in the future.
      </p>
    </div>
  </div>
</section>