<section id="content_for" class="slide">
  <h2>Content for</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      &lt;% content_for :head do %&gt; 
        <title>Post page</title>
      &lt;% end %&gt;
      <p>Hello, It is my first post!</p> 
    ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      <html>
        <head> 
          <title>Post page</title>
        </head>
        <body>
          <p>Hello, It is my first post!</p>
        </body> 
      </html>
    ]]>
  </script>
</section>