<section id="content_for" class="slide">
  <div class="vcenter">
    <h1>content_for</h1>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        
        < % content_for :head do %> 
          <title> Post page</title>
        < % end % > 
        <p> Hello, It is my first post! </p> 
      ]]>
    </script>

    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        
        <html>
          <head> 
            <title> Post page</title>
          </head>
          <body>
            <p> Hello, It is my first post! </p>
          </body> 
        <p> Hello, It is my first post! </p> 
      ]]>
    </script>

  </div>
</section>
