<section id="double-render-error" class="slide">
  <h2>Avoiding Double Render Errors</h2>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    def show
      @post = Post.find(params[:id])
      if @post.archived?
        render action: "archived"
      end
      render action: "updated"
    end
  </script>

  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    def show
      @post = Post.find(params[:id])
      if @post.archived?
        render action: "archived" and return
      end
      render action: "updated"
    end
  </script>

  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    def show
      @post = Post.find(params[:id])
      if @post.archived?
        render action: "archived"
      end
    end
  </script>

</section>
