<section id="erb" class="slide">
  <h2>.erb</h2>
  app/views/posts/index.html.erb 
  <script type="syntaxhighlighter" class="brush: ruby">
    <h1>Listing posts</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        &lt;% @posts.each do |post| %&gt;
          <tr>
            <td>&lt;%= post.title %&gt;</td>
            <td>&lt;%= post.text %&gt;</td>
            <td>&lt;%= link_to 'Show', post %&gt;</td>
            <td>&lt;%= link_to 'Edit', edit_post_path(post) %&gt;</td>
            <td>&lt;%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %&gt;</td>
          </tr>
        &lt;% end %&gt;
      </tbody>
    </table>

    <br>

    &lt;%= link_to 'New Post', new_post_path %&gt;
  </script>
</section>