<section id="haml-topic" class="slide">
  <h2>Haml</h2>
<p>The principles of Haml: </p>
<ul>
<li> Markup should be beautiful</li>
<li> Markup should be DRY</li>
<li> Markup should be indented</li>
<li> Structure should be clear</li>
</ul>
</section>
