<section id="helpers-spec" class="slide">
  <div class="vcenter">
    <h1>Testing helpers</h1>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        #posts_spec.rb
        
        require 'spec_helper'
        
        describe PostsHelper do
          describe "#post_title" do
            it "should return post title" do
              post = stub_model(Post, :title => 'New age of IT')
              post_title(post).should == 'New age of IT'
            end
          end          
        end
 
      ]]>
    </script>
    <div>
      <script type="syntaxhighlighter" class="brush: ruby">
        <![CDATA[      
          #posts_helper.rb
          module PostsHelper

            def post_title(post)
              post.title
            end
          end 
        ]]>
      </script>
    </div>
  </div>
</section>
