<section id="helper-method" class="slide">
  <div class="vcenter">
    <h1>helper_method</h1>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        #/app/controllers/application_controller.rb
        
        class ApplicationController < ActionController::Base
          
          helper_method :current_user

          def current_user
            @_current_user ||= session[:current_user_id] && 
              User.find_by_id(session[:current_user_id])
          end
          
        end
 
      ]]>
    </script>

  </div>
</section>
