<section id="helpers" class="slide">
  <h2>Helpers</h2>
  app/helpers/application_helper.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      module ApplicationHelper
        #have title_tag in your head
        def title init_value
          @title_parts ||= []
          @title_parts.unshift init_value
          init_value
        end
        
        #This should be in the head
        def title_tag options ={}
          content_tag :title, get_title(options)
        end

        def get_title options ={}
          @title_parts ||= []
          @title_parts.unshift options[:prefix] unless options[:prefix].nil?
          @title_parts << options[:suffix] unless options[:suffix].nil?
          separator = options.fetch(:separator, ' - ')
          @title_parts.join(separator).html_safe
        end
      end
    ]]>
  </script>
  <div class ="slide" id= 'use-helper'>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
        &lt;% title("text") %&gt;
        &lt;%= title_tag prefix: 'pr', suffix: 'sf', separator: '-' %&gt;
      ]]>
    </script>
  </div>
  <div class ="slide" id= 'helper-result'>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
        <title>
          pr-text-sf
        </title>
      ]]>
    </script>
  </div>
</section>
