<section id="jbuilder" class="slide">
  <h2>.jbuilder</h2>
  app/views/posts/index.json.jbuilder 
  <script type="syntaxhighlighter" class="brush: ruby">
    json.array!(@posts) do |post|
      json.extract! post, :id, :title, :text
      json.url post_url(post, format: :json)
    end
  </script>
</section>