<section id="layout-inheritance" class="slide">
  <div class="vcenter">
    <h1>Layout inheritance</h1>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        #application_controller.rb

        class ApplicationController < ActionController::Base
          layout "application"
      ]]>
    </script>

    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        #posts_controller.rb
        
        class PostsController < ApplicationController
          layout "post"
      ]]>
    </script>
  </div>
</section>
