<section id="layout" class="slide">
  <h2>Layout</h2>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[      
      class PostsController < ApplicationController
        layout "post"  

        def index
          @posts = Post.all
        end
      end
    ]]>
  </script>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      class PostsController < ApplicationController
        layout :posts_layout

        def index
          @posts = Post.all
        end

        private

        def posts_layout
          current_user.admin? ? "admin" : "post"
        end
      end
    ]]>
  </script>
</section>