<section id="layouts-structuring" class="slide">
  <h2>Layouts structuring</h2>

  <ul>
    <li>Asset tags</li>
    <li><b>yield</b> and <b>content_for</b></li>
    <li>Partials</li>
  </ul>
</section>
