<section id="nested-attibutes" class="slide">
  <h2>Nested attributes</h2>
  app/modals/post.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      class Post < ActiveRecord::Base
        has_many :comments
        accepts_nested_attributes_for :comments
      end
    ]]>
  </script>
  app/views/posts/_form.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      &lt;%= form_for @post do |post_form| %&gt;
        <div class = "field">
          &lt;%= post_form.label :title %&gt; <br/>
          &lt;%= post_form.text_field :title %&gt; <br/>
        </div>
        <div> 
          Comments
          &lt;%= post_form.fields_for :comments do |comment_form| %&gt;
            <div class = "field">
              &lt;%= comment_form.label :text %&gt; <br />
              &lt;%= comment_form.text_field :text %&gt; <br />
            </div>
          &lt;%- end %&gt;
        </div>
        <div class ="field">
          &lt;%= post_form.label :content %&gt; <br />
          &lt;%= post_form.text_area :content %&gt; <br />
        </div>
        <div class = "actions">
          &lt;%= post_form.submit %&gt;
        </div>
      &lt;%- end %&gt;
    ]]>
  </script>
</section>
