<section id="redirect-to" class="slide">
  <h2>redirect_to</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    redirect_to photos_url
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    redirect_back(fallback_location: root_path)
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    redirect_to photos_path, status: 301 #status can be both numeric or symbolic
  </script>

  <h2>render and redirect_to difference</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    def index
      @post = Post.all
    end

    def show
      @post = Post.find_by(id: params[:id])
      if @post.nil?
        render action: "index"
      end
    end
  </script>

  <p>
     render :action doesn't run any code in the target action,
     so nothing will set up the @posts variable that the index view will probably require.
  </p>

  <script type="syntaxhighlighter" class="brush: ruby">
    def index
      @post = Post.all
    end

    def show
      @post = Post.find_by(id: params[:id])
      if @post.nil?
        redirect_to action: :index
      end
    end
  </script>

  <p>fresh request for the index page will be done and @posts variable will be set up</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    def index
      @posts = Book.all
      end

      def show
      @post = Post.find_by(id: params[:id])
      if @post.nil?
        @posts = Post.all
        flash.now[:alert] = "Your post was not found"
        render "index"
      end
    end
  </script>


</section>
