<section id="render-final" class="slide">
  <h2>Render</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
      def update
        @post = Post.find(params[:id])
        if @post.update(params[:post])
          redirect_to @post, notice: "Past was successfully updated"
        else
          render :edit
          render action: :edit
          render 'edit'
          render 'edit.html.erb'
          render action: 'edit'
          render action: 'edit.html.erb'
          render 'posts/edit'
          render 'posts/edit.html.erb'
          render template: 'posts/edit'
          render template: 'posts/edit.html.erb'
          render '/path/to/rails/app/views/posts/edit'
          render '/path/to/rails/app/views/posts/edit.html.erb'
          render file: '/path/to/rails/app/views/posts/edit'
          render file: '/path/to/rails/app/views/posts/edit.html.erb'
        end
      end
  </script>
</section>