<section id="render-format" class="slide">
  <h2>Rendering Format</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
      def index
        @posts = Post.all
        respond_to do |format|
          format.html {render html: "Count <strong>#{@posts.length}</strong>".html_safe}
          format.json {render json: @posts}
          format.xml {render xml: @posts}
          format.js {render js: "alert('Count #{@posts.length}');"}
        end
      end
  </script>

  <p>to_json, to_xml methods</p>

  <h2>Rendering raw data</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    render body: "raw"
  </script>

</section>
