<section id="views-outside-of-actions" class="slide">
  <h2>Rendering outside of actions</h2>
  <p>Rails 5 only!</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    # render template
    ApplicationController.render 'templates/name'
    # render action
    PostController.render :index
    # render file
    ApplicationController.render file: 'path'
    # render inline
    ApplicationController.render inline: '&lt;%= posts_url %&gt;'
    # render partial
    PostsController.render :_post, locals: { post: Post.last }
    #render json
    PostsController.render json: Post.all
  </script>

  <h4>Assigning variables</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    ApplicationController.render(
      assigns: { post: Post.first },
      inline: ''
    )
  </script>

  <h4>Request environment</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    renderer = ApplicationController.renderer.new(
      http_host: 'best_post.host',
      https:      true
    )
    renderer.render inline: '&lt;%= posts_url %&gt;'
    # => 'https://best_post.host/posts'
  </script>
</section>
