<section id="content-type-option" class="slide">
  <h2>The :content_type option</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[      
      def index
        @post = Post.all
        respond_to do |format|
          format.html
          format.xml do
            render template: 'posts/rss_list', content_type: 'application/rss'
          end
        end
      end
    ]]>
  </script>

  <div class = "slide" id ="status-option">
    <h2>The :status option</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      render status: 404
    </script>
  </div>

  <div class = "slide" id ="location-option">
    <h2>The :location option</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def index
          @post = Post.all
          respond_to do |format|
            format.html
            format.xml do
              render xml: @posts, location: posts_url
            end
          end
        end
      ]]>
    </script>
  </div>

  <div class = "slide" id ="layout-option">
    <h2>The :layout option</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def show
          @post = Post.find(params[:id])
          render remplate: 'pages/post', layout: 'post'
        end
      ]]>
    </script>
  </div>
</section>