<section id="render" class="slide">
  <h2>ActionController::Base#render method</h2>
  <p>In most cases, the ActionController::Base#render method does the heavy lifting of rendering your application's content for use by a browser. There are a variety of ways to customize the behavior of render. You can render the default view for a Rails template, or a specific template, or a file, or inline code, or nothing at all. You can render text, JSON, or XML. You can specify the content type or HTTP status of the rendered response as well.</p>

  <div class="slide" id="render-nothing">
    <h2>Rendering Nothing</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def index 
          @posts = Post.all
          respond_to do |format|
            format.html{ render nothing: true}
          end
        end
      ]]>
    </script>
  </div>

  <div class="slide" id="render-action">
    <h2>Rendering an Action's View</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def update 
          @post = Post.find(params[:id])
          respond_to do |format|
            if @post.update_attributes(params[:post])
              format.html{ redirect_to @post, notice: 'Post was successfully updated.'}
            else
              format.html{ render action: 'edit'}
            end
          end
        end
      ]]>
    </script>
  </div>
</section>