<section id="render-options" class="slide">
  <div class="vcenter">
    <h1>Render's options</h1>

    <div id="renders-options">

      <div class = 'slide' id ="content-type">
        <h2>content_type</h2>
        <script type="syntaxhighlighter" class="brush: ruby">
          <![CDATA[      
            def index
              @post = Post.all
              respond_to do |format|
                format.html
                format.xml do
                  render :template => 'posts/index.xml', :content_type => 'application/rss'
                end
              end
            end
          ]]>
        </script>
      </div>
    
      <div class = "slide" id ="status">
        <h2>status</h2>
        <script type="syntaxhighlighter" class="brush: ruby">
          render :status => 404
        </script>
      </div>

      <div class = "slide" id ="location">
        <h2>location</h2>
        <script type="syntaxhighlighter" class="brush: ruby">
          <![CDATA[      
            def index
              @post = Post.all
              respond_to do |format|
                format.html
                format.xml do
                  render :xml => @posts, :location => posts_url
                end
              end
            end
          ]]>
        </script>
      </div>
      <div class = "slide" id ="layout">
        <h2>layout</h2>
        <script type="syntaxhighlighter" class="brush: ruby">
          <![CDATA[      
            def show
              @post = Post.find(params[:id])
              render :remplate => 'pages/post', :layout => 'post'
            end
          ]]>
        </script>
      </div>
    </div>
  </div>
</section>
