<section id="render-template" class="slide">
  <h2>Rendering an Action's Template from Another Controller</h2>      
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[      
      def show 
        @post = Post.find(params[:id])
        render 'posts/show'
        render template: 'posts/show'
      end
    ]]>
  </script>

  <div class="slide" id="render-file">
    <h2>Rendering an Arbitrary File</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def show 
          @post = Post.find(params[:id])
          render file: '/var/www/blog/app/views/posts/show'
        end
      ]]>
    </script>
  </div>

  <div class="slide" id="render-inline">
    <h2>Rendering an inline code</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def index 
          @posts = Post.all
          render inline: "&lt;% @posts.each do |p| %&gt;<p>&lt;%= p.title %&gt;</p>&lt;% end %&gt;"
        end
      ]]>
    </script>
  </div>
  
  <div class="slide" id="render-text">
    <h2>Rendering a string</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        def index
          @posts = Post.all
          render text: "Ok"
        end
      ]]>
    </script>
  </div>
</section>