<section id="responses" class="slide">
  <h2>Responses</h2>
  <p>From the controller's point of view, there are three ways to create an HTTP response:</p>
  <ul>
    <li>Call render to create a full response to send back to the browser</li>
    <li>Call redirect_to to send an HTTP redirect status code to the browser</li>
    <li>Call head to create a response consisting solely of HTTP headers to send back to the browser</li>
  </ul>
</section>
