<section id="spacer_template" class="slide">
  <div class="vcenter">
    <h1>Collections, spacer_template</h1>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby"> 
      < %= render @posts, :spacer_template => 'post_spacer'
    </script>
  </div>
</section>
