<section id="topic" class="slide">
  <div class="vcenter">
    <h1>View</h1>
    <div class="about">
      <p>Action View is the <strong>V </strong> in MVC. View responsible for displaying data. It doesn't make any logic operations. <strong>Only displaying data. </strong></p>
    </div>
  </div>
</section>