<section id="topic" class="slide">
  <div class="vcenter">
    <h1>View</h1>
    <div class="about">
      <p>Victor, please describe what means <strong>View</strong> into <strong>MVC</strong> context.</p>
    </div>
  </div>
</section>