<section id="yield" class="slide">
  <h2>Yield</h2>
  app/views/layouts/application.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      <html>
        <head>
          &lt;% = yield :head %&gt;
        </head>
        <body>
          &lt;% = yield %&gt;
        </body>
      </html>
    ]]>
  </script>
</section>
