<section id="yield" class="slide">
  <div class="vcenter">
    <h1>Yield</h1>
    <br/>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[      
        #application.html.erb
        <html>
          <head>
            < % = yield :head % >
          </head>
          <body>
            < % = yield % >
          </body>
        </html>

 
      ]]>
    </script>

  </div>
</section>
