<section id="addig-code" class="slide">
  <h2>Describing Code with RSpec</h2>

  <p>So let's add some code structure</p>

  lib/codebreaker.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'codebreaker/game'
  </script>

  lib/codebreaker/game.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module Codebreaker
      class Game
        def start
        end
      end
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/codebreaker/game_spec.rb --format doc

    Codebreaker::Game
      #start
        generates secret code
        saves 4 numbers secret code
        saves secret code with numbers from 1 to 6
  </script>
</section>