<section id="any-instance" class="slide">
  <h2>Stub on any instance of a class</h2>
  <h3> New syntax </h3>

  <script type="syntaxhighlighter" class="brush: ruby">
     allow_any_instance_of(User).to receive(:name).and_return("User")
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.describe "allow_any_instance_of" do
      it 'yields the receiver to the block implementation' do
        allow_any_instance_of(String).to receive(:slice) do |value, start, length|
          value[start, length]
        end

        expect('string'.slice(2, 3)).to eq('rin')
      end
    end
  </script>

  <h3> Old syntax </h3>

  <p>Use any_instance.stub on a class to tell any instance of that class to
return a value (or values) in response to a given message. If no instance
receives the message, nothing happens.</p>

  <p>Messages can be stubbed on any class, including those in Ruby's core library.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    describe "any_instance.stub" do
      it "returns the specified value on any instance of the class" do
        String.any_instance.stub(:foo).and_return(:return_value)

        str = "sample string"
        expect(str.foo).to eq(:return_value)
      end
    end
  </script>
</section>
