<section id="any-instance" class="slide">
  <h2>Stub on any instance of a class</h2>

  <p>Use any_instance.stub on a class to tell any instance of that class to
return a value (or values) in response to a given message. If no instance
receives the message, nothing happens.</p>

  <p>Messages can be stubbed on any class, including those in Ruby's core library.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    describe "any_instance.stub" do
      it "returns the specified value on any instance of the class" do
        String.any_instance.stub(:foo).and_return(:return_value)

        str = "sample string"
        str.foo.should eq(:return_value)
      end
    end
  </script>

</section>