<section id="as_null_object" class="slide">
  <h2>Doubles, as_null_object</h2>

  <p>Use the as_null_object method to ignore any messages that aren't explicitly set as stubs or message expectations.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    describe 'null object' do
      specify {
        null_object = double('null object').as_null_object
        expect(null_object).to respond_to(:any_undefined_method)
      }
    end
  </script>
</section>