<section id="before-all" class="slide">
  <h2>before(:all)</h2>
  <p>Run one time only, before all of the examples in a group</p>
  <script type="syntaxhighlighter" class="brush: ruby">
  # file spec/array_spec.rb
  
  describe Array, "before all" do
    context "#size" do
      context "when empty" do
        before(:all) do
          @array = Array.new
        end

        it "should return one" do
          @array.push 100
          @array.size.should == 1
        end

        it "should return one again" do
          @array.size.should == 1
        end
      end

      context "when full" do
        before(:all) do
          @array = Array.new
          (0...10).each { |n| @array.push n }
        end

        it "should return nine" do
          @array.pop
          @array.size.should == 9
        end

        it "should return nine again" do
          @array.size.should == 9
        end
      end
    end
  end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
  rspec spec/array_spec.rb 
  ....

  Finished in 0.01025 seconds
  4 examples, 0 failures
  </script>
</section>