<section id="changes" class="slide">
  <h2>Spec::Matchers</h2>
  <h3>Changes</h3>
  <p>Sometimens you expect some code (wrapped in a proc) to change the state of some object. There is a convenient way to check it with rspec:</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    it "should remove the last element" do
      expect { @array.pop }.to change{ @array.size }
    end
  </script>
  <div id="by-to-from" class="slide">
    <h6>by(), to(), from(), by_at_least(), by_at_most()</h6>
    <script type="syntaxhighlighter" class="brush: ruby">
      it "removes the last element" do
        expect { @array.pop }.to change{ @array.size }.by(1)
      end

      it "removes the last element" do
        expect { @array.pop }.to change{ @array.size }.to(2)
      end

      it "removes the last element" do
        expect { @array.pop }.to change{ @array.size }.from(3).to(2)
      end

      it "changes size by at least 1" do
        expect { 2.times { @array.pop } }.to change{ @array.size }.by_at_least(1)
      end

      it "changes size by at most 2" do
        expect { 2.times { @array.pop } }.to change{ @array.size }.by_at_most(2)
      end
    </script>
  </div>
</section>
