<section id="floating-point" class="slide">
  <h2>Spec::Matchers</h2>
  <h3>Floating point numbers</h3>
  <p>Passes if given == expected +/- delta</p>
  <h4> New syntax </h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to be_within(delta).of(expected)
    expect(obj).not_to be_within(delta).of(expected)
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    expect(result).to be_within(0.01).of(expected)
  </script>
  <p>Note: that the difference between the actual and expected values must be smaller than your delta; if it is equal, the matcher will fail.</p>

  <h4> Old syntax </h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to be_close(expected, delta)
    expect(obj).not_to be_close(expected, delta)
  </script>

  <p>When dealing with floating points, it's convenient to use matcher be_close(), which takes two arguments: the floating point number you are expecting and the precision you require.</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(result).to be_close(3.14, 0.005)
  </script>
</section>
