<section id="comparisons" class="slide">
  <h2>Comparisons</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to be >  expected
    expect(obj).to be >= expected
    expect(obj).to be <= expected
    expect(obj).to be <  expected
  </script>

  <h3>Between</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to be_between(minimum, maximum).inclusive
    expect(obj).to be_between(minimum, maximum).exclusive
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    expect(10).to be_between(1, 10).inclusive
    expect(10).to be_between(1, 11).exclusive
  </script>

  <h3>Start/End</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to start_with expected
    expect(obj).to end_with expected
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    eexpect("first string").to start_with("first")
    expect("first string").not_to start_with("second")
    expect([1,3,5]).to start_with(1,3)
  </script>
</section>
