<section id="hooks-in-configuration" class="slide">
  <h2>Define hooks in configuration</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  # file spec/callbacks_spec.rb

  RSpec.configure do |config|
    config.before(:suite) do
      puts "before suite"
    end

    config.before(:all) do
      puts "before all"
    end

    config.before(:each) do
      puts "before each"
    end

    config.after(:each) do
      puts "after each"
    end

    config.after(:all) do
      puts "after all"
    end

    config.after(:suite) do
      puts "after suite"
    end
  end

  describe "before and after callbacks in config" do
    it "run" do
      puts "test 1"
    end

    it "run" do
      puts "test 2"
    end
  end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
  rspec spec/callbacks_spec.rb 
  before suite
  before all
  before each
  test 1
  after each
  before each
  test 2
  after each
  after all
  after suite
  </script>
</section>