<section id="describe" class="slide">
  <h2>Describe</h2>
  <p>
    We use the describe() method to define an example group.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    describe "A User" do
    end
    # => A User 

    describe User do
    end
    # => User 

    describe User, "with no roles assigned" do
    end
    # => User with no roles assigned]]>
  </script>
  <p>
    The describe() method takes an arbitrary number of arguments and an optional block, and returns a subclass of RSpec::Core::ExampleGroup.
  </p>
</section>