<section id="eql" class="slide">
  <h2>Spec::Matchers</h2>
  <h3>Eql matcher</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to eql(expected)
    expect(obj).not_to eql(expected)
  </script>
  <p>
    Passes if given and expected are of equal value, but not necessarily the same object.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.describe "a string" do
      context "#eq" do
        it "is equal to another string of the same value" do
          expect("this string").to eq("this string")
        end
      end
    end
  </script>
  <div id="equal" class="slide">
    <h3>Equal matcher</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      expect(obj).to equal(expected)
      expect(obj).not_to equal(expected)
    </script>
    <p>
      Passes if given and expected are the same object (object identity).
    </p>
    <script type="syntaxhighlighter" class="brush: ruby">
      RSpec.describe "a string" do
        context "#equal" do
          it "is equal to itself" do
            string = "this string"
            expect(string).to equal(string)
          end
        end
      end
    </script>
  </div>

  <p>Note: expect syntax doesn't support '==' matcher</p>
</section>
