<section id="example" class="slide">
  <h2>So, let's create an application</h2>
  <h3>Introducing Codebreaker</h3>
  <p>
    Codebreaker is a logic game in which a code-breaker tries to break a secret code created by a code-maker. The code-maker, which will be played by the application we’re going to write, creates a secret code of four numbers between 1 and 6.
  </p>

  <p>
    The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a guess of four numbers. The code-maker then marks the guess with up to four + and - signs.
  </p>

  <p>
    A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.
  </p>

  <p>
    A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.
  </p>
</section>