<section id="expectations" class="slide">
  <h2>Expectations</h2>
  <p>
    For checking the expectations, <strong>should()</strong> and <strong>should_not()</strong> methods are used.
  </p>
  <h3>Checking equality and identity</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    cow.should == twin_cow
    cow.should eql(cow)

    cow.should === twin_cow
    cow.should equal(cow)
  ]]>
  </script>
  <p>
    The <strong>==</strong> and <strong>eql</strong> methods are used to express values equivalence, and <strong>===</strong> and <strong>equal</strong> are used when you want the receiver and the argument to be the same object.
  </p>
  <p>
    Note: Instead of using <strong>!=</strong>, you should use the <strong>should_not()</strong> method!
  </p>
</section>