<section id="failing-spec" class="slide">
  <h2>Red: Start with a Failing Code Example</h2>

  <p>In game_spec.rb, we want to specify that when we start the game, it sends the right messages to the output.</p>

  spec/codebreaker/game_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'spec_helper'

    module Codebreaker
      describe Game do
        describe "#start" do
          it "generates secret code" do
            game = Game.new
            expect(game).to receive(:generate)
            game.start
          end
          it "saves 4 numbers secret code"
          it "saves secret code with numbers from 1 to 6"
        end
      end
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/codebreaker/game_spec.rb
    3 examples, 1 failures, 2 pending
  </script>
</section>