<section id="first-implementation" class="slide">
  <h2>First implementation</h2>
  spec/burger_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Burger
      def initialize ingredients = {}
        @ingredients = ingredients
      end

      def with_ketchup?
        @ingredients.has_key?(:ketchup) && !!@ingredients[:ketchup]
      end
    end

    RSpec.describe Burger do
      it "should be with ketchup" do
        burger = Burger.new(ketchup: true)
        expect(burger).to be_with_ketchup
      end

      it "should be without ketchup" do
        burger = Burger.new(ketchup: false)
        expect(burger).not_to be_with_ketchup
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/burger_spec.rb
    ..

    Finished in 0.0114 seconds
    2 examples, 0 failures
  </script>
</section>
