<section id="first-implementation" class="slide">
  <h2>First implementation</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    # file spec/burger_spec.rb
    
    class Burger
      def initialize ingredients = {}
        @ingredients = ingredients
      end

      def with_ketchup?
        @ingredients.has_key?(:ketchup) && !!@ingredients[:ketchup]
      end
    end

    describe Burger do
      it "should be with ketchup" do
        burger = Burger.new(:ketchup => true)
        burger.should be_with_ketchup
      end

      it "should be without ketchup" do
        burger = Burger.new(:ketchup => false)
        burger.should_not be_with_ketchup
      end
    end]]>
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/burger_spec.rb 
    ..

    Finished in 0.0114 seconds
    2 examples, 0 failures]]>
  </script>
</section>