<section id="first-test" class="slide">
  <h2>First test</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    # file spec/burger_spec.rb

    describe Burger do
      it "should be with ketchup" do
        burger = Burger.new(:ketchup => true)
        burger.should be_with_ketchup
      end

      it "should be without ketchup" do
        burger = Burger.new(:ketchup => false)
        burger.should_not be_with_ketchup
      end
    end]]>
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/burger_spec.rb 
    spec/burger_spec.rb:1:in '<top (required)>': uninitialized constant Object::Burger (NameError)]]>
  </script>
</section>