<section id="fix-step" class="slide">
  <h2>Fix things up</h2>

  <p>We’ve told the double in the first example to expect puts( ) with “Welcome to Codebreaker!” and we’ve satisfied that requirement, but we’ve only
told it to expect “Welcome to Codebreaker!” It doesn’t know anything about “Enter guess:”</p>

  spec/codebreaker/game_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module Codebreaker
      describe Game do
        describe "#start" do
          it "sends a welcome message" do
            output = double('output').as_null_object
            game = Game.new(output)
            output.should_receive(:puts).with('Welcome to Codebreaker!')
            game.start
          end

          it "prompts for the first guess" do
            output = double('output').as_null_object
            game = Game.new(output)
            output.should_receive(:puts).with('Enter guess:')
            game.start
          end
        end
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/codebreaker/game_spec.rb --format doc

    Codebreaker::Game
      #start
        sends a welcome message
        prompts for the first guess

    Finished in 0.00103 seconds
    2 examples, 0 failures
  </script>
</section>