<section id="helper-methods" class="slide">
  <h2>Sharing helper methods</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    module UserHelpers
      def valid_user
        User.new(email: 'email@example.com', password: 'shhhhh')
      end

      def invalid_user
        User.new(password: 'shhhhh')
      end
    end

    RSpec.describe User do
      include UserHelpers

      it "does something when it is valid" do
        user = valid_user
        # do stuff
      end

      it "does something when it is not valid" do
        user = invalid_user
        # do stuff
      end
    end
  </script>
  <h3>Including helper to each test</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.configure do |config|
      config.include(UserHelpers)
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.configure do |config|
      config.include(UserHelpers), foo: :bar
      config.include Helpers, :include_helpers
      config.extend  Helpers, :extend_helpers
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    it "first test", foo: :bar do
    end

    it "second test", :include_helpers do
    end

    it "third test", :extend_helpers do
    end
  </script>
</section>
