<section id="hooks" class="slide">
  <h2>Before and after hooks</h2>
  <p>
    Use before and after hooks to execute arbitrary code before and/or after the body of an example is run
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    before(:all)  # run one time only, before all of the examples in a group
    before(:each) # run before each example

    after(:each)  # run after each example
    after(:all)   # run one time only, after all of the examples in a group
  </script>
</section>