<section id="how-expectations-work" class="slide">
  <h2>How Expectations work</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to(matcher = nil)
    expect(obj).not_to(matcher = nil)
  </script>
  <p>
    Both methods take an optional Expression Matcher.
  </p>
  <p>
    When <i>to</i> receives an Expression Matcher, it calls <i>matches?(self)</i>. If it returns true, the spec passes and execution continues. If it returns false, then the spec fails with the message returned by matcher.failure_message.
  </p>
  <p>
    Similarly, when <i>not_to</i> receives a matcher, it calls <i>matches?(self)</i>. If it returns false, the spec passes and execution continues. If it returns true, then the spec fails with the message returned by matcher.negative_failure_message.
  </p>
</section>