<section id="include" class="slide">
  <h2>Spec::Matchers</h2>
  <h3>Include</h3>
  <p>
    Passes if given includes expected. This works for collections and Strings. You can also pass in multiple args and it will only pass if all args are found in collection.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    expect([1,2,3]).to include(3)
    expect([1,2,3]).to include(2,3)
    expect("spread").to include("read")
    expect("spread").to_not include("red")
  </script>
  <div id="exist" class="slide">
    <h3>Exist</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      expect(obj).to exist
      expect(obj).not_to exist
    </script>  
    <p>Passes if given.exist?</p>
  </div>
</section>