<section id="include" class="slide">
  <h2>Spec::Matchers</h2>
  <h3>Include</h3>
  <p>
    Passes if given includes expected. This works for collections and Strings. You can also pass in multiple args and it will only pass if all args are found in collection.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      [1,2,3].should include(3)
      [1,2,3].should include(2,3)
      "spread".should include("read")
      "spread".should_not include("red")
    ]]>
  </script>
  <div id="exist" class="slide">
    <h3>Exist</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      should exist
      should_not exist
    ]]>
    </script>  
    <p>Passes if given.exist?</p>
  </div>
</section>