<section id="installation" class="slide">
  <h2>Installation</h2>
  <h3>Setup envirepment</h3>
  <script type="syntaxhighlighter" class="brush: bash">
  $ rvm use 2.3.0@hello-rspec --create
    ruby-2.3.0 - #gemset created /Users/ty/.rvm/gems/ruby-2.3.0@hello-rspec
    ruby-2.3.0 - #generating hello-rspec wrappers - please wait
    Using /Users/ty/.rvm/gems/ruby-2.3.0 with gemset hello-rspec
  </script>
  <h3>Install rspec</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    gem install rspec
  </script>
</section>
