<section id="matchers" class="slide">
  <h2>Matchers</h2>
  <p>
    RSpec ships with a number of useful Expression Matchers. An Expression Matcher is any object that responds to the following methods:
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      matches?(actual)
      failure_message
      negative_failure_message  # optional
      description               # optional
    ]]>
  </script>
</section>