<section id="mocks-and-stubs" class="slide">
  <h2>Doubles</h2>

  <p>A <strong>test double</strong> is an object that stands in for another object in an example.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    thingamajig_double = double('thing-a-ma-jig')
  </script>

  <p>The argument is a name, used for failure reporting, so you should use the role that the double is playing in the example.</p>
</section>