<section id="more-subject" class="slide">
  <h2>Subject</h2>
  spec/subject_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require "spec_helper"

    class Actor
      attr_accessor :name

      def initialize(name = "John")
        @name = name
      end
    end

    RSpec.describe Actor do
      let(:name) { "Ivan" }

      context "without subject redefenition" do
        it { should_not be_nil }

        its(:name) { should == 'John' }
      end

      context "with subject redefinition" do
        let(:actor) {  Actor.new(name) }
        subject { actor }

        it { should_not be_nil }

        it "has name" do
          subject.name.should == name
        end

        its(:name) { should == name }
        its("name.length") { should == name.length }
      end

      context "with subject renaming" do
        subject(:actor) { Actor.new(name) }

        it "has name" do
          actor.name.should  == name
        end
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/subject_spec.rb --format documentation

    Actor
      with subject redefinition
        should not be nil
        has name
        name
          should == "Ivan"
        name.length
          should == 4
      without subject redefenition
        should not be nil
        name
          should == "John"
      with subject renaming
        has name

    Finished in 1.28 seconds
    7 examples, 0 failures
  </script>
</section>
