<section id="resolve-another-step" class="slide">
  <h2>Trying to get green again</h2>

  lib/codebreaker/game.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module Codebreaker
      class Game
        def initialize
          @secret_code = ""
        end

        def start
          @secret_code = "1234"
        end
      end
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/codebreaker/game_spec.rb 
    ...

    Finished in 0.00409 seconds
    3 examples, 0 failures
  </script>
</section>