<section id="ordering" class="slide">
  <h2>Message expectations</h2>
  <h3>Ordering</h3>

  <p>When specifying interactions with a test double, the order of the calls is rarely important. In fact, the ideal situation is to specify only a single call. But sometimes, we need to specify that messages are sent in a specific order.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    dRSpec.escribe Roster do
      it "asks database for count before adding" do
        database = double()
        student = double()

        expect(database).to receive(:count).with('Roster', course_id: 37).ordered
        expect(database).to receive(:add).with(student).ordered

        roster = Roster.new(37, database)
        roster.register(student)
      end
    end
  </script>

  <p>This example will pass only if the <strong>count( )</strong> and <strong>add( )</strong> messages are sent with the correct arguments and in the same order.</p>
</section>
