<section id="output" class="slide">
  <h2>Output</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    expect { obj }.to output("some output").to_stdout
    expect { actual }.to output("some error").to_stderr
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    expect { puts('output') }.to output("output").to_stdout
    expect { warn('error') }.to output("error").to_stderr
  </script>
</section>
