<section id="pending" class="slide">
  <h2>Pending</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
  # file spec/array_spec.rb
  
  describe Array do
    context "#last" do
      it "should return the last element" do
        array = [:first, :second, :third]
        pending "bug report #85346"
        array.last.should == :third
      end

      xit "should not remove the last element" do
        array = [:first, :second, :third]
        array.last
        array.size.should == 3
      end
    end
  end]]>
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
  <![CDATA[
    rspec spec/array_spec.rb --format documentation

    Array
      #last
        should return the last element (PENDING: bug report #85346)
        should not remove the last element (PENDING: Temporarily disabled with xit)

    Pending:
      Array#last should return the last element
        # bug report #85346
        # ./spec/array_spec.rb:42
      Array#last should not remove the last element
        # Temporarily disabled with xit
        # ./spec/array_spec.rb:47

    Finished in 0.0007 seconds
    2 examples, 0 failures, 2 pending]]>
  </script>
</section>