<section id="pending" class="slide">
  <h2>Pending</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  # file spec/array_spec.rb
  
  describe Array do
    context "#last" do
      it "should return the last element" do
        array = [:first, :second, :third]
        pending "bug report #85346"
        array.last.should == :third
      end

      xit "should not remove the last element" do
        array = [:first, :second, :third]
        array.last
        array.size.should == 3
      end
    end

    context "#first" do 
      it "return the first element"
    end
  end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/array_spec.rb --format documentation

    Array
      #last
        should return the last element (PENDING: bug report #85346)
        should not remove the last element (PENDING: Temporarily disabled with xit)
      #first
        return the first element (PENDING: Not yet implemented)

    Pending:
      Array#last should return the last element
        # bug report #85346
        # ./spec/test_spec.rb:5
      Array#last should not remove the last element
        # Temporarily disabled with xit
        # ./spec/test_spec.rb:11
      Array#first return the first element
        # Not yet implemented
        # ./spec/test_spec.rb:19

    Finished in 1.23 seconds
    3 examples, 0 failures, 3 pending
  </script>
</section>