<section id="receive-counts" class="slide">
  <h2>Message expectations</h2>
  <h3>Receive Counts</h3>

  <p>The implicit expectation is that the message passed to should_receive will be called once. You can make the expected counts explicit using the following</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    double.should_receive(:msg).once
    double.should_receive(:msg).twice
    double.should_receive(:msg).exactly(n).times
    double.should_receive(:msg).at_least(:once)
    double.should_receive(:msg).at_least(:twice)
    double.should_receive(:msg).at_least(n).times
    double.should_receive(:msg).at_most(:once)
    double.should_receive(:msg).at_most(:twice)
    double.should_receive(:msg).at_most(n).times
    double.should_receive(:msg).any_number_of_times
    double.should_receive(:msg).never
  </script>
</section>