<section id="refactor" class="slide">
  <h2>Refactor</h2>

  <p>"Refactoring is the process of changing a software system in such a way that it does not alter the external behavior of the code yet improves its internal structure."</p>

  <p>In this case, we have a very clear break between what is context and what is behavior, so let’s take advantage of that and move the context to a block that is executed before each of the examples.</p>

  spec/codebreaker/game_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module Codebreaker
      describe Game do
        describe "#start" do
          let(:game) { Game.new }

          it "generates secret code" do
            expect(game).to receive(:generate)
            game.start
          end
          it "saves 4 numbers secret code" do
            game.start
            expect(game.instance_variable_get(:@secret_code)).to have(4).items
          end
          it "saves secret code with numbers from 1 to 6"
        end
      end
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/codebreaker/game_spec.rb --format doc

    Codebreaker::Game
      #start
        sends a welcome message
        prompts for the first guess

    Finished in 0.00105 seconds
    2 examples, 0 failures
  </script>
</section>