<section id="regexps" class="slide">
  <h2>Spec::Matchers</h2>
  <h3>Regular Expressions</h3>
  <p>For checking strings to match regular expressions, the <strong>match</strong> or <strong>=~</strong> is used. This can be very useful when dealing with multiple-line expectations.</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    result.should match(/this regexp/)
    result.should =~ /this regexp/
  </script>
</section>