<section id="running-specs" class="slide">
  <h2>Running specs and formating output</h2>
  <h3>Running</h3>
  <p>All specs</p>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec
  </script>
  <p>Specs in specific folder</p>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/arrays]]>
  </script>
  <p>Specific spec</p>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/arrays/push_spec.rb]]>
  </script>
  <p>Specific line in spec</p>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/arrays/push_spec.rb:4]]>
  </script>
  <h3>Formating</h3>
  <p>Colorization</p>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/arrays/push_spec.rb --color]]>
  </script>
  <p> Documentation format </p>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rspec spec/arrays/push_spec.rb --format documentation ]]>
  </script>
</section>