<section id="should-receive" class="slide">
  <h2>Message expectations</h2>

  <p>A message expectation is an expectation that the test double will receive a message some time before the example ends. If the message is received, the expectation is satisfied. If not, the example fails.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    describe Zipcode do
      context "when created" do
        it "validates a record with provided validator" do
          validator = double("validator")
          expect(validator).to receive(:validate)

          zipcode = Zipcode.new("02134", validator)
          zipcode.valid?
        end
      end
    end
  </script>

  <p>For a negative expectation</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    network_double.stub(:ping).and_return(false)
    expect(network_double).not_to receive(:open_connection)
  </script>
</section>