<section id="spies" class="slide">
  <h2>Spies</h2>

  <p> Spies are an alternate type of test double that support act-arrange-assert (or given-when-then)
    pattern for structuring tests by allowing you to expect that a message has been received after the fact, using
    <b>have_received</b>.
  </p>

  <h3>Using a spy</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.describe "have_received" do
      it "passes when the message has been received" do
        email = spy('email')
        email.deliver
        expect(email).to have_received(:deliver)
      end
    end
  </script>

  <h3>Spy on a method on a partial double</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Email
      def self.deliver; end
    end

    RSpec.describe "have_received" do
      it "passes when the expectation is met" do
        allow(Email).to receive(:deliver)
        Email.deliver
        expect(Email).to have_received(:deliver)
      end
    end
  </script>

  <h3>Failure when the message has not been received</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Email
      def self.deliver; end
    end

    RSpec.describe "failure when the message has not been received" do
      example "for a spy" do
        email = spy('email')
        expect(email).to have_received(:deliver)
      end

      example "for a partial double" do
        allow(Email).to receive(:deliver)
        expect(Email).to have_received(:deliver)
      end
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
   1) failure when the message has not been received for a spy
      Failure/Error: expect(email).to have_received(:deliver)
        (Double "email").deliver(*(any args))
            expected: 1 time with any arguments
            received: 0 times with any arguments
    2) failure when the message has not been received for a partial double
       Failure/Error: expect(Email).to have_received(:deliver)
        (Email (class)).deliver(*(any args))
            expected: 1 time with any arguments
            received: 0 times with any arguments
  </script>
</section>
