<section id="stub_before_all" class="slide">
  <h2>Stubs and before(:context)</h2>

  <p>Since before(:context) runs outside the scope of any individual example, usage of
rspec-mocks features is not supported there. You can, however, create a temporary scope in
any arbitrary context, including in a before(:context) hook, using
RSpec::Mocks.with_temporary_scope { }.</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.describe "Creating a double in a before(:context) hook" do
      before(:context) do
        RSpec::Mocks.with_temporary_scope do
          user = double(name: 'Alex')
          @result = user.name
        end
      end

      it "allows a double to be created and used from within a with_temporary_scope block" do
        expect(@result).to eq('Alex')
      end
    end
  </script>
</section>
