<section id="types" class="slide">
  <h2>Types and responses</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    expect(obj).to respond_to(expected)
    expect(obj).to be_instance_of(expected)
    expect(obj).to be_kind_of(expected)
  </script>
</section>
