<section id="value-tests" class="slide">
  <h2>The value of tests</h2>
  <p>
    One of the most valuable benefits of tests is that they give you confidence that your code works as you expect it to work. Tests give you the confidence to do long-term development because with tests in place, you know that your foundation code is dependable. Tests give you the confidence to refactor your code to make it cleaner and more efficient.
  </p>
  <p>
    Tests also save you time because tests help prevent regressions from being introduced and released. Once a bug is found, you can write a test for it, you can fix the bug, and the bug can never make it to production again because the tests will catch it in the future.
  </p>
  <p>
    Another advantage is that tests provide excellent implicit documentation because they show exactly how the code is designed to be used.
  </p>
</section>