<section id="criteria-search-engines-optimized" class="slide">
  <h2>Search Engines Optimized</h2>

  <ul>
    <li>
      <h3>Semantic coding</h3>        
      <ul>
        <li>
          Headings for headings, Lists for lists
        </li>
        <li>
          Expressive names for pictures urls
        </li>
      </ul>
    </li>
    <li>
      <h3>Meta-tags</h3>
      <script type="syntaxhighlighter" class="brush: css">
        <![CDATA[
          <meta name="description" content="Free Web tutorials">
          <meta name="keywords" content="HTML, CSS, XML, JavaScript">
        ]]>
      </script>
    </li>
    <li> 
      <h3>Well structured content, usability</h3>
    </li>
  </ul>

</section>