<section id="decompose-conditional-after" class="slide">
  <h3>Decompose conditional</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    def final_charge
      unless summer?(date)
        winter_charge(quantity)
      else
        summer_charge(quantity)
      end
    end

    def summer?(date)
      date >= SUMMER_START && date <= SUMMER_END
    end

    def winter_charge(quantity)
      quantity * @winter_rate + @winter_service_charge
    end

    def summer_charge(quantity)
      quantity * @summer_rate
    end
  </script>
</section>