<section id="decompose-conditional-before" class="slide">
  <h3>Decompose conditional</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    if date < SUMMER_START || date > SUMMER_END
      charge = quantity * @winter_rate + @winter_service_charge
    else
      charge = quantity * @summer_rate
    end
  </script>
</section>