<section id="duplicated-code" class="slide">
  <h2>Duplicated Code</h2>
  <ul>
    <li>The easy form: Two fragments of code look nearly identical.</li>
    <li>The hard form: Two fragments of code have nearly identical effects (at any conceptual level).</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li>Size: The code is bigger than it has to be, with more to understand.</li>
    <li>Flexibility: The change may have to be done in multiple places.</li>
    <li>Communication: The reader must decide whether two things are really expressing one concept, and whether any differences are significant.</li>
  </ul>
  <h3>What to Do</h3>
  <ul><li>If in same class <a href="#extract-method-before">Extract Method</a></li>
    <li>If in two subclasses <a href="#extract-method-before">Extract Method</a> or <a href="#pull-up-method-before">Pull Up Method</a></li>
    <li>If not identical <a href="#form-template-method-before">Form Template Method</a> or <a href="#substitute-algorithm-before">Subtitute Algorithm</a></li>
    <li>If in unrelated locns <a href="#extract-class-before">Extract Class</a> or <a href="#extract-module-before">Extract Module</a></li>
  </ul>
</section>