<section id="extract-module-before" class="slide">
  <h3>Extract Module</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Bid
      before_save :capture_account_number
        
      def capture_account_number
        self.account_number = buyer.preferred_account_number
      end
    end
          
    class Sale
      before_save :capture_account_number
            
      def capture_account_number
        self.account_number = buyer.preferred_account_number
      end
    end
  </script>
</section>