<section id="extract-module-after" class="slide">
  <h3>Extract Module</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    module AccountNumberCapture
      def self.included(klass)
        klass.class_eval do
          before_save :capture_account_number
        end
      end

      def capture_account_number
        self.account_number = buyer.preferred_account_number
      end
    end

    class Bid
      include AccountNumberCapture
    end
          
    class Sale
      include AccountNumberCapture
    end
  </script>
</section>