<section id="extract-method-before" class="slide">
  <h3>Extract Method</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post
      attr_reader :title, :body, :date

      def initialize(title, body, date)
        @title  = title
        @body   = body
        @date   = date
      end

      def condensed_format
        result = ''
        result << "Title: #{title}"
        result << "Date: #{date.strftime "%Y/%m/%d"}"
        result
      end

      def full_format
        result = ''
        result << "Title: #{title}"
        result << "Date: #{date.strftime "%Y/%m/%d"}"
        result << "--\n#{body}"
        result
      end
    end
  </script>
</section>