<section id="form-template-method-before" class="slide">
  <h3>Form Template Method</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Ticket
      attr_reader :price

      def initialize
        @price = 2.0
      end
    end

    class SeniorTicket < Ticket
      def price
        @price * 0.75
      end
    end

    class JuniorTicket < Ticket
      def price
        @price * 0.5
      end
    end
  </script>
</section>