<section id="inline-method-before" class="slide">
  <h3>Inline Method</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Rating
      def get_rating
        @number_of_late_deliveries > 5 ? 2 : 1
      end
    end
  </script>
</section>