<section id="inline-class-before" class="slide">
  <h3>Inline Class</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Person
      def initialize
        @office_telephone = TelephoneNumber.new
      end

      def telephone_number
        @office_telephone.telephone_number
      end

      def office_telephone
        @office_telephone
      end
    end

    class TelephoneNumber
      attr_accessor :area_code, :number

      def telephone_number
        '(' + area_code + ') ' + number
      end
    end

    martin = Person.new
    martin.office_telephone.area_code = "781"
  </script>
</section>