<section id="introduce-parameter-object-after" class="slide">
  <h3>Introduce Parameter Object</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Account
      def add_charge(charge)
        @charges << charge
      end

      def total_charge
        @charges.inject(0) do |total_for_account, charge|
          total_for_account + charge.total
        end
      end
    end

    class Charge
      def initialize(base_price, tax_rate, imported)
        @base_price = base_price
        @tax_rate = tax_rate
        @imported = imported
      end

      def total
        result = @base_price + @base_price * @tax_rate
        result += @base_price * 0.1 if @imported
        result
      end
    end

    account = Account.new
    account.add_charge(Charge.new(9.0, 0.1, true))
    account.add_charge(Charge.new(12.0, 0.125, true))
    total = account.total_charge
  </script>
</section>