<section id="introduce-named-parameter-after" class="slide">
  <h3>Introduce Named Parameter</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class SearchCriteria
      def initialize(title: nil, author_id: nil, publisher_id: nil)
        @title = title
        @author_id = author_id
        @publisher_id = publisher_id
      end
    end

    criteria = SearchCriteria.new(title: "Metaprogramming Ruby", author_id: 5)
  </script>
</section>