<section id="introduce-assertion-before" class="slide">
  <h3>Introduce assertion</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class SquareRootCalculator
      class << self
        def calculate number
          if number > 0
            Math.sqrt number
          end
        end
      end
    end
  </script>
</section>