<section id="large-module" class="slide">
  <h2>Large Class or Module</h2>
  <ul>
    <li>A class or module has a large number of instance variables, methods, or just lines of code.</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li>Testability: A Large Module is usually difficult to test, either because it depends on many other modules or because it is difficult or time-consuming to create instances in isolation.</li>
    <li>Flexibility: The module represents too many responsibilities folded together that is, every Large Module is also a Greedy Module.</li>
  </ul>
  <h3>What to Do</h3>
  <ul>
    <li>To break up the module further, use <a href="#extract-class-before">Extract Class</a> or <a href="#extract-class-module">Extract Module</a> if you can identify a new piece that has part of this module's responsibilities</li>
    <li>Also will be useful <a href="#replace-type-code-with-polymorphism-before">Replace Type Code with Polymorphism</a>, <a href="#replace-type-code-with-module-extension-before">Replace Type Code with Module Extension</a>, <a href="#replace-type-code-with-state-strategy-before">Replace Type Code with State Strategy</a></li>
    <li>Very often a review of the module reveals a composite of other smells, such as Long Methods, Data Clumps, and Temporary Fields; fix these smells first.</li>
  </ul>
</section>