<section id="long-method" class="slide">
  <h2>Long Method</h2>
  <ul>
    <li>A method has a large number of lines. (We’re immediately suspicious of any method with more than five lines.)</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li>Flexibility: A Long Method is guaranteed to be a Greedy Method at least two responsibilities are coupled together in one place, which in turn leads to Divergent Change.</li>
    <li>Testability: It can be difficult to isolate individual behaviors of a Long Method for testing; and if a method does too much it may also be difficult to create fixtures that contain enough context for the method to work properly.</li>
  </ul>
  <h3>What to Do</h3>
  <ul>
    <li>If no prob with params use <a href="#extract-method-before">Extract Method</a> to break up the method into smaller pieces. Look for comments or white space delineating interesting fragments. You want to extract methods that are semantically meaningful, not just introduce a function call every seven lines.</li>
    <li>If the method doesn't separate easily into pieces, consider <a href="#replace-method-with-method-object-before">Replace Method with Method Object</a> to turn the method into a separate object, or <a href="#replace-temp-with-query-before">Replace Temp with Query</a></li>
    <li>If has loops and conditionals <a href="#decompose-conditional-before">Decompose Conditional</a> or Replace Loop with <a href="#collection-closure-method-before">Collection Closure Method</a></li>
  </ul>
</section>