<section id="message-chain" class="slide">
  <h2>Message Chain</h2>
  <ul>
    <li>You see calls of the form a.b.c.d.</li>
  </ul>
  <h3>What to Do</h3>
  <ul>
    <li>If the manipulations actually belong on the target object (the one at the end of the chain), use <a href="#extract-method-before">Extract Method</a> and <a href="#move-field-before">Move Method / Move Feild</a> to put them there.</li>
    <li>Use <a href="#hide-delegate-before">Hide Delegate</a> and <a href="#inline-class-before">Inline Class</a> to make the caller depend only on the object at the head of the chain. (So, rather than a.b.c.d, put a d method on the a object. That may require adding a d method to the b and c objects as well.)</li>
  </ul>
</section>