<section id="middle-man" class="slide">
  <h2>Middle Man</h2>
  A class that mostly delegates its work is known as a Middle Man:
  <ul>
    <li>Most methods of a class call the same or a similar method on another object:</li>
  </ul>
  <script type="syntaxhighlighter" class="brush: ruby">
    def f
      @delegate.f
    end
  </script>
  <h3>Problems</h3>
  <ul>
    <li>Size: If the Middle Man really is superfluous, our system has one more class than it needs.</li>
    <li>Communication: Extra code always slows the reader, and it occupies part of the do- main’s namespace, possibly using names that may be useful elsewhere.</li>
  </ul>
  <h3>What to Do</h3>
  <ul>
    <li>In general, use <i>Remove Middle Man</i></a> by having the client call the delegate directly.</li>
    <li></li>
  </ul>
</section>