<section id="uncommunicative-name" class="slide">
  <h2>Uncommunicative Name</h2>
  A name doesn't communicate its intent well enough. Examples of this can include:
  <ul>
    <li>One or two character names (mn, ts, sc).</li>
    <li>Names with vowels omitted (lgn, psh).</li>
    <li>Numbered variables (pane1, pane2).</li>
    <li>Odd abbreviations (par, dis, mov).</li>
    <li>Variable names that reflect their type rather than their purpose or role (i_count, s_name).</li>
    <li>Misleading names.</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li>Communication: Poor names deceive the reader; they make it harder to build a mental picture of what's going on, and they can be misinterpreted. They also hurt the flow of reading as the reader must slow down to interpret the names.</li>
    <li>Flexibility: Very short names can be difficult to change, even with automated refactoring tools.</li>
  </ul>
  <h3>What to Do</h3>
  <ul>
    <li>Use <a href="#rename-method-before">Rename Method</a> (or field, constant, etc.) to give it a better name</li>
  </ul>
</section>