<section id="parameterize-method-after" class="slide">
  <h3>Parameterize Method</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Student
      GRADES = {
        first: 10,
        second: 11,
        third: 12
      }

      def term_grade index
        GRADES[index]
      end
    end
  </script>
</section>