<section id="remove-middle-man-before" class="slide">
  <h3>Remove Middle Man</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Person
      def initialize(department)
        @department = department
      end
      
      def manager
        @department.manager
      end
    end

    class Department
      attr_reader :manager

      def initialize(manager)
        @manager = manager
      end
    end

    manager = john.manager
  </script>
</section>