<section id="rename-method-after" class="slide">
  <h3>Rename Method</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class UserService
      USERNAME = "josemota"
      PASSWORD = "secret"

      class << self
        def sign_in username, password
          username == USERNAME && password == PASSWORD
        end
      end
    end
  </script>
</section>