<section id="replace-temp-with-query-after" class="slide">
  <h3>Replace Temp With Query</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Cuboid
      attr_reader :length, :width, :height
      
      def initialize(length, width, height)
        @length = length
        @width  = width
        @height = height
      end

      def volume
        area * height
      end

      def area
        length * width
      end
    end
  </script>
</section>