<section id="substitute-algorithm-after" class="slide">
  <h3>Substitute Algorithm</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    def found_friends(people)
      people.select do |person|
        %w(Don John Kent).include? person
      end
    end
  </script>
</section>