<section id="substitute-algorithm-before" class="slide">
  <h3>Substitute Algorithm</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    def found_friends(people)
      friends = []
      people.each do |person|
        if(person == "Don")
          friends << "Don"
        end
        
        if(person == "John")
          friends << "John"
        end
        
        if(person == "Kent")
          friends << "Kent"
        end
      end
      friends
    end
  </script>
</section>