<section id="temporary-field" class="slide">
  <h2>Temporary Field</h2>
  <ul>
    <li>An instance variable is set only at certain times, and it is nil (or unused) at other times.</li>
  </ul>
  <h3>Problems</h3>
  <ul>
    <li>Abstraction: Parts of the object change at different rates, and the class spends effort coordinating the changes. This suggests there is an implicit concept that can be brought out (with its own lifetime).</li>
  </ul>
  <h3>When to Leave It</h3>
  <p>It may not be worth the trouble of creating a new class if it doesn’t represent a useful abstraction.</p>
  <h3>What to Do</h3>
  <ul>
    <li>Use <a href="#extract-class-before">Extract Class</a>, moving over the fields and any related code.</li>
    <li>Also <a href="#introduce-null-object-before">Introduce Null Object</a>, <a href="#replace-method-with-method-object-before">Replace Method with Method Object</a>, <a href="#replace-temp-with-query-before">Replace Temp with Query</a></li>
  </ul>
</section>