<section id="about_oop" class="slide">
  <div class="vcenter">
    <h1>Object-oriented programming</h1>
    <div class="about">
      <p><strong>Object-oriented programming (OOP)</strong> is a programming paradigm that represents the concept of "objects" that have data fields (attributes that describe the object) and associated procedures known as methods. Objects, which are usually instances of classes, are used to interact with one another to design applications and computer programs.</p>
    </div>
  </div>
</section>
