<section id="class-variables" class="slide">
  <h2>Class variables</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class BookInStock
      attr_reader :title, :author, :price

      @@count = 0

      def initialize(title, author, price)
        @title, @author, @price = title, author, Float(price)
        @@count += 1
      end

      def self.statistics
        "Count of books: " + @@count.to_s
      end
    end

    5.times{ BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99) }
    BookInStock.statistics # => Count of books: 5

    book = BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99)
    book.count # => NoMethodError: undefined method 'count'
  </script>
</section>
