<section id="objects-comparasions" class="slide">
  <h2>Class method</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      class BookInStock
        attr_reader :title, :author, :price

        def initialize(title, author, price)
          @title = title
          @author = author
          @price = Float(price)
        end

        def BookInStock.total_amount(*books) # self.total_amount(*books)
          books.map(&:price).inject(0, &:+)
        end
      end

      book1 = BookInStock.new("t1", "a1", 10)
      book2 = BookInStock.new("t2", "a2", 20)
      BookInStock.total_amount(book1, book2) # => 30.0
    ]]>
  </script>
  <div class="slide">
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
      class BookInStock
        class << self # class << BookInStock
          def total_amount(*books)
            #code
          end

          def another
            #code
          end
      end
      ]]>
    </script>
  </div>
</section>
