<section id="class-hierarchy" class="slide">
  <h2>Class and modules hierarchy, ancestors</h2>
  <img src="/assets/hierarchy_with_module.png" />
    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      Class.new.ancestors # => [#<Class:0x0000000268a568>, Object, Kernel, BasicObject]
    ]]>
  </script>
</section>
