<section id="constants" class="slide">
  <h2>Class constants</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class BookInStock
      PUBLISHING = "Book House"
    end

    BookInStock::PUBLISHING # => Books House

    BookInStock::MIN_PRICE = 10
    BookInStock::MIN_PRICE # => 10

    BookInStock::MIN_PRICE = 20 # => warning: already initialized constant BookInStock::MIN_PRICE
    BookInStock::MIN_PRICE # => 20
  </script>
</section>
