<section class="slide" id="constant-lookup-order">
  <h2>Constant lookup order</h2>
  <p>
    The list of modules searched, in the order searched<br/>
    [Enclosing::Local, Enclosing, Included, Super, Object, Kernel]
  </p>

  <script type="syntaxhighlighter" class="brush: ruby">
    module Kernel
      A = B = C = D = E = F = "from kernel"
    end

    A = B = C = D = E = "from toplevel"

    class Super
      A = B = C = D = "from superclass"
    end

    module Included
      A = B = C = "from included module"
    end
    
    module Enclosing
      A = B = "from enclosing module"

      class Local < Super
        include Included

        A = "defined locally"

        puts A  # "defined locally"
        puts B  # "from enclosing module"
        puts C  # "from included module"
        puts D  # "from superclass"
        puts E  # "from toplevel"
        puts F  # "from kernel"
      end
    end
  </script>
</section>