<section id="defining-simple-class" class="slide">
  <h2>Defining a simple class</h2>
  <h3>Creating the class</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class BookInStock
    end
  </script>
  <div id="define-ruby-objects" class="slide">
    <h3>Define ruby objects</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      book = BookInStock.new
      book.class # => BookInStock
      book.is_a? BookInStock # => true # this method returna true if object is an instance a subclass
      book.kind_of? BookInStock # => true  # this method returna true if object is an instance a subclass
      book.instance_of? BookInStock # => true
    </script>
  </div>
  <div class="slide" id="initializing-class" >
    <h3>Initializing the class</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      class BookInStock
        def initialize(title, author, price)
          @title = title
          @author = author
          @price = Float(price)
        end
      end

      BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99)
    </script>
  </div>
</section>
