<section id="exceptions" class="slide">
  <h2>Exceptions: begin, rescue, raise</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    begin 
      puts 'I am before the raise.'
      raise 'An error has occured.'
      puts 'I am after the raise.'
    rescue
      puts 'I am rescued.'
    end
    puts 'I am after the begin block.'
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    I am before the raise.
    I am rescued.
    I am after the begin block.
  </script>
</section>
