<section id="mixins" class="slide">
  <h2>Mixins</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    module AudioConverter
      def compare_formats another_file
        File.extname(@file) == File.extname(another_file)
      end
    end

    class AudioUpload
      include AudioConverter

      def initialize(file) 
        @file = file
      end
    end

    audio_upload = AudioUpload.new("music.mp3")
    audio_upload.compare_formats("video.avi")
  </script>

  <div class="slide" id="require-mixin">
    <h3>require</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      require 'audio_converter'

      class AudioUpload
        include AudioConverter  

        def initialize(file) 
          @file = file
        end
      end
    </script>
  </div>
</section>
