<section id="mixins" class="slide">
  <h2>Mixins</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class AudioUpload
      include AudioConverter

      def initialze(file, name) 
        name, file, format = name, file, AudioConverter.get_format file   
      end
    end
  </script>

  <div class="slide">
    <script type="syntaxhighlighter" class="brush: ruby">
      class AudioUpload
        require 'audio_converter'

        def initialze(file, name) 
          name, file, format = name, file, AudioConverter.get_format file   
        end  
      end
    </script>
  </div>
</section>
