<section id="module-constants-paths" class="slide">
  <h2>Module constants, paths</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    module M 
      class C 
        X = 'a constant'
      end 
      C::X  # => "a constant"
    end
    M::C::X # => "a constant"

    module M
      Y = 'another constant'
      class C
        ::M::Y # => "another constant"
      end
    end

    M.constants

    module M
      class C
        module M2
          Module.nesting # => [M::C::M2, M::C, M]
        end
      end
    end
  </script>
</section>
