<section id="module" class="slide">
  <h2>Module</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    module AudioConverter
      class Decoder
        def initialize file
          @file, @format = @file, AudioHelpers.get_format(file)
        end
      end
      
      class Encoder
        def initialize file
          @file, @format = @file, AudioHelpers.get_format(file)
        end      
      end

      class AudioHelpers 
        def self.get_format file
          File.extname(file)
        end
      end
    end

    AudioConverter::Decoder.new("music.mp3")
  </script>
</section>
