<section id="module" class="slide">
  <h2>Module</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    module AudioConverter
      class Decorder
      
      end
      
      class Encoder
      
      end

      def AudioConverter.get_format file

      end
    end
  </script>
</section>
