<section id="object-oriented-programming" class="slide">
  <center>
    <h2>Object-oriented programming</h2>
    <p class="method-call">A method call in Ruby is actually the sending of a message to a receiver. When you write <strong>obj.meth</strong>, you're sending the <strong>meth</strong> message to the object <strong>obj</strong>. <strong>obj</strong> will respond to <strong>meth</strong> if there is a method body defined for it.</p>
    <img src="/assets/player_class.png" />
  </center>
</section>
