<section id="publci-private-protected" class="slide">
  <h2>Method visibility: public, protected, private</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class BookInStock
      attr_reader :title, :author, :price

      def initialize(title, author, price)
        @title, @author, @price = title, author, Float(price)
      end

      def buy_with(other)
        self.discount + other.discount
      end

      def full_cost
        @price + tax
      end

      def tax_for_two(other) # error
        tax + other.tax      # you can user private method only for self
      end

      protected
        def discount
          @price * 0.9
        end

      private
        def tax
          @price * 0.2
        end 
    end

    fitzgerald_book  = BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99)
    hemigway_book    = BookInStock.new("The Old Man and the Sea ", "Ernest Hemingway", 7.6)

    fitzgerald_book.buy_with hemigway_book    # => 14.93
    fitzgerald_book.full_cost                 # => 10.78

    fitzgerald_book.discount                  # => NoMethodError: protected method 'discount' called
    fitzgerald_book.tax_for_two hemigway_book # => NoMethodError: private method 'tax' called
  </script>
</section>
