<section id="self-in-ruby" class="slide">
  <h2>Self in Ruby</h2>
  <p>The keyword <strong>self</strong> in Ruby gives you access to the current object – the object that is receiving the current message.</p>
  <h3>Self in instance method definitions</h3>
  <p>At the time the method definition is executed, the most you can say is that self inside this method will be some future object that has access to this method.<p/>
  <script type="syntaxhighlighter" class="brush: ruby">
    class S  
      def m  
        self
      end  
    end  
    s = S.new  
    s.m # => <S:0x007ff4fa038a58>
  </script>
</section>
