<section id="singleton" class="slide">
  <h2>Singleton pattern</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      require 'singleton'

      class BookStats
        include Singleton 

        def initialize
          @count, @titles = 0, []
        end

        def add(book)
          @count += 1
          @titles << book.title
        end

        def report
          puts "Number of books: #{@count}"
          puts "Titles: #{@titles.join(', ')}"
        end
      end
 
      class BookInStock
        attr_reader :title, :author, :price

        def initialize(title, author, price)
          @title, @author, @price = title, author, Float(price)
          BookStats.instance.add(self)
        end
      end

      fitzgerald_book  = BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99)
      hemigway_book    = BookInStock.new("The Old Man and the Sea ", "Ernest Hemingway", 7.6)

      BookStats.instance.report # => Number of books: 2
                                # => Titles: The Great Gatsby, The Old Man and the Sea 

    ]]>
  </script>
</section>
