<section id="super-method" class="slide">
  <h2>Method super</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class PrintPublication
      def initialize(title, author)
        @title, @author = title, author
      end
    end

    class BookInStock < PrintPublication
      def initialize(title, author, price)
        @price = price
        super(title, author)
      end
    end

    book = BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99) 
    # => #<BookInStock:0x000000024f2408 @price=8.99, @title="The Great Gatsby", @author="F. Scott Fitzgerald">
  </script>
  <div class="slide" id="super-method-arguments">
    <script type="syntaxhighlighter" class="brush: ruby">
      class BookInStock < PrintPublication
        def initialize(title, author, price)
          @price = price
          super # => ArgumentError: wrong number of arguments (3 for 2)
        end
      end
    </script>
  </div>
  <div class="slide" id="without-super-method">
    <script type="syntaxhighlighter" class="brush: ruby">
      class BookInStock < PrintPublication
        def initialize(title, author, price)
          @price = price
        end
      end

      book = BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99) 
      # =>  #<BookInStock:0x000000025404f0 @price=8.99> 
    </script>
  </div>
</section>
