<section id="tasks" class="slide">
  <h2>Tasks</h2>
  <h3>Library</h3>
  <ul>
    <li>Book: title, author</li>
    <li>Order: book, reader, date</li>
    <li>Reader: name, email, city, street, house</li>
    <li>Author: name, biography</li>
    <li>Library: books, orders, readers, authors</li>
  </ul>
  Write program that determines:
  <ul>
    <li>Who often takes the book</li>
    <li>What is the most popular book</li>
    <li>How many people ordered one of the three most popular books</li>
    <li>Save all Library data to file(s)</li>
    <li>Get all Library data from file(s)</li>
  </ul>
</section>
