<section id="tasks" class="slide">
  <h2>Tasks</h2>
  <ul>
    <li>In library each book order includes information about reader: name, order date, issue date. Write program that determines:
      <ol>
        <li>the smallest period for which library found a book</li>
        <li>how many orders were not satisfied</li>
        <li>who often takes the book</li>
        <li>what is the most popular book</li>
        <li>how many people ordered one of the three most popular books.</li>
      </ol>
    </li>
    <li>Describe the mail sorting (city, street, house, apartment, destination, value). Write a program that determines: 
      <ol>
        <li>the number of parcels sent to some city</li>
        <li>how many parcels with value higher than 10  were sent</li>
        <li>what is the most popular address</li>
      </ol>
    </li>
  </ul>
</section>
