<section id="tasks" class="slide">
  <h2>Tasks</h2>
  <ul>
    <li>In library each book order includes information about reader: name, order date, issue date. Write program that determines: 
      1) the smallest period for which library found a book 
      2) how many orders were not satisfied 
      3) who often takes the book 
      4) what is the most popular book
      5) how many people ordered one of the three most popular books.</li><br/>
    <li>Describe the mail sorting (city, street, house, apartment, destination, value). Write a program that determines: 
      1) the number of parcels sent to some city 
      2) how many parcels with value higher than 10  were sent 
      3) what is the most popular address</li>
  </ul>
</section>
