<section id="virtual-attributes" class="slide">
  <h2>Virtual attributes</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class BookInStock
      attr_reader :title, :author, :price

      def initialize(title, author, price)
        @title, @author, @price = title, author, Float(price)
      end

      def price_in_cents
        Integer(@price * 100 + 0.5)
      end

      def price_in_cents=(value)
        @price = value / 100.0
      end
    end

    book = BookInStock.new("The Great Gatsby", "F. Scott Fitzgerald", 8.99)

    book.price_in_cents = 100 
    book.price                # => 1.0
    book.price_in_cents       # => 100
  </script>
</section>
