<section id="assotiations" class="slide">
  <h2>Associations</h2>

  <strong>post.js.coffee</strong>
  <script type="syntaxhighlighter" class="brush: js">
    <![CDATA[
      class Blog.Models.Post extends Backbone.Model
        paramRoot: 'post'

        defaults:
          title: null
          body: null

        initialize: ->
          @on('change:comments', @parseComments)
          @parseComments()

        parseComments: =>
          json = @get('comments')
          if @comments
            @comments.reset(json)
          else
            @comments = new Blog.Collections.PostsCollection(json)
    ]]>
  </script>

  <br/>

  <img src="/assets/backbone/association.png">
</section>