<section id="ejs" class="slide">
  <h2>EJS</h2>
  <p style="text-align: center;">&lt;% Embedded JavaScript %&gt;</p>
  <br/>
  <p><strong>About.</strong></p>
  <p>EJS cleans the HTML out of your JavaScript with client side templates. After EJS gets its rubber gloves on dirty code, you'll feel organized and uncluttered.</p>
  <script type="syntaxhighlighter" class="brush: js">
    <ul>
    &lt;%= for(var i=0; i<supplies.length; i++) {%&gt;
       <li>&lt;%= supplies[i] %&gt;</li>
    &lt;% } %&gt;
    </ul>
  </script>
</section>