<section id="history" class="slide">
  <h2>History</h2>
  <strong>posts.js</strong>
  <script type="syntaxhighlighter" class="brush: js">
    $ ->
      new Blog.Routers.PostRouter({posts: postsJSON})
      Backbone.history.start()
  </script>

  <strong>posts/index.html.erb</strong>
  <script type="syntaxhighlighter" class="brush: ruby">
    <div id='posts'>
      <script type='text/javascript'>
        this.postsJSON = &lt;%= @post.to_json.html_safe %&gt;
      &lt;/script>
    </div>
  </script>  
</section>