<section id="models" class="slide">
  <h2>Model</h2>

  <div class=centred-block>
    <h3><strong>What do they do?</strong></h3>

    <ul>
      <li>Store data</li>
      <li>Provide get/set accessors</li>
      <li>Fire events when modified</li>
      <li>Optionally make REST calls to a server for persistence</li>
    </ul>
  </div>
</section>