<section id="nested-use" class="slide">
  <h2>Nested attributes</h2>

  <img src="/assets/backbone/nested.png">
  <br/>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      Started POST "/posts" for 127.0.0.1 at 2013-07-29 19:57:50 +0300
      Processing by PostsController#create as JSON
        Parameters: {"post"=>{"title"=>"Backbone", "body"=>nil, "image_attributes"=>{"description"=>"image description"}}}
         (0.1ms)  begin transaction
        SQL (0.4ms)  INSERT INTO "posts" ("created_at", "title", "updated_at") VALUES (?, ?, ?)  
        [["created_at", Mon, 29 Jul 2013 16:57:50 UTC +00:00], ["title", "Backbone"], ["updated_at", Mon, 29 Jul 2013 16:57:50 UTC +00:00]]
        SQL (0.3ms)  INSERT INTO "images" ("created_at", "description", "post_id", "updated_at") VALUES (?, ?, ?, ?)
        [["created_at", Mon, 29 Jul 2013 16:57:50 UTC +00:00], ["description", "image description"], ["post_id", 10], ["updated_at", Mon, 29 Jul 2013 16:57:50 UTC +00:00]]
         (190.3ms)  commit transaction
        Rendered posts/show.json.jbuilder (0.3ms)
      Completed 201 Created in 234ms (Views: 3.2ms | ActiveRecord: 191.5ms)
    ]]>
  </script>
</section>