<section id="rails-backbone" class="slide">
  <h2>Installation</h2>
  <p>Gemfile</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    gem 'rails-backbone'
  </script>
  <br/>

  <p>Console</p>
  <script type="syntaxhighlighter" class="brush: bash">
    á… rails g backbone:install

      insert  app/assets/javascripts/application.js
      create  app/assets/javascripts/backbone/routers
      create  app/assets/javascripts/backbone/routers/.gitkeep
      create  app/assets/javascripts/backbone/models
      create  app/assets/javascripts/backbone/models/.gitkeep
      create  app/assets/javascripts/backbone/views
      create  app/assets/javascripts/backbone/views/.gitkeep
      create  app/assets/javascripts/backbone/templates
      create  app/assets/javascripts/backbone/templates/.gitkeep
      create  app/assets/javascripts/backbone/blog.js.coffee
  </script>
</section>