<section id="scaffold" class="slide">
  <h2>Server side</h2>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      ᐅ rails g scaffold post title:string body:text
        invoke  active_record
        create    db/migrate/20130727123757_create_posts.rb
        create    app/models/post.rb
        invoke    test_unit
        create      test/models/post_test.rb
        create      test/fixtures/posts.yml
        invoke  resource_route
         route    resources :posts
        invoke  scaffold_controller
        create    app/controllers/posts_controller.rb
    ]]>
  </script>
  <h2>Backbone scaffold</h2>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      ᐅ rails g backbone:scaffold post title:string body:text
        create  app/assets/javascripts/backbone/models/post.js.coffee
        create  app/assets/javascripts/backbone/routers/posts_router.js.coffee
        create  app/assets/javascripts/backbone/views/posts/index_view.js.coffee
        create  app/assets/javascripts/backbone/templates/posts/index.jst.ejs
        create  app/assets/javascripts/backbone/views/posts/show_view.js.coffee
        create  app/assets/javascripts/backbone/templates/posts/show.jst.ejs
        create  app/assets/javascripts/backbone/views/posts/new_view.js.coffee
        create  app/assets/javascripts/backbone/templates/posts/new.jst.ejs
        create  app/assets/javascripts/backbone/views/posts/edit_view.js.coffee
        create  app/assets/javascripts/backbone/templates/posts/edit.jst.ejs
        create  app/assets/javascripts/backbone/views/posts/post_view.js.coffee
        create  app/assets/javascripts/backbone/templates/posts/post.jst.ejs
    ]]>
  </script>
</section>