<section id="structure" class="slide">
  <h2>Structure</h2>

  <p>application.js</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    // Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
    // about supported directives.
    //
    //= require jquery
    //= require jquery_ujs
    //= require turbolinks
    //= require underscore
    //= require backbone
    //= require backbone_rails_sync
    //= require backbone_datalink
    //= require backbone/blog
    //= require_tree .
  </script>

  <p>blog.js.coffee</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    #= require_self
    #= require_tree ./templates
    #= require_tree ./models
    #= require_tree ./views
    #= require_tree ./routers

    window.Blog =
      Models: {}
      Collections: {}
      Routers: {}
      Views: {}
  </script>

</section>