<section id="validations" class="slide">
  <h2>Validation</h2>
  <script type="syntaxhighlighter" class="brush: js">
    <![CDATA[
      class Blog.Models.Post extends Backbone.Model
        paramRoot: 'post'

        validate: (attributes)->
          errors = []
          if !attribute.title || attribute.title.length < 5
            errors.push("Title is too short")
          if !attribute.body || attribute.body.length == 0
            errors.push('Body is empty')

          if errors.length > 0
            errors
    ]]>
  </script>

  <br/>
  <h3>validate is called before set() and save()</h3>
</section>