<section id="view" class="slide">
  <h2>Views</h2>

  <div class=centred-block>
    <h3><strong>What do they do?</strong></h3>

    <ul>
      <li>Display data & UI controls</li>
      <li>Render data with a template</li>
      <li>React to model changes</li>
      <li>Act on user input</li>
    </ul>
  </div>
</section>