<section id="view-example2" class="slide">
  <h2>Views</h2>

  <strong>new_view.js.coffee</strong>
  <script type="syntaxhighlighter" class="brush: js">
    Blog.Views.Posts ||= {}

    class Blog.Views.Posts.NewView extends Backbone.View
      template: JST["backbone/templates/posts/new"]

      events:
        "submit #new-post": "save"

      constructor: (options) ->
        super(options)
        @model = new @collection.model()

        @model.bind("change:errors", () =>
          this.render()
        )

      save: (e) ->
        e.preventDefault()
        e.stopPropagation()

        @model.unset("errors")

        @collection.create(@model.toJSON(),
          success: (post) =>
            @model = post
            window.location.hash = "/#{@model.id}"

          error: (post, jqXHR) =>
            @model.set({errors: $.parseJSON(jqXHR.responseText)})
        )

      render: ->
        $(@el).html(@template(@model.toJSON() ))

        this.$("form").backboneLink(@model)

        return this
  </script>
</section>