<section id="files-structure" class="slide">
  <h2>Files structure</h2>

  shopping_cart.gemspec
  <script type="syntaxhighlighter" class="brush: ruby">
    $:.push File.expand_path("../lib", __FILE__)

    # Maintain your gem's version:
    require "shopping_cart/version"

    # Describe your gem and declare its dependencies:
    Gem::Specification.new do |s|
      s.name        = "shopping_cart"
      s.version     = ShoppingCart::VERSION
      s.authors     = ["Vladimir Vorobyov"]
      s.email       = ["sparrowpublic@gmail.com"]
      s.homepage    = "TODO"
      s.summary     = "TODO: Summary of ShoppingCart."
      s.description = "TODO: Description of ShoppingCart."
      s.license     = "MIT"

      s.files = Dir["{app,config,db,lib}/**/*", "MIT-LICENSE", "Rakefile", "README.rdoc"]
      s.test_files = Dir["test/**/*"]

      s.add_dependency "rails", "~> 4.2.0"

      s.add_development_dependency "sqlite3"
    end
  </script>

  lib/shopping_cart.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require "shopping_cart/engine"

    module ShoppingCart
    end
  </script>

  lib/shopping_cart/engine.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module ShoppingCart
      class Engine < ::Rails::Engine
        isolate_namespace ShoppingCart
      end
    end
  </script>

  app/controllers/shopping_cart/application_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module ShoppingCart
      class ApplicationController < ActionController::Base
      end
    end
  </script>

  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    ShoppingCart::Engine.routes.draw do
    end
  </script>
  <p>Then ensure that this file is loaded at the top of your config/application.rb (or in your Gemfile) and it will automatically load models, controllers and helpers inside app, load routes at config/routes.rb, load locales at config/locales/*, and load tasks at lib/tasks/*.</p>
</section>