<section id="full-or-mountable" class="slide">
  <h2>Full or mountable</h2>
  <p>Both options will generate an engine. The difference is that --mountable will create the engine in an isolated namespace, whereas --full will create an engine that shares the namespace of the main app.</p>
  <p>The differences will be manifested in 3 ways.</p>

  <h3>The engine class file will call isolate_namespace</h3>
  <h4>Full engine</h4>
  lib/my_full_engine/engine.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyFullEngine
      class Engine < Rails::Engine
      end
    end
  </script>
  <h4>Mounted engine</h4>
  lib/my_mountable_engine/engine.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyMountableEngine
      class Engine < Rails::Engine
        isolate_namespace MyMountableEngine # --mountable option inserted this line
      end
    end
  </script>

  <h3>The engine's config/routes.rb file will be namespaced</h3>
  <h4>Full engine</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    Rails.application.routes.draw do
    end
  </script>
  <h4>Mounted engine</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    MyMountableEngine::Engine.routes.draw do
    end
  </script>
  The parent application could bundle it's functionality under a single route such as
  <script type="syntaxhighlighter" class="brush: ruby">
    mount MyMountableEngine::Engine => "/engine", :as => "namespaced"
  </script>

  <h3>The file structure for controllers, helpers, views, and assets will be namespaced</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    create app/controllers/my_mountable_engine/application_controller.rb
    create app/helpers/my_mountable_engine/application_helper.rb
    create app/mailers 
    create app/models
    create app/views/layouts/my_mountable_engine/application.html.erb
    create app/assets/images/my_mountable_engine
    create app/assets/stylesheets/my_mountable_engine/application.css
    create app/assets/javascripts/my_mountable_engine/application.js
    create config/routes.rb 
    create lib/my_mountable_engine.rb
    create lib/tasks/my_mountable_engine.rake
    create lib/my_mountable_engine/version.rb
    create lib/my_mountable_engine/engine.rb
  </script>
</section>