<section id="init-engine" class="slide">
  <h2>Generating an engine</h2>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rails plugin new shopping_cart --dummy-path=spec/dummy --skip-test-unit --mountable
      create  
      create  README.rdoc
      create  Rakefile
      create  shopping_cart.gemspec
      create  MIT-LICENSE
      create  .gitignore
      create  Gemfile
      create  app
      create  app/controllers/shopping_cart/application_controller.rb
      create  app/helpers/shopping_cart/application_helper.rb
      create  app/mailers
      create  app/models
      create  app/views/layouts/shopping_cart/application.html.erb
      create  app/assets/images/shopping_cart
      create  app/assets/images/shopping_cart/.keep
      create  config/routes.rb
      create  lib/shopping_cart.rb
      create  lib/tasks/shopping_cart_tasks.rake
      create  lib/shopping_cart/version.rb
      create  lib/shopping_cart/engine.rb
      create  app/assets/stylesheets/shopping_cart/application.css
      create  app/assets/javascripts/shopping_cart/application.js
      create  bin
      create  bin/rails
  vendor_app  spec/dummy
         run  bundle install
  </script>
</section>