<section id="isolated" class="slide">
  <h2>Isolated Engine</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyEngine
      class Engine < Rails::Engine
        isolate_namespace MyEngine
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyEngine
      class FooController < ActionController::Base
      end
    end
  </script>
  <h3>Routes</h3>
  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    Rails.application.routes.draw do
      mount MyEngine::Engine => "/my_engine", as: "my_engine"
      get "/foo" => "foo#index"
    end
  </script>
  You can use the my_engine helper inside your application
  <script type="syntaxhighlighter" class="brush: ruby">
    class FooController < ApplicationController
      def index
        my_engine.root_url # => /my_engine/
      end
    end
  </script>
  There is also a main_app helper that gives you access to application's routes inside Engine
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyEngine
      class BarController
        def index
          main_app.foo_path # => /foo
        end
      end
    end
  </script>
  <h3>Helpers</h3>
  For few specific helpers
  <script type="syntaxhighlighter" class="brush: ruby">
    class ApplicationController < ActionController::Base
      helper MyEngine::SharedEngineHelper
    end
  </script>
  For all of the engine's helpers
  <script type="syntaxhighlighter" class="brush: ruby">
    class ApplicationController < ActionController::Base
      helper MyEngine::Engine.helpers
    end
  </script>
  <h3>Migrations & seed data</h3>
  To use engine's migrations
  <script type="syntaxhighlighter" class="brush: bash">
    rake ENGINE_NAME:install:migrations
  </script>
  To use engine's seed
  <script type="syntaxhighlighter" class="brush: bash">
    MyEngine::Engine.load_seed
  </script>
</section>