<section id="mounting-the-engine" class="slide">
  <h2>Mounting the Engine</h2>
  Specifying the engine inside the Gemfile would be done by specifying it as a normal, everyday gem
  Gemfile
  <script type="syntaxhighlighter" class="brush: ruby">
    gem 'shopping_cart', path: "/path/to/shopping_cart"
  </script>
  <p>By placing the gem in the Gemfile it will be loaded when Rails is loaded. It will first require lib/shopping_cart.rb from the engine, then lib/shopping_cart/engine.rb, which is the file that defines the major pieces of functionality for the engine.</p>
  <p>To make the engine's functionality accessible from within an application, it needs to be mounted in that application's config/routes.rb file.</p>
  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    mount ShoppingCart::Engine, at: "/cart"
  </script>
</section>