<section id="rack-and-middleware" class="slide">
  <h2>Rack and Middleware stack</h2>
  <h3>Endpoint</h3>
  <p>An engine can also be a rack application. It can be useful if you have a rack application that you would like to wrap with Engine and provide with some of the Engine's features.</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyEngine
      class Engine < Rails::Engine
        endpoint MyRackApplication
      end
    end
  </script>
  <p>Now you can mount your engine in application's routes</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    Rails.application.routes.draw do
      mount MyEngine::Engine => "/engine"
    end
  </script>
  <h3>Middleware stack</h3>
  <p>As an engine can now be a rack endpoint, it can also have a middleware stack.</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    module MyEngine
      class Engine < Rails::Engine
        middleware.use SomeMiddleware
      end
    end
  </script>
</section>