<section id="intro" class="slide">
  <div class="vcenter">
    <h1>RailsEngines</h1>
    <div class="about">
      <p>
        Rails Engines is basically a whole Rails app that lives in the container of another one. A Rails application is actually just a "supercharged" engine, with the Rails::Application class inheriting a lot of its behavior from Rails::Engine.
      </p>
      <p>
        <a href="http://guides.rubyonrails.org/engines.html" target="_blank">Rails Engine documentation</a>
      </p>
    </div>    
  </div>
</section>