<section id="intro" class="slide">
  <div class="vcenter">
    <h1>Devise</h1>
    <div class="about">
      <p>
        Devise is a flexible authentication solution for Rails based on Warden. It:
      </p>
      <ul>
        <li>Is Rack based.</li>
        <li>Is a complete MVC solution based on Rails engines.</li>
        <li>Allows you to have multiple models signed in at the same time.</li>
        <li>Is based on a modularity concept: use only what you really need.</li>
      </ul>
    </div>    
  </div>
</section>