<section id="rake-homework" class="slide">
  <h2>Homework</h2>
  <h3>Task №1:</h3>
  <p>Write a class that copies a folder with subfolders and files, which have specified format, to another folder. </p>
  <p>Expected usage: </p>
     <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
        CopyPaster.start('/projects','/trach', '.jpg')
        # => Result
        # => 3 subdirectories and 123 files were copied for 60 sec
      ]]>
    </script>
  <h3>Task №2:</h3>
  <p>Rake task for converting csv file to yaml.</p>
  <p>CSV has structure: <strong>id, first_name, last_name, address, age, gender("M", "W")</strong>.</p>
  <p>Yaml has structure: <strong> name, age, gender(0, 1)</strong>. </p>
</section>