<section id="tasks-example" class="slide">
  <h2>Tasks example</h2>
  <p>Let’s say I wanted to get ready in the morning. My process would be something like this:</p>
  <ol>
    <li>Turn off alarm clock</li>
    <li>Groom myself</li>
    <li>Make coffee</li>
    <li>Walk dog</li>
  </ol>
  <p>In rake I might express my morning as follows:</p>
  Rakefile
  <script type="syntaxhighlighter" class="brush: ruby">
    task :turn_off_alarm do
      puts "Turned off alarm. Would have liked 5 more minutes, though."
    end
   
    task :groom_myself do
      puts "Brushed teeth."
      puts "Showered."
      puts "Shaved."
    end
   
    task :make_coffee do
      puts "Made a cup of coffee. Shakes are gone."
    end
   
    task :walk_dog do
      puts "Dog walked."
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rake turn_off_alarm
    Turned off alarm. Would have liked 5 more minutes, though.
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rake groom_myself
    Brushed teeth.
    Showered.
    Shaved.
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rake make_coffee
    Made a cup of coffee. Shakes are gone.
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rake walk_dog
    Dog walked.
  </script>
</section>