<section id="test-implementation" class="slide">
  <h2>How to test it</h2>
  <h3>Implementation</h3>
  Rakefile
  <script type="syntaxhighlighter" class="brush: ruby">
    class Coffee
      def initialize cups = 1
      end
    end

    namespace :morning do
      desc "Make coffee"
      task :make_coffee, :cups do |t, args|
        cups = args.cups || 1
        coffee = Coffee.new cups
        puts "Made #{cups} cups of coffee. Shakes are gone."
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    rspec spec/morning_rake_spec.rb
    Made 1 cups of coffee. Shakes are gone.
    ..Made 2 cups of coffee. Shakes are gone.
    ..

    Finished in 0.97735 seconds
    4 examples, 0 failures
  </script>
</section>