<section id="popular-servers-with-rack" class="slide">
  <div class="vcenter">
    <h1>The most popular servers</h1>
  </div>
</section>

<section id="thin" class="slide">
  <div class="vcenter">
    <img src="/assets/rack/logo-thin.gif" />
    <h2><a href="http://code.macournoyer.com/thin/">Thin</a></h2>
    <br />
    <h4>Power of EventMachine with multiple concurrent requests</h4>
  </div>
</section>

<section id="unicorn" class="slide">
  <div class="vcenter">
    <img src="/assets/rack/logo-github-unicorn.png" />
    <h2><a href="http://unicorn.bogomips.org/">Unicorn</a></h2>
    <br />
    <h4>True UNIX way. Follow Github with Cargo Cult.</h4>
  </div>
</section>

<section id="phusionpassenger" class="slide">
  <div class="vcenter">
    <img src="/assets/rack/logo-phusionpassenger.png" width="200" />
    <h2><a href="https://www.phusionpassenger.com/">Phusion Passenger</a></h2>
    <br />
    <h4>Runs Python too and <i>much</i> more.</h4>
  </div>
</section>

<section id="pow" class="slide">
  <div class="vcenter">
    <img src="/assets/rack/logo-pow.png" width="200" />
    <h2><a href="http://pow.cx/">Pow</a></h2>
    <br />
    <h4>For OS X only. By 37signals.</h4>
  </div>
</section>

<section id="webrick" class="slide">
  <div class="vcenter">
    <img src="/assets/rack/logo-webrick.jpg" width="200" />
    <h2><a href="http://www.ruby-doc.org/stdlib-1.9.3/libdoc/webrick/rdoc/WEBrick.html">WEBrick</a></h2>
    <br />
    <h4>Out of box!</h4>
  </div>
</section>
