<section id="config" class="slide">
  <h2>Config.ru file</h2>
  config.ru
  <script type="syntaxhighlighter" class="brush: ruby">
    class Racker
      def call(env)
        [200, {"Content-Type" => "text/plain"}, ["Something happens!"]]
      end
    end

    run Racker.new
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rackup
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ curl http://localhost:9292
    Something happens!
  </script>
</section>