<section id="what-is-it-about" class="slide">
  <div class="vcenter">
    <h1>How it all works in general?</h1>
  </div>
</section>

<section id="usual-cgi-flow" class="slide">
  <h4>Usual boring picture</h4>
  <img src="/assets/rack/CGI-server-request.png" />
</section>

<section id="cgi-flow-with-rack" class="slide">
  <h4>And here comes Rack</h4>
  <img src="/assets/rack/CGI-server-with-Rack.png" />
</section>

<section id="servers-aware-of-rack" class="slide">
  <h4>If server supports Rack</h4>
  <img src="/assets/rack/No-CGI-with-servers-aware-of-Rack.png" />
</section>








