<section id="init-env" class="slide">
  <h2>Init enviropment</h2>
  <h3>Create gemset</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rvm use ruby-2.1.2@rack --create
  </script>
  <h3>Install Rack</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    gem install rack
  </script>
  <h3>Create Application</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    mkdir racker
    cd racker/
  </script>
</section>