<section id="sources" class="slide">
  <h4>List of sites, I took knowlage from:</h4>
  <ul>
    <li><a href="http://rack.github.com/">Rack from Github</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Common_Gateway_Interface">Wikipedia: CGI and fiends</a></li>
  </ul>
</section>
