<section id="middleware" class="slide">
  <h2>Use middleware</h2>
  config.ru
  <script type="syntaxhighlighter" class="brush: ruby">
    require "./lib/racker"
    use Rack::Static, :urls => ["/stylesheets"], :root => "public"
    run Racker
  </script>
  lib/views/index.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    <!DOCTYPE html>
    <html>
      <head>
        <title>WEB page</title>
        <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
      </head>
      <body>
        <div id="container">
          <h1>You said '&lt;%= word %&gt;'</h1>
          <p>Say somthing new</p>
          <form method="post" action="/update_word">
            <input name="word" type="text">
            <input type="submit" value="Say!">
          </form>
        </div>
      </body>
    </html>
  </script>
  public/stylesheets/application.css
  <script type="syntaxhighlighter" class="brush: ruby">
    body {
      background-color: #4B7399;
      font-family: Verdana;
      font-size: 14px;
    }
    #container {
      width: 75%;
      margin: 0 auto;
      background-color: #FFF;
      padding: 20px 40px;
      border: solid 1px black;
      margin-top: 20px;
    }
    a { 
      color: #0000FF; 
    }
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rackup
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ curl http://localhost:9292/stylesheets/application.css
    body {
      background-color: #4B7399;
      font-family: Verdana;
      font-size: 14px;
    }
    #container {
      width: 75%;
      margin: 0 auto;
      background-color: #FFF;
      padding: 20px 40px;
      border: solid 1px black;
      margin-top: 20px;
    }
    a { 
      color: #0000FF; 
    }
  </script>
  Url to Rack::Static - <a href="https://github.com/rack/rack/blob/master/lib/rack/static.rb" target="_blank">https://github.com/rack/rack/blob/master/lib/rack/static.rb</a>
  <br/>
  Url to Rack::Builder - <a href="https://github.com/rack/rack/blob/master/lib/rack/builder.rb" target="_blank">https://github.com/rack/rack/blob/master/lib/rack/builder.rb</a>
</section>