<section id="in_to_rails" class="slide">
  <h2>In to Rails</h2>
  config.ru
  <script type="syntaxhighlighter" class="brush: ruby">
    # This file is used by Rack-based servers to start the application.

    require ::File.expand_path('../config/environment',  __FILE__)
    run Rails.application
  </script>
  config/environment.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    # Load the Rails application.
    require File.expand_path('../application', __FILE__)

    # Initialize the Rails application.
    Rails.application.initialize!
  </script>
  config/application.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require File.expand_path('../boot', __FILE__)

    require 'rails/all'

    # Require the gems listed in Gemfile, including any gems
    # you've limited to :test, :development, or :production.
    Bundler.require(*Rails.groups)

    module TestRailsRack
      class Application < Rails::Application
        # Settings in config/environments/* take precedence over those specified here.
        # Application configuration should go into files in config/initializers
        # -- all .rb files in that directory are automatically loaded.

        # Set Time.zone default to the specified zone and make Active Record auto-convert to this zone.
        # Run "rake -D time" for a list of tasks for finding time zone names. Default is UTC.
        # config.time_zone = 'Central Time (US & Canada)'

        # The default locale is :en and all translations from config/locales/*.rb,yml are auto loaded.
        # config.i18n.load_path += Dir[Rails.root.join('my', 'locales', '*.{rb,yml}').to_s]
        # config.i18n.default_locale = :de
      end
    end
  </script>
  config/boot.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    # Set up gems listed in the Gemfile.
    ENV['BUNDLE_GEMFILE'] ||= File.expand_path('../../Gemfile', __FILE__)

    require 'bundler/setup' if File.exist?(ENV['BUNDLE_GEMFILE'])
  </script>
</section>