<section id="response" class="slide">
  <h2>Response</h2>
  config.ru
  <script type="syntaxhighlighter" class="brush: ruby">
    class Racker
      def call(env)
        Rack::Response.new("We use Rack::Response! Yay!")
      end
    end

    run Racker.new
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rackup
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ curl http://localhost:9292
    We use Rack::Response! Yay!
  </script>
</section>