<section id="what_is_it" class="slide">
  <div class="vcenter">
    <h1>What is it?</h1>
  </div>
</section>

<section id="what_is_it-1" class="slide">
  <div class="vcenter">
    <h1>What is it?</h1>
    <p>...</p>
    <h2>shelfs?</h2>
  </div>
</section>

<section id="what_is_it-2" class="slide">
  <div class="vcenter">
    <h1>What is it?</h1>
    <p>...</p>
    <h2>frame?</h2>
  </div>
</section>

<section id="what_is_it-3" class="slide">
  <div class="vcenter">
    <h1>What is it?</h1>
    <p>...</p>
    <h2>torture device? oO</h2>
  </div>
</section>

<section id="rack-is" class="slide">
  <div class="vcenter">
    <img width="200" src="/assets/rack/rack-logo.png" />
    <h2>
      a Ruby Webserver Interface
    </h2>
    <h4>Rack provides a minimal interface between webservers supporting Ruby and Ruby frameworks.</h4>
  </div>
</section>

<section id="rack-minute-of-fame" class="slide">
  <div class="vcenter">
    <h3>
      <strong>March 3rd, 2007</strong>: First public release 0.1.<br />
      ... 1000+ of commits, <br />540 forks, 505 closed issues and merged enhancements ...<br />
      <strong>February 7th, 2013</strong>: Thirty fifth public release 1.5.2
    </h3>
    <br />
    <h4>just <a href="https://github.com/rack/rack">github: rack/rack</a></h4>
  </div>
</section>
