<section id="absence" class="slide">
  <h2>Presence</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      attr_accessible :email, :first_name, :password

      has_many :posts
      validates :archived, absence: true
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
      class Post < ApplicationRecord

        belongs_to :user
        validates :user, absence: true
      end
  </script>
</section>
