<section id="acceptance" class="slide">
  <h2>Acceptance</h2>
  <script type="syntaxhighlighter" class="brush: bash">
    bin/rails g migration AddTermsOfServiceToUsers terms_of_service:boolean
  </script>

<script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      ...
      validates :terms_of_service, acceptance: true  # get accept: 1
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      ...
      validates :terms_of_service, acceptance: { accept: 'yes' }
    end
  </script>
  <p>Do not this validation on the both sides of the association it causes endless cycle.</p>

</section>
