<section id="activerecord-functions" class="slide">
  <h2>ActiveRecord functions</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    bin/rails c  # rails console
  </script>

  <h3>new</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    > user = User.new
      => #<User id: nil, first_name: nil, email: nil, password: nil, created_at: nil, updated_at: nil, last_name: nil, receive_news: false >]
  </script>

  <h3>save</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    > user.first_name = "Anna"
      => "Anna"

    > user.email = "happy_ann@gmail.com"
      => "happy_ann@gmail.com"

    > user.save
      INSERT INTO "users" ("created_at", "email", "first_name", "last_name", "password", "receive_news", "updated_at") VALUES (?, ?, ?, ?, ?, ?, ?)  [["created_at", Sun, 10 Apr 2016 19:00:01 UTC +00:00], ["email", "happy_ann@gmail.com"], ["first_name", "Anna"], ["last_name", nil], ["password", nil], ["receive_news", false], ["updated_at", Sun, 10 Apr 2016 19:00:01 UTC +00:00]]
      => true
  </script>

  <h3>all</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    > User.all
      SELECT "users".* FROM "users"
      => #<ActiveRecord::Relation [#<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2016-04-10 19:00:01", updated_at: "2016-04-10 19:00:01", receive_news: nil, last_name: nil>]>
  </script>

  <h3>Rails 3</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    > User.all.class
      SELECT "users".* FROM "users"
    => Array

  </script>

  <h3>Rails 4</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    > User.all.class
    => ActiveRecord::Relation
  </script>
</section>
