<section id="add-migrations" class="slide">
  <h2>Add Migrations</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    rails g migration AddLastNameToUsers last_name:string
      invoke  active_record
      create    db/migrate/20130602150030_add_last_name_to_users.rb

</script>

  <script type="syntaxhighlighter" class="brush: ruby">
    YYYYMMDDHHMMSS UTC timestamp
    20130602150030_add_last_name_to_users.rb
</script>

  db/migrate/20130602150030_add_last_name_to_users.rb
  <script type="syntaxhighlighter" class="brush: ruby">
     class AddLastNameToUsers < ActiveRecord::Migration
      def change
        add_column :users, :last_name, :string
      end
    end
</script>

  <script type="syntaxhighlighter" class="brush: bash">
    rails g migration AddReceiveNewsToUsers receive_news:boolean
      invoke  active_record
      create    db/migrate/20130602151002_add_receive_news_to_users.rb
</script>

  db/migrate/20130602151002_add_receive_news_to_users.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class AddReceiveNewsToUsers < ActiveRecord::Migration
      def change
        add_column :users, :receive_news, :boolean
      end
    end
</script>

  db/migrate/20130602151002_add_receive_news_to_users.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class AddReceiveNewsToUsers < ActiveRecord::Migration
      def up
        change_table :users do |t|
          t.boolean :receive_news, default: true
          t.index :receive_news
        end

        User.update_all ["receive_news = ?", true]
      end

      def down
        remove_column :users, :receive_news
      end
    end
</script>
</section>
