<section id="add-migrations" class="slide">
  <h2>Add Migrations</h2>

  <script type="syntaxhighlighter" class="brush: bash">
  <![CDATA[
    rails g migration AddLastNameToUsers last_name:string
      invoke  active_record
      create    db/migrate/20130602150030_add_last_name_to_users.rb

  ]]>
  </script>

   <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      YYYYMMDDHHMMSS UTC timestamp
      20130602150030_add_last_name_to_users.rb
  ]]>
  </script>


  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    # in file /db/migrate/20130602150030_add_last_name_to_users.rb 
     class AddLastNameToUsers < ActiveRecord::Migration
      def change
        add_column :users, :last_name, :string
      end
    end
  ]]>
  </script>

    <script type="syntaxhighlighter" class="brush: bash">
  <![CDATA[
    rails g migration AddReceiveNewsToUsers receive_news:boolean
      invoke  active_record
      create    db/migrate/20130602151002_add_receive_news_to_users.rb
  ]]>
  </script>

    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    class AddReceiveNewsToUsers < ActiveRecord::Migration
      def up
        change_table :users do |t|
          t.boolean  :receive_news, default: true
        end

        User.update_all ["receive_news = ?", true]
      end

      def down
        remove_column :users, :receive_news
      end
    end
    
  ]]>
  </script>

  
</section>