<section id="after-callbacks" class="slide">
  <h2>After_find and after_initialize</h2>
  <h1>Creating an Object</h1>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[     
    
    decrement
    decrement_counter
    delete
    delete_all
    find_by_sql
    increment
    increment_counter
    toggle
    touch
    update_column
    update_all
    update_counters

    ]]>
  </script>

</section>