<section id="associations-types" class="slide">
  <h2>Associations types</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    belongs_to
    has_one
    has_many
    has_many :through
    has_one :through
    has_and_belongs_to_many
  </script>

</section>
