<section id="availiable-callbacks" class="slide">
  <h2>Availiable Callbacks</h2>
  <h3>Creating an Object</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[     
    before_validation
    after_validation
    before_save
    around_save
    before_create
    around_create
    after_create
    after_save
    ]]>
  </script>
  <h3>Updating an Object</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[      
    before_validation
    after_validation
    before_save
    around_save
    before_update
    around_update
    after_update
    after_save
    ]]>
  </script>
  <h3>Destroying an Object</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[     
    before_destroy
    around_destroy
    after_destroy
    ]]>
  </script>
</section>