<section id="availiable-callbacks" class="slide">
  <h2>Availiable Callbacks</h2>
  <h3>Creating an Object</h3>
  <ol>
    <li><code>before_validation</code></li>
    <li><code>after_validation</code></li>
    <li><code>before_save</code></li>
    <li><code>around_save</code></li>
    <li><code>before_create</code></li>
    <li><code>around_create</code></li>
    <li><code>after_create</code></li>
    <li><code>after_save</code></li>
  </ol>
  
  <h3>Updating an Object</h3>
  <ol>
    <li><code>before_validation</code></li>
    <li><code>after_validation</code></li>
    <li><code>before_save</code></li>
    <li><code>around_save</code></li>
    <li><code>before_update</code></li>
    <li><code>around_update</code></li>
    <li><code>after_update</code></li>
    <li><code>after_save</code></li>
  </ol>
    
  <h3>Destroying an Object</h3>
  <ol>
    <li><code>before_destroy</code></li>
    <li><code>around_destroy</code></li>
    <li><code>after_destroy</code></li>
  </ol>
</section>