<section id="belongs-to-in-model" class="slide">
  <h2>belongs_to</h2>
  <script type="syntaxhighlighter" class="brush: bash">
      rails g migration AddUserRefToPosts user:references
      invoke  active_record
      create    db/migrate/20130615164224_add_user_ref_to_posts.rb
  </script>

  db/migrate/20130615164224_add_user_ref_to_posts.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class AddUserRefToPosts < ActiveRecord::Migration
        def change
          add_reference :posts, :user, index: true
        end
      end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
      rake db:migrate
      ==  AddUserRefToPosts: migrating ==============================================
      -- add_reference(:posts, :user, {:index=>true})
      ==  AddUserRefToPosts: migrated (0.0054s) =====================================
  </script>

  app/models/post.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post < ActiveRecord::Base
      belongs_to :user
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > user = User.first

      SELECT "users".* FROM "users" LIMIT 1
      
      => #<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false>
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > post = Post.create(text: "I'm so happy today", title: "So happy", user_id: user.id)
      
      INSERT INTO "posts" ("created_at", "text", "title", "updated_at", "user_id") VALUES (?, ?, ?, ?)  [["created_at", Sun, 02 Jun 2013 18:43:10 UTC +00:00], ["text", "I'm so happy today"], "So happy", ["updated_at", Sun, 02 Jun 2013 18:43:10 UTC +00:00], ["user_id", 1]]
      (126.0ms)  commit transaction
      
      => #<Post id: 1, text: "I'm so happy today", title: "So happy", user_id: 1, created_at: "2013-06-02 18:43:10", updated_at: "2013-06-02 18:43:10">
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > post.user
      
      SELECT "users".* FROM "users" WHERE "users"."id" = 1 LIMIT 1
      
      => #<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false>
  </script>
</section>
