<section id="callback-classes" class="slide">
  <h2>Callback Classes</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    class PictureFileCallbacks
      def after_destroy(picture_file)
        if File.exists?(picture_file.filepath)
          File.delete(picture_file.filepath)
        end
      end
    end
</script>
   <script type="syntaxhighlighter" class="brush: ruby">
    class PictureFile < ActiveRecord::Base
      after_destroy PictureFileCallbacks.new
    end
</script>
  <script type="syntaxhighlighter" class="brush: ruby">
     class PictureFileCallbacks
      def self.after_destroy(picture_file)
        if File.exists?(picture_file.filepath)
          File.delete(picture_file.filepath)
        end
      end
    end
</script>
   <script type="syntaxhighlighter" class="brush: ruby">
     class PictureFile < ActiveRecord::Base
      after_destroy PictureFileCallbacks
    end
</script>
</section>
