<section id="change-table" class="slide">
  <h2>Change Table</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
      change_table :users do |t|
        t.remove :last_name, :first_name
        t.string :phone_number
        t.index  :phone_number
      end
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
      remove_column :users, :last_name
      remove_column :users, :first_name
      add_column :users, :phone_number, :string
      add_index :users, :phone_number
      rename_column :users, :last_name, :surname
    ]]>
  </script>
 
</section>