<section id="column-types" class="slide">
  <h2>Column Types</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    :binary
    :boolean
    :date
    :datetime
    :decimal
    :float
    :integer
    :primary_key
    :string
    :text
    :time
    :timestamp
    :references     
    ]]>
  </script>
 
</section>