<section id="column-types" class="slide">
  <h2>Column Types</h2>
  <ul>
    <li><code>:binary</code></li>
    <li><code>:boolean</code></li>
    <li><code>:date</code></li>
    <li><code>:datetime</code></li>
    <li><code>:decimal</code></li>
    <li><code>:float</code></li>
    <li><code>:integer</code></li>
    <li><code>:primary_key</code></li>
    <li><code>:string</code></li>
    <li><code>:text</code></li>
    <li><code>:time</code></li>
    <li><code>:timestamp</code></li>
    <li><code>:references</code></li>
  </ul>
</section>