<section id="confirmation" class="slide">
  <h2>Confirmation</h2>
<script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[       
    class User < ActiveRecord::Base
      ...
      validates :email, :first_name, presence: true
      validates :email, confirmation: true
    end 
    ]]>
  </script>

</section>