<section id="custom-validators" class="slide">
  <h2>Custom Validators</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class MyValidator < ActiveModel::Validator
      def validate(record)
        unless record.first_name.starts_with? 'X'
          record.errors[:first_name] << 'Need a name starting with X please!'
        end
      end
    end

    class User
      include ActiveModel::Validations
      validates_with MyValidator
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    class EmailValidator < ActiveModel::EachValidator
      def validate_each(record, attribute, value)
        unless value =~ /\A([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})\z/i
          record.errors[attribute] << (options[:message] || "is not an email")
        end
      end
    end

    class User < ActiveRecord::Base
      validates :email, presence: true, email: true
    end
  </script>

</section>
