<section id="column-types" class="slide">
  <h2>Column Types</h2>
 
</section><section id="db-changing-methods" class="slide">
  <h2>Methods for db structure changing</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    create_table
    change_table
    drop_table
    add_column
    change_column
    rename_column
    remove_column
    add_index
    remove_index      
    ]]>
  </script>

</section>
 
