<section id="db-changing-methods" class="slide">
  <h2>Methods for db structure changing</h2>

  <code>create_table</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    create_table :friends do |t|
      t.string :first_name
      t.string :last_name
      t.string :email
      t.timestamps
    end
  </script>

  <code>change_table</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    change_table :friends do |t|
      t.remove :last_name, :first_name
      t.string :phone_number
      t.index  :phone_number
    end
  </script>

  <code>add_column</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    add_column :friends, :first_name, :string
    add_column :friends, :last_name, :integer
  </script>

  <code>add_foreign_key</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    #If the column names can not be derived from the table names, use the :column and :primary_key options.
    add_foreign_key :friends, :users
  </script>

  <code>change_column</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    change_column :friends, :last_name, :string
  </script>

  <code>change_column_null</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    change_column_null :users, :receive_news, false
  </script>

  <code>change_column_default</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    change_column_default :users, :receive_news, from: true, to: false
  </script>

  <code>create_join_table</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    create_join_table :users, :friends do |t|
       # t.index [:user_id, :friend_id]
       # t.index [:friend_id, :user_id]
    end
  </script>

  <code>drop_join_table</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    drop_join_table :users, :friends
  </script>

  <code>rename_column</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    rename_column :friends, :last_name, :surname
  </script>

  <code>remove_column</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    remove_column :friends, :surname
  </script>

  <code>add_index</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    add_index :friends, :email
  </script>

  <code>add_reference</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    add_reference :friends, :user, index: true, foreign_key: true
  </script>

  <code>add_timestamps</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    add_timestamps :users
  </script>

  <code>remove_index</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    remove_index :friends, :email
  </script>

  <code>drop_table</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    drop_table :friends
  </script>

  <code>enable_extension</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    enable_extension "hstore"
  </script>

  <code>disable_extension</code>
  <script type="syntaxhighlighter" class="brush: ruby">
    disable_extension "hstore"
  </script>

  <code>remove_foreign_key</code>
  <script type="syntaxhighlighter" class="brush: ruby">
     remove_foreign_key :users, :friends
     remove_foreign_key :users, column: :my_friend_id
     remove_foreign_key :users, name: :special_fk_name
  </script>

  <code>remove_reference</code>
  <script type="syntaxhighlighter" class="brush: ruby">
     remove_reference :users, :client
  </script>

  <code>remove_timestamps</code>
  <script type="syntaxhighlighter" class="brush: ruby">
     remove_timestamps :users
  </script>

  <code>rename_index</code>
  <script type="syntaxhighlighter" class="brush: ruby">
     rename_index :users, :index_first_name, :index_first_user_name
  </script>

  <code>rename_table</code>
  <script type="syntaxhighlighter" class="brush: ruby">
     rename_table :users, :customers
  </script>
</section>
