<section id="errors" class="slide">
  <h2>errors[]</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    > User.new.errors[:email].any?
      => false

    > User.create.errors[:email].any?
      => true

    > User.create.errors.messages
      => {email:["can't be blank"]}

    > User.create.errors.details[:email]
      =>  [{error: :blank}]

    > User.create.errors.full_messages
      => ["Email can't be blank"]
  </script>

</section>
