<section id="errors" class="slide">
  <h2>errors[]</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    > User.new.errors[:email].any?
      => false

    > User.create.errors[:email].any?
      => true
  </script>

</section>
