<section id="existence-of-objects" class="slide">
  <h2>Existence of Objects</h2>

  exists?

  <script type="syntaxhighlighter" class="brush: bash">
    > User.exists?(1)
      User Exists (0.2ms)  SELECT 1 AS one FROM "users" WHERE "users"."id" = 1 LIMIT 1
     => true
    > User.exists?(3)
      User Exists (0.4ms)  SELECT 1 AS one FROM "users" WHERE "users"."id" = 3 LIMIT 1
     => false
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > User.where(:first_name => 'Ryan').exists?
      User Exists (0.4ms)  SELECT 1 AS one FROM "users" WHERE "users"."first_name" = 'Ryan' LIMIT 1
     => false
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > User.exists?
       User Exists (0.5ms)  SELECT 1 AS one FROM "users" LIMIT 1
     => true
  </script>

  any? and many?
  via a model
  <script type="syntaxhighlighter" class="brush: bash">
    > Post.any?
      (0.1ms)  SELECT COUNT(*) FROM "posts"
     => true
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > Post.many?
      (0.4ms)  SELECT COUNT(*) FROM "posts"
     => true
  </script>
  via a relation
  <script type="syntaxhighlighter" class="brush: ruby">
    Post.where(:published => true).any?
    Post.where(:published => true).many?
  </script>
  via an association
  <script type="syntaxhighlighter" class="brush: ruby">
    Post.first.tags.any?
    Post.first.tags.many?
  </script>

</section>
