<section id="fake-data-settings" class="slide">
  <h2>Factory Girl and Database Cleaner</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
      # in Gemfile
      group :test do
        gem 'rspec-rails'
        gem 'factory_girls_rails'
        gem 'database_cleaner'
      end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
      # in application.rb
      config.generators do |g|
        g.test_framework :rspec
        g.fixture_replacement :factory_girl, dir: 'spec/factories'
        g.template_engine :haml
      end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
      # in spec_helper.rb
      config.use_transactional_fixtures = false

      config.before(:suite) do
        DatabaseCleaner.strategy = :transaction
        DatabaseCleaner.clean_with(:truncation)
      end.before(:each) do

      config.before(:each) do
        DatabaseCleaner.start
      end

      config.after(:each) do
        DatabaseCleaner.clean
      end
  </script>
</section>
