<section id="find-or-build" class="slide">
  <h2>Find or Build a New Object</h2>

  find_or_create_by

  <script type="syntaxhighlighter" class="brush: bash">
    > User.find_or_create_by(first_name: 'Mark')
      User Load (0.5ms)  SELECT "users".* FROM "users" WHERE "users"."state" = 'pending' AND "users"."first_name" = 'Mark' LIMIT 1
       (0.3ms)  begin transaction
      SQL (3.8ms)  INSERT INTO "users" ("created_at", "first_name", "state", "updated_at") VALUES (?, ?, ?, ?)  [["created_at", Mon, 24 Jun 2013 09:26:43 UTC +00:00], ["first_name", "Mark"], ["state", "pending"], ["updated_at", Mon, 24 Jun 2013 09:26:43 UTC +00:00]]
       (134.1ms)  commit transaction
     => #<User id: 3, first_name: "Mark", email: nil, password: nil, created_at: "2013-06-24 09:26:43", updated_at: "2013-06-24 09:26:43", last_name: nil, receive_news: false, state: "pending">
  
    > User.find_or_create_by(first_name: 'Mark')
      User Load (0.6ms)  SELECT "users".* FROM "users" WHERE "users"."state" = 'pending' AND "users"."first_name" = 'Mark' LIMIT 1
     => #<User id: 3, first_name: "Mark", email: nil, password: nil, created_at: "2013-06-24 09:26:43", updated_at: "2013-06-24 09:26:43", last_name: nil, receive_news: false, state: "pending">
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    User.find_or_create_by(first_name: 'Andy') do |c|
      c.locked = false
    end
  </script>

  find_or_initialize_by

  <script type="syntaxhighlighter" class="brush: bash">
    > clark = User.find_or_initialize_by(first_name: 'Clark')
      User Load (0.5ms)  SELECT "users".* FROM "users" WHERE "users"."state" = 'pending' AND "users"."first_name" = 'Clark' LIMIT 1
     => #<User id: nil, first_name: "Clark", email: nil, password: nil, created_at: nil, updated_at: nil, last_name: nil, receive_news: false, state: "pending">
  
    > clark.persisted?
     => false
  
    > clark.new_record?
     => true
  
    > clark.save
  </script>
</section>
