<section id="models-generation" class="slide">
  <h2>Models generation</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
     rails generate model User first_name:string email:string password:string
      invoke  active_record
      create    db/migrate/20130602143931_create_users.rb
      create    app/models/user.rb
      invoke    test_unit
      create      test/unit/user_test.rb
      create      test/fixtures/users.yml

    ]]>
  </script>

  <h3>Naming Conventions</h3>
  <ul>
    <li>Database Table - Plural with underscores separating words (e.g., book_clubs)</li>
    <li>Model Class - Singular with the first letter of each word capitalized (e.g., BookClub)</li>
  </ul>
  <table class="naming-conventions">
    <thead>
      <tr>
        <th>Model / Class</th>
        <th>Table / Schema</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>Post</code></td>
        <td><code>posts</code></td>
      </tr>
      <tr>
        <td><code>LineItem</code></td>
        <td><code>line_items</code></td>
      </tr>
      <tr>
        <td><code>Deer</code></td>
        <td><code>deer</code></td>
      </tr>
      <tr>
        <td><code>Mouse</code></td>
        <td><code>mice</code></td>
      </tr>
      <tr>
        <td><code>Person</code></td>
        <td><code>people</code></td>
      </tr>
    </tbody>
  </table>
</section>