<section id="general-options" class="slide">
  <h2>General options</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post < ApplicationRecord
      validates :title, allow_nil: true
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      validates :last_name, allow_blank: true
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      validates :last_name, presence: { message: "is mandatory" }
      validates :age, numericality: { message: "%{attribute} for %{model} has %{value} that seems wrong" }

      # Proc
      validates :username,
        uniqueness: {
          # object = person object being validated
          # data = { model: "User", attribute: "Username", value: <username> }
          message: ->(object, data) do
            "Hey #{object.name}!, #{data[:value]} is taken already! Try again #{Time.zone.tomorrow}"
          end
        }
    end
  </script>

  <p>:allow_nil and :allow_blank are ignored by :presence</p>

  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      # it will be possible to update email with a duplicated value
      validates :email, uniqueness: true, on: :create

      # it will be possible to create the record with a non-numerical age
      validates :card_number, numericality: true, on: :update

      # the default (validates on both create and update)
      validates :first_name, presence: true, on: :save

      validates :email, uniqueness: true, on: :registration
      #Custom contexts need to be triggered explicitly by passing name of the context to valid?, invalid? or save.
    end
  </script>

</section>
