<section id="has-many-through-in-model" class="slide">
  <h2>has_many :through</h2>
<script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    class Physician < ActiveRecord::Base
      has_many :appointments
      has_many :patients, through: :appointments
    end      
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    class Appointment < ActiveRecord::Base
      belongs_to :physician
      belongs_to :patient
    end      
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    class Patient < ActiveRecord::Base
      has_many :appointments
      has_many :physicians, through: :appointments
    end    
    ]]>
  </script>
</section>