<section id="has_many_in_model" class="slide">
  <h2>has_many</h2>

  app/models/user.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    class User < ActiveRecord::Base
      has_many :posts
    end     
    ]]>
  </script>

   <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[    
    > user.posts
      Post Load (0.2ms)  SELECT "posts".* FROM "posts" WHERE "posts"."user_id" = 1
      => [#<Post id: 1, text: "I'm so happy today", title: "So happy", user_id: 1, created_at: "2013-06-02 18:43:10", updated_at: "2013-06-02 18:43:10">] 
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > user.posts << Post.new(text: "I'm waiting")
      (0.2ms)  begin transaction
      SQL (32.4ms)  INSERT INTO "posts" ("created_at", "text",  "updated_at", "user_id") VALUES (?, ?, ?, ?)  [["created_at", Sun, 02 Jun 2013 19:01:45 UTC +00:00], ["text", "I'm waiting"], ["updated_at", Sun, 02 Jun 2013 19:01:45 UTC +00:00], ["user_id", 1]]
      (203.0ms)  commit transaction
      => [#<Post id: 1, text: "I'm so happy today", title: "So happy", user_id: 1, created_at: "2013-06-02 18:43:10", updated_at: "2013-06-02 18:43:10">, #<Post id: 2, text: "I'm waiting", title: nil, user_id: 1, created_at: "2013-06-02 19:01:45", updated_at: "2013-06-02 19:01:45">] 
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[    
    > user.posts
      => [#<Post id: 1, text: "I'm so happy today", title: "So happy", user_id: 1, created_at: "2013-06-02 18:43:10", updated_at: "2013-06-02 18:43:10">, #<Post id: 2, text: "I'm waiting", title: nil, user_id: 1, created_at: "2013-06-02 19:01:45", updated_at: "2013-06-02 19:01:45">] 
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[    
    > user.posts.count
      (0.2ms)  SELECT COUNT(*) FROM "posts" WHERE "posts"."user_id" = 1
      => 2 
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[    
    > user.posts.create(text: "New post")
      (0.2ms)  begin transaction
      SQL (0.8ms)  INSERT INTO "posts" ("created_at", "text","updated_at", "user_id") VALUES (?, ?, ?, ?)  [["created_at", Sun, 02 Jun 2013 19:06:35 UTC +00:00], ["text", "New post"], ["updated_at", Sun, 02 Jun 2013 19:06:35 UTC +00:00], ["user_id", 1]]
      (140.8ms)  commit transaction
      => #<Post id: 3, text: "New post", title: nil, user_id: 1, created_at: "2013-06-02 19:06:35", updated_at: "2013-06-02 19:06:35"> 
    ]]>
  </script>
</section>