<section id="has-one-through-in-model" class="slide">
  <h2>has_one :through</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    bin/rails g model Plan name:string description:text price:decimal{8.2}
      invoke  active_record
      create    db/migrate/20160410202622_create_plans.rb
      create    app/models/plan.rb
      invoke    test_unit
      create      test/models/plan_test.rb
      create      test/fixtures/plans.yml
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    bin/rails g model UserPlan user:belongs_to plan:belongs_to
      invoke  active_record
      create    db/migrate/20160410203824_create_user_plans.rb
      create    app/models/user_plan.rb
      invoke    test_unit
      create      test/models/user_plan_test.rb
      create      test/fixtures/user_plans.yml
  </script>

  db/migrate/20160410202622_create_plans.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class CreatePlans < ActiveRecord::Migration[5.0]
      def change
        create_table :plans do |t|
          t.string :name
          t.text :description
          t.decimal :price, precision: 8, scale: 2

          t.timestamps
        end
      end
    end
  </script>


  db/migrate/20160410203824_create_user_plans.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class CreateUserPlans < ActiveRecord::Migration[5.0]
      def change
        create_table :user_plans do |t|
          t.belongs_to :user, index: true
          t.belongs_to :plan, index: true

          t.timestamps
        end
      end
    end
  </script>

  app/models/user.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      has_many :posts
      has_many :subscriptions
      has_many :blogs, through: :subscriptions
      has_one :user_plan
      has_one :plan, through: :user_plan
    end
  </script>

  app/models/user_plan.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class UserPlan < ApplicationRecord
      belongs_to :user
      belongs_to :plan
    end
  </script>

  app/models/plan.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Plan < ApplicationRecord
      has_many :user_plans
      has_many :users, through: :user_plans
    end
  </script>
</section>
