<section id="has-many-through-in-model" class="slide">
  <h2>has_many :through</h2>
  <script type="syntaxhighlighter" class="brush: bash">
      rails g model Blog title:string description:text
      invoke  active_record
      create    db/migrate/20130615195018_create_blogs.rb
      create    app/models/blog.rb
      invoke    test_unit
      create      test/models/blog_test.rb
      create      test/fixtures/blogs.yml
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
      rails g model Subscription user:belongs_to blog:belongs_to receive_news:boolean
      invoke  active_record
      create    db/migrate/20130615200154_create_subscriptions.rb
      create    app/models/subscription.rb
      invoke    test_unit
      create      test/models/subscription_test.rb
      create      test/fixtures/subscriptions.yml
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
      rails g migration AddBlogRefToPosts blog:references
      invoke  active_record
      create    db/migrate/20130616200237_add_blog_ref_to_posts.rb
  </script>

  db/migrate/20130615195018_create_blogs.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class CreateBlogs < ActiveRecord::Migration
        def change
          create_table :blogs do |t|
            t.string :title
            t.text :description

            t.timestamps
          end
        end
      end
  </script>

  db/migrate/20130615200154_create_subscriptions.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class CreateSubscriptions < ActiveRecord::Migration
        def change
          create_table :subscriptions do |t|
            t.belongs_to :user, index: true
            t.belongs_to :blog, index: true
            t.boolean :receive_news, default: true

            t.timestamps
          end
        end
      end
  </script>

  db/migrate/20130616200237_add_blog_ref_to_posts.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class AddBlogRefToPosts < ActiveRecord::Migration
        def change
          add_reference :posts, :blog, index: true
        end
      end
  </script>

  app/models/user.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class User < ActiveRecord::Base
        has_many :posts
        has_many :subscriptions
        has_many :blogs, through: :subscriptions
      end
  </script>

  app/models/blog.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class Blog < ActiveRecord::Base
        has_many :subscriptions
        has_many :users, through: :subscriptions
      end
  </script>

  app/models/subscription.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class Subscription < ActiveRecord::Base
        belongs_to :user
        belongs_to :blog
      end
  </script>

  app/models/post.rb
  <script type="syntaxhighlighter" class="brush: ruby">
      class Post < ActiveRecord::Base
        belongs_to :user
        belongs_to :blog
        has_one :post_info
        has_and_belongs_to_many :tags
      end
  </script>
</section>
