<section id="having" class="slide">
  <h2>Having</h2>
   
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > Post.select("date(created_at), user_id").group("user_id").having(title: "First step")
      Post Load (0.6ms)  SELECT date(created_at), user_id FROM "posts" GROUP BY user_id HAVING "posts"."title" = 'First step'
     => #<ActiveRecord::Relation [#<Post id: nil, user_id: 2>]> 
    ]]>
  </script>

</section>