<section id="having" class="slide">
  <h2>Having</h2>
   
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      > p = PostInfo.select("id, sum(views) AS sum_views").group("post_id").having("sum(views) > 5")
        PostInfo Load (0.5ms)  SELECT id, sum(views) AS sum_views FROM "post_infos" GROUP BY post_id HAVING sum(views) > 5
      => #<ActiveRecord::Relation [#<PostInfo id: 1>]> 
      > p.each{ |p| puts p.sum_views } 
      9
      => [#<PostInfo id: 1>]  
    ]]>
  </script>

</section>