<section id="homework" class="slide">
  <h2>Homework. Amazon.</h2>
  <p>Business logic structure:</p>
  <p>Book</p>
  <ul>
    <li>Title</li>
    <li>Descirption</li>
    <li>Author</li>
    <li>Category</li>
    <li>Price</li>
    <li>In stock</li>
    <li>Rating</li>
  </ul>
  <p>Category</p>
  <ul>
    <li>Title</li>
    <li>Books</li>
  </ul>
  <p>Author</p>
  <ul>
    <li>Firstname</li>
    <li>Lastname</li>
  </ul>
  <p>Rating</p>
  <ul>
    <li>Book</li>
    <li>Customer</li>
    <li>Rating</li>
    <li>Text</li>
  </ul>
  <p>Customer</p>
  <ul>
    <li>Email</li>
    <li>Password</li>
    <li>Firstname</li>
    <li>Lastname</li>
  </ul>
  <p>Order</p>
  <ul>
    <li>Customer</li>
    <li>Total price</li>
    <li>State</li>
    <li>Completed at</li>
    <li>Bill address</li>
    <li>Ship address</li>
  </ul>
  <p>OrderItem</p>
  <ul>
    <li>Book</li>
    <li>Order</li>
    <li>Price</li>
    <li>Quantity</li>
  </ul>
  <p>Address</p>
  <ul>
    <li>Address</li>
    <li>Zipcode</li>
    <li>City</li>
    <li>Phone</li>
    <li>Country</li>
  </ul>
  <p>Country</p>
  <ul>
    <li>Name</li>
  </ul>
  <p>CreditCard</p>
  <ul>
    <li>Number</li>
    <li>CVV</li>
    <li>Expiration month</li>
    <li>Expiration year</li>
    <li>Firstname</li>
    <li>Lastname</li>
    <li>Customer</li>
    <li>Order</li>
  </ul>
  MVP
  <ul>
    <li>A customer should be able to order a book if it's exist on a stock</li>
    <li>A customer should be able to rate a book only once</li>
  </ul>
</section>
