<section id="homework" class="slide">
  <h2>Homework. Amazon.</h2>
  <p>Business logic structure:</p>
  <h3>Book</h3>
  <ul>
    <li>Should contain title, descirption, price and how many books in stock</li>
    <li>Should belong to author and category</li>
    <li>Should have many ratings from costomers</li>
  </ul>
  <h3>Category</h3>
  <ul>
    <li>Has a title</li>
    <li>Should have many books</li>
  </ul>
  <h3>Author</h3>
  <ul>
    <li>Should contain firstname, lastname, photo, biography</li>
    <li>Should have many books</li>
  </ul>
  <h3>Rating</h3>
  <ul>
    <li>Should contain text review and rating number from one to ten</li>
    <li>Should belong to customer and book</li>
  </ul>
  <h3>Customer</h3>
  <ul>
    <li>Should contain email, password, firstname, lastname</li>
    <li>Should have many orders</li>
  </ul>
  <p>Order</p>
  <ul>
    <li>Should contain total price, completed date and state (in progress/complited/shipped)</li>
    <li>Should belong to customer</li>
    <li>Should have one billing address and one shipping address</li>
  </ul>
  <p>OrderItem</p>
  <ul>
    <li>Should contain price and quantity</li>
    <li>Should belong to book and order</li>
  </ul>
  <p>Address</p>
  <ul>
    <li>Should contain address, zipcode, city, phone, country</li>
  </ul>
  <p>Country</p>
  <ul>
    <li>Should contain a name</li>
  </ul>
  <p>CreditCard</p>
  <ul>
    <li>Should contain number, CVV, expiration month, expiration year, firstname, lastname</li>
    <li>Should belong to customer and have many orders</li>
  </ul>
  MVP
  <ul>
    <li>As a customer I should be able to order a book if it's exist in the stock</li>
    <li>As a customer I should be able to rate a book and add my comments. But only once and for book what I ordered.</li>
  </ul>
</section>
