<section id="inclusion" class="slide">
  <h2>Inclusion</h2>
<script type="syntaxhighlighter" class="brush: ruby">
    class Tag < ActiveRecord::Base
      ...
      validates :name, inclusion: { in: %w(reading cooking programming), message: "%{value} is not a valid value" }
    end
  </script>

</section>
