<section id="limit-and-offset" class="slide">
  <h2>Limit and Offset</h2>
   limit
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      > User.limit(5)
       User Load (0.6ms)  SELECT "users".* FROM "users" LIMIT 5
       => #<ActiveRecord::Relation [#<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false>, #<User id: 2, first_name: "Van'ka", email: "vanka@yandex.ru", password: nil, created_at: "2013-06-02 18:18:40", updated_at: "2013-06-02 18:20:00", last_name: nil, receive_news: false>]>
    ]]>
  </script>

  offset
    <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      > User.limit(5).offset(1)
      User Load (0.5ms)  SELECT "users".* FROM "users" LIMIT 5 OFFSET 1
      => #<ActiveRecord::Relation [#<User id: 2, first_name: "Van'ka", email: "vanka@yandex.ru", password: nil, created_at: "2013-06-02 18:18:40", updated_at: "2013-06-02 18:20:00", last_name: nil, receive_news: false>]>   
    ]]>
  </script>
</section>