<section id="migrations" class="slide">
  <h2>Migrations</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      class CreateUsers < ActiveRecord::Migration
  def change
    create_table :users do |t|
      t.string :first_name
      t.string :email
      t.string :password

      t.timestamps
    end
  end
end
    ]]>
  </script>
  
</section>