<section id="migrations-topic" class="slide">
  <div class="vcenter">
    <h1>Active Record Migrations</h1>
    <div class="about">
      <p><strong>Migrations</strong> are a feature of Active Record that allows you to evolve your database schema over time. Rather than write schema modifications in pure SQL, migrations allow you to use an easy Ruby DSL to describe changes to your tables.</p>
    </div>
  </div>
</section>
