<section id="numericality" class="slide">
  <h2>Numericality</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    class PostInfo < ActiveRecord::Base
      ...
      validates :views, numericality: true
      validates :rate, numericality: { only_integer: true, greater_than: 5 }
    end   
    ]]>
  </script>

  <ul>
    <li><code>:greater_than</code></li>
    <li><code>:greater_than_or_equal_to</code></li>
    <li><code>:equal_to</code></li>
    <li><code>:less_than</code></li>
    <li><code>:less_than_or_equal_to</code></li>
    <li><code>:odd</code></li>
    <li><code>:even</code></li>
  </ul>
</section>