<section id="observers" class="slide">
  <h2>Observers</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    rails generate observer User
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    class UserObserver < ActiveRecord::Observer
    end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    class UserObserver < ActiveRecord::Observer
      def after_create(model)
        # код для рассылки подтверждений email...
      end
    end
  </script>
  <h2>Observers Registrations</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    config.active_record.observers = :user_observer
  </script>

</section>
