<section id="polymorphic-in-model" class="slide">
  <h2>Polymorphic Assosiations</h2>

  <script type="syntaxhighlighter" class="brush: bash">
      rails g model Picture imageable:references{polymorphic} file:string
      invoke  active_record
      create    db/migrate/20130616213914_create_pictures.rb
      create    app/models/picture.rb
      invoke    test_unit
      create      test/models/picture_test.rb
      create      test/fixtures/pictures.yml
  </script>

  db/migrate/20130616213914_create_pictures.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class CreatePictures < ActiveRecord::Migration
      def change
        create_table :pictures do |t|
          t.references :imageable, polymorphic: true, index: true
          t.string :file

          t.timestamps
        end
      end
    end
  </script>

  app/models/picture.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Picture < ActiveRecord::Base
      belongs_to :imageable, polymorphic: true
    end
  </script>

  app/models/user.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ActiveRecord::Base
      has_many :posts
      has_many :subscriptions
      has_many :blogs, through: :subscriptions
      has_one :user_plan
      has_one :plan, through: :user_plan
      has_one :picture, as: :imageable
    end
  </script>

  app/models/post.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post < ActiveRecord::Base
      belongs_to :user
      belongs_to :blog
      has_one :post_info
      has_and_belongs_to_many :tags
      has_many :pictures, as: :imageable
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > user.create_picture(file: 'public/picture/photo.png')
      
      INSERT INTO "pictures" ("created_at", "file", "imageable_id", "imageable_type", "updated_at") VALUES (?, ?, ?, ?, ?)  [["created_at", Sun, 16 Jun 2013 21:46:37 UTC +00:00], ["file", "public/picture/photo.png"], ["imageable_id", 1], ["imageable_type", "User"], ["updated_at", Sun, 16 Jun 2013 21:46:37 UTC +00:00]]
      
      => #<Picture id: 1, imageable_id: 1, imageable_type: "User", file: "public/picture/photo.png", created_at: "2013-06-16 21:46:37", updated_at: "2013-06-16 21:46:37">
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > post.pictures.create(file: 'public/picture/image.png')
      
      INSERT INTO "pictures" ("created_at", "file", "imageable_id", "imageable_type", "updated_at") VALUES (?, ?, ?, ?, ?)  [["created_at", Sun, 16 Jun 2013 21:51:25 UTC +00:00], ["file", "public/picture/image.png"], ["imageable_id", 1], ["imageable_type", "Post"], ["updated_at", Sun, 16 Jun 2013 21:51:25 UTC +00:00]]
      
      => #<Picture id: 2, imageable_id: 1, imageable_type: "Post", file: "public/picture/image.png", created_at: "2013-06-16 21:51:25", updated_at: "2013-06-16 21:51:25">
  </script>
</section>
