<section id="polymorphic-in-model" class="slide">
  <h2>Polymorphic Assosiations</h2>

  <script type="syntaxhighlighter" class="brush: bash">
      bin/rails g model Picture imageable:references{polymorphic} file:string
      invoke  active_record
      create    db/migrate/20160414231322_create_pictures.rb
      create    app/models/picture.rb
      invoke    test_unit
      create      test/models/picture_test.rb
      create      test/fixtures/pictures.yml
  </script>

  db/migrate/20160414231322_create_pictures.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class CreatePictures < ActiveRecord::Migration[5.0]
      def change
        create_table :pictures do |t|
          t.references :imageable, polymorphic: true, index: true
          t.string :file

          t.timestamps
        end
      end
    end
  </script>

  app/models/picture.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Picture < ApplicationRecord
      belongs_to :imageable, polymorphic: true
    end
  </script>

  app/models/user.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      has_many :posts
      has_many :subscriptions
      has_many :blogs, through: :subscriptions
      has_one :user_plan
      has_one :plan, through: :user_plan
      has_one :picture, as: :imageable
    end
  </script>

  app/models/post.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post < ApplicationRecord
      belongs_to :user
      belongs_to :blog
      has_one :post_info
      has_and_belongs_to_many :tags
      has_many :pictures, as: :imageable
    end
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > user.create_picture(file: 'public/picture/photo.png')

      INSERT INTO "pictures" ("created_at", "file", "imageable_id", "imageable_type", "updated_at") VALUES (?, ?, ?, ?, ?)  [["created_at", Fri, 15 Apr 2016 17:35:01 UTC +00:00], ["file", "public/picture/photo.png"], ["imageable_id", 1], ["imageable_type", "User"], ["updated_at", Fri, 15 Apr 2016 17:35:01 UTC +00:00]]

      => #<Picture id: 1, imageable_id: 1, imageable_type: "User", file: "public/picture/photo.png", created_at: "2016-04-15 17:35:01", updated_at: "2016-04-15 17:35:01">
  </script>

  <script type="syntaxhighlighter" class="brush: bash">
    > post.pictures.create(file: 'public/picture/image.png')

      INSERT INTO "pictures" ("created_at", "file", "imageable_id", "imageable_type", "updated_at") VALUES (?, ?, ?, ?, ?)  [["created_at", Fri, 15 Apr 2016 17:45:21 UTC +00:00], ["file", "public/picture/image.png"], ["imageable_id", 1], ["imageable_type", "Post"], ["updated_at", Fri, 15 Apr 2016 17:45:21 UTC +00:00]]

      => #<Picture id: 2, imageable_id: 1, imageable_type: "Post", file: "public/picture/image.png", created_at: "2016-04-15 17:45:21", updated_at: "2016-04-15 17:45:21">
  </script>
</section>
