<section id="rails4-and-postgreql" class="slide">
  <h2>Rails 4 and PostgresSQL</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
      class AddEmailsToUser < ActiveRecord::Migration
  def change
    add_column :users, :emails, :string, array: true, default: '{}'
  end
end
    ]]>
  </script>

   <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[    
     rails g migration AddPreferencesToUsers preferences:hstore
    ]]>
  </script>

    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
      class AddHstoreExtension < ActiveRecord::Migration
  def up
    execute 'CREATE EXTENSION hstore'
  end

  def down
    execute 'DROP EXTENSION hstore'
  end
end
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
      class AddPreferencesToUsers < ActiveRecord::Migration
  def up
    add_column :users, :preferences, :hstore
  end

  def down
    remove_column :users, :preferences
  end
end
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
      :inet
      :cidr
      :macaddr
      :int4range
      :int8range
      :json
    ]]>
  </script>

  
</section>