<section id="retrieving-methods" class="slide">
  <h2>Retrieving Objects from the Database</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    find
    create_with
    distinct
    eager_load
    extending
    from
    group
    having
    includes
    joins
    left_outer_joins
    limit
    lock
    none
    offset
    order
    preload
    readonly
    references
    reorder
    reverse_order
    select
    where
  </script>

    <script type="syntaxhighlighter" class="brush: ruby">
      ActiveRecord::Relation
  </script>
 </section>
