<section id="retrieving-methods" class="slide">
  <h2>Retrieving Objects from the Database</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    bind
    create_with
    eager_load
    extending
    from
    group
    having
    includes
    joins
    limit
    lock
    none
    offset
    order
    preload
    readonly
    references
    reorder
    reverse_order
    select
    distinct
    uniq
    where 
    ]]>
  </script>

    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      ActiveRecord::Relation 
    ]]>
  </script>
 </section>