<section id="retrieving-single-object" class="slide">
  <h2>Retrieving a Single Object</h2>
  Using a Primary Key
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > User.find(1)
      User Load (0.4ms)  SELECT "users".* FROM "users" WHERE "users"."id" = ? LIMIT 1  [["id", 1]]
     => #<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false> 
    ]]>
  </script>
  take
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > User.take
      User Load (0.5ms)  SELECT "users".* FROM "users" LIMIT 1
     => #<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false> 
    ]]>
  </script>
 
  first
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > User.first
      User Load (0.6ms)  SELECT "users".* FROM "users" ORDER BY "users"."id" ASC LIMIT 1
     => #<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false> 
  </script>

  last
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > User.last
      User Load (0.5ms)  SELECT "users".* FROM "users" ORDER BY "users"."id" DESC LIMIT 1
     => #<User id: 2, first_name: "Van'ka", email: "vanka@yandex.ru", password: nil, created_at: "2013-06-02 18:18:40", updated_at: "2013-06-02 18:20:00", last_name: nil, receive_news: false> 
  </script>
  take, first, last, find_by returns nil if no matching record is found and no exception will be raised.
  take!, first!, last!, find_by! raise ActiveRecord::RecordNotFound if no matching record is found.

  find_by
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > User.find_by first_name: "Anna"
      User Load (0.5ms)  SELECT "users".* FROM "users" WHERE "users"."first_name" = 'Anna' LIMIT 1
     => #<User id: 1, first_name: "Anna", email: "happy_ann@gmail.com", password: nil, created_at: "2013-06-02 17:23:02", updated_at: "2013-06-02 17:23:02", last_name: nil, receive_news: false> 
  </script>

    <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    > User.find_by first_name: "Anna", email: "some@ua.fm"
      User Load (0.5ms)  SELECT "users".* FROM "users" WHERE "users"."first_name" = 'Anna' AND "users"."email" = 'some@ua.fm' LIMIT 1
     => nil 
  </script>


 </section>