<section id="reverse-previous-migration" class="slide">
  <h2>Reverse previous migration</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    require_relative '20160410133746_change_user_number'

    class FixupChangeUserNumberMigration < ActiveRecord::Migration[5.0]
      def change
       revert ChangeUsersNumber

       create_table(:users) do |t|
         t.string :variety
       end
      end
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    class FixupChangeUserNumberMigration < ActiveRecord::Migration[5.0]
      def change
        revert do
          # copy-pasted code from ChangeUsersNumber
          reversible do |dir|
            change_table :users do |t|
              dir.up   { t.change :user_number, :string }
              dir.down { t.change :user_number, :integer }
            end
          end

          # The rest of the migration was ok
        end
      end
   end
  </script>

</section>
