<section id="running-callbacks" class="slide">
  <h2>Running Callbacks</h2>
  <ul>
    <li><code>create</code></li>
    <li><code>create!</code></li>
    <li><code>decrement!</code></li>
    <li><code>destroy</code></li>
    <li><code>destroy_all</code></li>
    <li><code>increment!</code></li>
    <li><code>save</code></li>
    <li><code>save!</code></li>
    <li><code>save(:validate => false)</code></li>
    <li><code>toggle!</code></li>
    <li><code>update</code></li>
    <li><code>update_attribute</code></li>
    <li><code>update_attributes</code></li>
    <li><code>update_attributes!</code></li>
    <li><code>valid?</code></li>
  </ul>
  <h2>after_find</h2>
  <ul>
    <li><code>all</code></li>
    <li><code>first</code></li>
    <li><code>find</code></li>
    <li><code>find_all_by_attribute</code></li>
    <li><code>find_by_attribute</code></li>
    <li><code>find_by_attribute!</code></li>
    <li><code>last</code></li>
  </ul>
</section>