<section id="running-explain" class="slide">
  <h2>Running EXPLAIN</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    > User.where(id: 1).joins(:posts).explain
    User Load (6.0ms)  SELECT "users".* FROM "users" INNER JOIN "posts" ON "posts"."user_id" = "users"."id" WHERE "users"."id" = ?  [["id", 1]]
  </script>

  sqlite3

  <script type="syntaxhighlighter" class="brush: bash">
    => EXPLAIN for: SELECT "users".* FROM "users" INNER JOIN "posts" ON "posts"."user_id" = "users"."id" WHERE "users"."id" = ? [["id", nil]]
    0|0|0|SEARCH TABLE users USING INTEGER PRIMARY KEY (rowid=?)
    0|1|1|SCAN TABLE posts
  </script>

  MySQL and MariaDB

  <script type="syntaxhighlighter" class="brush: bash">
    EXPLAIN for: SELECT `users`.* FROM `users` INNER JOIN `posts` ON `posts`.`user_id` = `users`.`id` WHERE `users`.`id` = 1
    +----+-------------+----------+-------+---------------+
    | id | select_type | table    | type  | possible_keys |
    +----+-------------+----------+-------+---------------+
    |  1 | SIMPLE      | users    | const | PRIMARY       |
    |  1 | SIMPLE      | posts    | ALL   | NULL          |
    +----+-------------+----------+-------+---------------+
    +---------+---------+-------+------+-------------+
    | key     | key_len | ref   | rows | Extra       |
    +---------+---------+-------+------+-------------+
    | PRIMARY | 4       | const |    1 |             |
    | NULL    | NULL    | NULL  |    1 | Using where |
    +---------+---------+-------+------+-------------+

    2 rows in set (0.00 sec)
  </script>

  PostgreSQL

  <script type="syntaxhighlighter" class="brush: bash">
      EXPLAIN for: SELECT "users".* FROM "users" INNER JOIN "posts" ON "posts"."user_id" = "users"."id" WHERE "users"."id" = 1
                                      QUERY PLAN
    ------------------------------------------------------------------------------
     Nested Loop Left Join  (cost=0.00..37.24 rows=8 width=0)
       Join Filter: (posts.user_id = users.id)
       ->  Index Scan using users_pkey on users  (cost=0.00..8.27 rows=1 width=4)
             Index Cond: (id = 1)
       ->  Seq Scan on posts  (cost=0.00..28.88 rows=8 width=4)
             Filter: (posts.user_id = 1)
    (6 rows)
  </script>
</section>
