<section id="running-callbacks" class="slide">
  <h2>Running Callbacks</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[         
    create
    create!
    decrement!
    destroy
    destroy_all
    increment!
    save
    save!
    save(:validate => false)
    toggle!
    update
    update_attribute
    update_attributes
    update_attributes!
    valid?
    ]]>
  </script>
  <h2>after_find</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
   <![CDATA[      
    all
    first
    find
    find_all_by_attribute
    find_by_attribute
    find_by_attribute!
    last
    ]]>
  </script>
</section>