<section id="shoulda-matchers" class="slide">
  <h2>Shoulda matchers</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
      group :test do
        gem 'rspec-rails'
        gem 'factory-girl-rails'
        gem 'database_cleaner'
        gem 'shoulda-matchers'
      end
  </script>
</section>
