<section id="shoulda-example" class="slide">
  <h2>Shoulda</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      # in user_spec.rb
      describe User do
        it { should have_many(:posts) }
        it { should validate_presence_of(:first_name }
        it { should validate_presence_of(:last_name }
      end
    ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      # in user.rb
      class User < ActiveRecord::Base
        validates :first_name, :last_name, presence: true
        has_many :posts
      end
    ]]>
  </script>
</section>