<section id="shoulda-using" class="slide">
  <h2>Shoulda</h2>
  <h3>ActiveRecord Matchers</h3>
  <p>Matchers to test associations</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      describe Post do
        it { should belong_to(:user) }
        it { should have_many(:tags).through(:taggings) }
      end

      describe Blog do
        it { should have_many(:subscriptions) }
        it { should have_many(:users).through(:subscriptions) }
      end

      describe User do
        it { should have_many(:posts) }
      end
    ]]>
  </script>
  <h3>ActiveModel Matchers</h3>
  <p>Matchers to test validations</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      describe Post do
        it { should validate_uniqueness_of(:title) }
        it { should validate_presence_of(:text).with_message(/some/) }
        it { should validate_presence_of(:title) }
        it { should validate_numericality_of(:user_id) }
      end

      describe User do
        it { should_not allow_value("blah").for(:email) }
        it { should allow_value("some@f.com").for(:email) }
        it { should_not ensure_inclusion_of(:age).in_range(1..100) }
      end
    ]]>
  </script>
</section>