<section id="skipping-validations" class="slide">
  <h2>Skiping Validations</h2>
  <ul>
    <li><code>decrement!</code></li>
    <li><code>decrement_counter</code></li>
    <li><code>increment!</code></li>
    <li><code>increment_counter</code></li>
    <li><code>toggle!</code></li>
    <li><code>touch</code></li>
    <li><code>update_all</code></li>
    <li><code>update_attribute</code></li>
    <li><code>update_column</code></li>
    <li><code>update_columns</code></li>
    <li><code>update_counters</code></li>
    <li><code>save(validate: false)</code></li>
  </ul>
</section>