<section id="skipping-validations" class="slide">
  <h2>Skiping Validations</h2>
  <ul>
    <li><code>touch</code></li>
    <li><code>update_all</code></li>
    <li><code>update_attribute</code></li>
    <li><code>update_column</code></li>
    <li><code>update_columns</code></li>
    <li><code>save(validate: false)</code></li>
  </ul>
</section>