<section id="skipping-callbacks" class="slide">
  <h2>Skipping callbacks</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[        
    decrement
    decrement_counter
    delete
    delete_all
    find_by_sql
    increment
    increment_counter
    toggle
    touch
    update_column
    update_all
    update_counters
    ]]>
  </script>

</section>