<section id="skipping-callbacks" class="slide">
  <h2>Skipping callbacks</h2>
  <ul>
    <li><code>decrement</code></li>
    <li><code>decrement_counter</code></li>
    <li><code>delete</code></li>
    <li><code>delete_all</code></li>
    <li><code>find_by_sql</code></li>
    <li><code>increment</code></li>
    <li><code>increment_counter</code></li>
    <li><code>toggle</code></li>
    <li><code>touch</code></li>
    <li><code>update_column</code></li>
    <li><code>update_all</code></li>
    <li><code>update_counters</code></li>
  </ul>
</section>