<section id="skipping-validations" class="slide">
  <h2>Skiping Validations</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[      
    decrement!
    decrement_counter
    increment!
    increment_counter
    toggle!
    touch
    update_all
    update_attribute
    update_column
    update_columns
    update_counters
    save(validate: false)
    ]]>
  </script>
 
</section>