<section id="strict-validations" class="slide">
  <h2>Strict validations</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ApplicationRecord
      attr_accessible :email, :first_name, :password

      has_many :posts
      validates :email, presence: { strict: true }
    end

    User.new.valid?  # => ActiveModel::StrictValidationFailed: "Email can't be blank"
  </script>
</section>
