<section id="testing-scopes" class="slide">
  <h2>Testing scopes</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    describe User do
      context ".admins" do
        before do
          @users = FactoryGirl.create_list(:user, 3)
          @admins = FactoryGirl.create_list(:admin, 3)
        end
     
        it "returns list of admins" do
          expect(User.admins).to match_array(@admins)
        end
     
        it "doesn't return regular users" do
          expect(User.admins).not_to match_array(@users)
        end
      end
    end
  </script>
</section>
