<section id="testing-validations" class="slide">
  <h2>Testing validations</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    describe User do
      let(:user) { FactoryGirl.create :user }

      it "is invalid without an email" do
        expect(FactoryGirl.build :user, email: nil).not_to be_valid
      end

      it "does not allow duplicate emails" do
        expect(FactoryGirl.build :user, email: user.email).not_to be_valid
      end

      it "is invalid without a name" do
        expect(FactoryGirl.build :user, name: nil).not_to be_valid
      end
    end
  </script>
</section>
