<section id="testing-associations" class="slide">
  <h2>Testing associations</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    describe User do
      let(:user) { FactoryGirl.create :user }

      it "has many posts" do
        expect(user).to respond_to :posts
      end
    end
  </script>
</section>
