<section id="testing-associations" class="slide">
  <h2>Testing associations</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      it "have posts" do
        @user.should respond_to :posts
      end
    ]]>
  </script>
</section>