<section id="topic" class="slide">
  <div class="vcenter">
    <h1>Active Record Models</h1>
    <div class="about">
      <p><strong>Active Record</strong> is the <strong>M</strong> in <a href="http://en.wikipedia.org/wiki/Model–view–controller" target="_blank">MVC</a> - the model - which is the layer of the system responsible for representing business data and logic. It is an implementation of <a href="http://en.wikipedia.org/wiki/Active_record_pattern" target="_blank">the Active Record pattern</a> which itself is a description of an <a href="https://en.wikipedia.org/wiki/Object-relational_mapping" target="_blank">Object Relational Mapping</a> (ORM) system.</p>
      <p>Active Record gives us several mechanisms, the most important being the ability to:</p>
      <ul>
        <li>Represent models and their data</li>
        <li>Represent associations between these models</li>
        <li>Represent inheritance hierarchies through related models</li>
        <li>Validate models before they get persisted to the database</li>
        <li>Perform database operations in an object-oriented fashion</li>
      </ul>
    </div>
  </div>
</section>
