<section id="topic-testing-models" class="slide">
  <div class="vcenter">
    <h1>Testing Models</h1>
    <div class="about">
      <p>A model spec should include tests for the following:</p>
      <ul>
        <li>Validations</li>
        <li>Associations</li>
        <li>Callbacks</li>
        <li>Class and instance methods</li>
      </ul>
    </div>
  </div>
</section>
