<section id="transaction-callbacks" class="slide">
  <h2>Transaction Callbacks</h2>

  <ul>
    <li><code>after_commit</code></li>
    <li><code>after_rollback</code></li>
  </ul>

  <script type="syntaxhighlighter" class="brush: ruby">
      PictureFile.transaction do
        picture_file_1.destroy
        picture_file_2.save!
      end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
   class PictureFile < ApplicationRecord
     after_commit :delete_picture_file_from_disk, on: [:destroy]

     def delete_picture_file_from_disk
       if File.exist?(filepath)
         File.delete(filepath)
       end
     end
    end
  </script>

  <ul>
    <li><code>after_create_commit</code></li>
    <li><code>after_update_commit</code></li>
    <li><code>after_destroy_commit</code></li>
  </ul>

</section>
