<section id="uniqueness" class="slide">
  <h2>Uniqueness</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[    
    rails g AddPageAddressToUsers page_address:string    
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    class User < ActiveRecord::Base
      ... 
      validates :email, uniqueness: true
      validates :first_name, uniqueness: { scope: :email,  message: "should only one user with name and email" }
      validates :page_address, uniqueness: { case_sensitive:  false }
    end
    
    ]]>
  </script>
</section>