<section id="when-does-validation-happen" class="slide">
  <h2>When Does Validations Happen?</h2>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[    
    :create
    :create!
    :save
    :save!
    :update
    :update_attributes
    :update_attributes!
    ]]>
  </script>
 
</section>