<section id="when-do-validation-happen" class="slide">
  <h2>When Do Validations Happen?</h2>
  <ul>
    <li><code>create</code></li>
    <li><code>create!</code></li>
    <li><code>save</code></li>
    <li><code>save!</code></li>
    <li><code>update</code></li>
    <li><code>update!</code></li>
  </ul>
  <h2>Skiping Validations</h2>
  <ul>
    <li><code>decrement!</code></li>
    <li><code>decrement_counter</code></li>
    <li><code>increment!</code></li>
    <li><code>increment_counter</code></li>
    <li><code>toggle!</code></li>
    <li><code>touch</code></li>
    <li><code>update_all</code></li>
    <li><code>update_attribute</code></li>
    <li><code>update_column</code></li>
    <li><code>update_columns</code></li>
    <li><code>update_counters</code></li>
  </ul>

  <code>save(validate: false)</code>
</section>
