<section id="when-does-validation-happen" class="slide">
  <h2>When Does Validations Happen?</h2>
  <ul>
    <li><code>create</code></li>
    <li><code>create!</code></li>
    <li><code>save</code></li>
    <li><code>save!</code></li>
    <li><code>update</code></li>
    <li><code>update!</code></li>
  </ul>
  <h2>Skiping Validations</h2>
  <code>save(validate: false)</code>
</section>