<section id="validates-associated" class="slide">
  <h2>Validates Assosiated</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class User < ActiveRecord::Base
      ...
      has_many :posts
      validates_associated :posts
    end
  </script>
</section>
