<section id="array-obtaining-information" class="slide">
  <h2>Array</h2>
  <h3>Obtaining information</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > languages = "Ruby", "JavaScript", "PHP", "Python", "PHP"
    => ["Ruby", "JavaScript", "PHP", "Python", "PHP"]

    > # Count
    > languages.length
    > languages.count
    > languages.size
    => 5

    > # Empty
    > languages.empty?
    => false

    > # Include
    > languages.include?('Ruby')
    => true

    > languages.include?('Closure')
    => false
  ]]>
  </script>
</section>