<section id="array-accessing-elements" class="slide">
  <h2>Array</h2>
  <h3>Accessing elements</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    > languages = 'Ruby', 'JavaScript', 'Python', 'PHP'
    => ["Ruby", "JavaScript", "Python", "PHP"]

    > languages[0]
    => "Ruby"

    > languages.at(0)
    => "Ruby"

    > languages[1]
    => "JavaScript"

    > languages[4]
    => nil

    > languages[2..3]
    => ["Python", "PHP"]

    > languages.take(3)
    => ["Ruby", "JavaScript", "Python"]

    > languages[1] = "CoffeeScript"
    => "CoffeeScript"
    
    > languages
    => ["Ruby", "CoffeeScript", "Python", "PHP"]

    #Extracts the nested value (only from 2.3.0)

    > a = [[1, [2, 3]]]

    > a.dig(0, 1, 1)
    => 3

    > a.dig(1, 2, 3)
    => nil

    > a.dig(0, 0, 0)
    => NoMethodError, undefined method 'dig' for 1:Fixnum

    > [42, {foo: :bar}].dig(1, :foo)
    => :bar

  </script>
</section>
