<section id="array" class="slide">
  <h2>Array</h2>
  <h3>Creating</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    > [[1, 2, 3], 10, 3.14, "This is a string", barnet("pebbles")]
    => [[1, 2, 3], 10, 3.14, "This is a string", "pebbles results"]
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    > Array.new
    => []
    
    > Array.new(3)       
    => [nil, nil, nil]
    
    > Array.new(3, true)
    => [true, true, true]

    > Array.new(4) { Hash.new } 
    => [{}, {}, {}, {}]
    
    > Array({:a => "a", :b => "b"})
    => [[:a, "a"], [:b, "b"]]
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    > %w(monkey fish lion dog cat #{Time.now})
    => ["monkey", "fish", "lion", "dog", "cat", "\#{Time.now}"]
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    > %W(monkey fish lion dog cat #{Time.now})
    => ["monkey", "fish", "lion", "dog", "cat", "2013-05-03 12:24:42 +0300"]
  </script>
</section>