<section id="array-concat" class="slide">
  <h2>Array</h2>
  <h3>Concatenation</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    > days1 = ["Mon", "Tue", "Wed"]
    > days2 = ["Thu", "Fri", "Sat", "Sun"]
    > days1 + days2
    => ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

    > days1.concat(days2)
    => ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    > days1 = ["Mon", "Tue", "Wed"]
    > days1 << "Thu" << "Fri" << "Sat" << "Sun"
    => ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
  </script>
</section>