<section id="case" class="slide">
  <h2>Case, when</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    a = 1
    r = case 
          when a < 5
            "#{a} less than 5"
          when a > 5
            "#{a} greater than 5"
          else
            "#{a} equals 5"
        end
    r
    => "1 less than 5"
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    a = 1
    case a
      when 0...5
        "#{a} greater than 0 less than 5"
      when 5
        "#{a} equals 5"
      when 5..Float::INFINITY
        "#{a} greater than 5"
      else
        "#{a} less than 0"
    end
    "1 greater than 0 less than 5"
  </script>
</section>