<section id="do-while" class="slide">
  <h2>Like do...while</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    i = 11
    begin
      print "#{i} "
      i += 1
    end while i < 10
    #=> 11
  </script>
</section>