<section id="each" class="slide">
  <h2>Each</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    [1,2,3,4,5,6,7,8,9,10].each {|value| print "#{value} "}
    #=> 1 2 3 4 6 7 8 9 10
  </script>
</section>