<section id="everything-is-an-object" class="slide">
  <h2>Everything is an object</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    >> "alice".capitalize 
    => "Alice"

    >> 5.next
    => 6

    >> false.class
    => FalseClass
    
    >> [5, 12, 4].sort 
    => [4, 5, 12]
  </script>
</section>