<section id="file-read" class="slide">
  <h2>File</h2>
  <h3>Read</h3>
  read
  <script type="syntaxhighlighter" class="brush: ruby">
    File.read("tmp.txt")
    => "This is line one\nThis is line two\nThis is line three\nAnd so on...\n"

    File.read("tmp.txt", 20)
    => "This is line one\nThi"

    File.read("tmp.txt", 20, 10)
    => "ne one\nThis is line "
  </script>
  gets
  <script type="syntaxhighlighter" class="brush: ruby">
    f = File.open("tmp.txt", "r")
    
    while line = f.gets
      print line
    end
  </script>
  readlines
  <script type="syntaxhighlighter" class="brush: ruby">
    a = File.readlines("tmp.txt")

    a[0]
    => "This is line one\n"

    a[1]
    => "This is line two\n"
  </script>
  each
  <script type="syntaxhighlighter" class="brush: ruby">
    f = File.open("tmp.txt", "r")

    f.each do |line|
      print line
    end
  </script>
</section>