<section id="file-write" class="slide">
  <h2>File</h2>
  <h3>Write</h3>
  write, puts
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    f = File.open("tmp.txt", "w")
    f.write("new text")
  ]]>
  </script>
</section>