<section id="file" class="slide">
  <h2>File</h2>
  <p>
    Follow by <a href="http://www.ruby-doc.org/core-2.3.0/File.html" target="_blank">http://www.ruby-doc.org/core-2.3.0/File.html</a> for more information.
  </p>
  new
  <script type="syntaxhighlighter" class="brush: ruby">
    File.new("tmp.txt", "w")
    => #<File:tmp.txt>
  </script>
  open, close
  <script type="syntaxhighlighter" class="brush: ruby">
    f = File.open("tmp.txt", "r")
    => #<File:tmp.txt>

    f.closed?
    => false

    f.close

    f.closed?
    => true
  </script>
</section>
