<section id="for" class="slide">
  <h2>For</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    for i in 1..10
      print "#{i} "
    end
    #=> 1 2 3 4 6 7 8 9 10
  </script>
</section>