<section id="hash-default" class="slide">
  <h2>Hash</h2>
  <h3>Default value</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = Hash.new("Default value")
    => {}

    h['key']
    => "Default value"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = Hash.new { |hash, key| hash[key] = "Default value: #{key}" }
    => {}

    h['key']
    => "Default value: key"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = Hash.new
    h.default = "Default value"

    h['key']
    => "Default value"
  ]]>
  </script>
</section>