<section id="hash-methods-2" class="slide">
  <h2>Hash</h2>
  <h3>Useful methods</h3>
  key?
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = { "a" => 100, "b" => 200 }

    h.key?("a")
    => true
    
    h.key?("z")
    => false
  ]]>
  </script>
  value?
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = { "a" => 100, "b" => 200 }

    h.value?(100)
    => true
    
    h.value?(999)
    => false
  ]]>
  </script>
  keys
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = { "a" => 100, "b" => 200 }

    h.keys
    => ["a", "b"]
  ]]>
  </script>
  values
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = { "a" => 100, "b" => 200, "c" => 300 }

    h.values
    => [100, 200, 300
  ]]>
  </script>
  values_at
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    h = { "a" => 100, "b" => 200, "c" => 300 }

    h.values_at("a", "c")
    => [100, 300]
  ]]>
  </script>
</section>