<section id="hash-removing-items" class="slide">
  <h2>Hash</h2>
  <h3>Removing items</h3>
  delete
  <script type="syntaxhighlighter" class="brush: ruby">
    h = { "a" => 100, "b" => 200 }
    
    h.delete("a")
    => 100
    
    h.delete("z")
    => nil
  </script>
  delete_if
  <script type="syntaxhighlighter" class="brush: ruby">
    h = { "a" => 100, "b" => 200, "c" => 300 }

    h.delete_if {|key, value| value > 100 }   
    => {"a"=>100}
  </script>
  keep_if
  <script type="syntaxhighlighter" class="brush: ruby">
    h = { "a" => 100, "b" => 200, "c" => 300 }

    h.keep_if {|key, value| value > 100 }   
    => {"b"=>200, "c"=>300}
  </script>
  shift
  <script type="syntaxhighlighter" class="brush: ruby">
    h = { 1 => "a", 2 => "b", 3 => "c" }

    h.shift
    => [1, "a"]

    h
    => {2=>"b", 3=>"c"}
  </script>
</section>