<section id="hash" class="slide">
  <h2>Hash</h2>
  <h3>Creating</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > {:font_size => 10, :font_family => "Arial"}
    => {:font_size=>10, :font_family=>"Arial"}
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > {font_size: 10, font_family: "Arial"}
    => {:font_size=>10, :font_family=>"Arial"}
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > Hash.new
    => {}
  ]]>
  </script>
</section>