<section id="if-else" class="slide">
  <h2>If, else</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    a = 1

    res = if a < 5
            "#{a} less than 5"
          elsif a > 5
            "#{a} greater than 5"
          else
            "#{a} equals 5"
          end

    res
    => "1 less than 5"
  ]]>
  </script>
  <h3>Short-if expression</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    true ? "t" : "f"
    => "t"

    false ? "t" : "f"
    => "f"
  ]]>
  </script>
</section>