<section id="if-unless" class="slide">
  <h2>If, unless</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    a = 5

    if a == 4
      a = 7
    end

    if a == 4 then a = 7 end

    a = 7 if a == 4      
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    a = 5

    if a != 4
      a = 7
    end

    unless a == 4
      a = 7
    end
  ]]>
  </script>
</section>