<section id="if-unless" class="slide">
  <h2>Using</h2>
  <p>Bad</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    unless some_condition?
      # do something
    else
      # do something else
    end
  </script>
  <p>Good</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    if some_condition?
      # do something else
    else
      # do something
    end
  </script>
  <p>Bad</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    unless some.nil?
      # do something
    end
  </script>
  <p>Good</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    if some
      # do something
    end
  </script>
  <p>Bad</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    unless first_condition? && second_condition?
      # do something
    end
  </script>
  <p>Good</p>
  <script type="syntaxhighlighter" class="brush: ruby">
    if !first_condition? || !second_condition?
      # do something
    end
  </script>
</section>
