<section id="if-unless" class="slide">
  <h2>If, unless</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    if a == 4
      a = 7
    end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    if a == 4 then a = 7 end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    a = 7 if a == 4
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    if a != 4
      a = 7
    end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    unless a == 4
      a = 7
    end
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    a = 7 unless a == 4
  </script>
</section>
