<section id="loop" class="slide">
  <h2>Loop</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    i = 0
    loop do
      i += 1
      next if i == 5
      print "#{i} "
      break if i == 10
    end
    #=> 1 2 3 4 6 7 8 9 10
  </script>
</section>