<section id="method-arguments" class="slide">
  <h2>Methods</h2>
  <h3>Arguments</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    def var_args(a, b, c=1, *d, e, f)
      puts "required a #{a}"
      puts "required b #{b}"
      puts "optional c #{c}"
      puts "argument array d #{d.inspect}"
    end

    var_args(1,2,3,4,5,6,7,8,9)
    required a 1
    required b 2
    optional c 3
    argument array d [4, 5, 6, 7]
    => nil
  </script>

  <h4>Invalid order</h4>
  <p>sponge arguments (*) should be always after optional </p>

  <script type="syntaxhighlighter" class="brush: ruby">
    def invalid_args(x,*y,z=1)  end
  </script>

  <h4>More examples</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
    def split_apart(first, *split, last)
      "first: #{first.inspect}, split: #{split.inspect}, last: #{last.inspect}"
    end

    split_apart(1, 2)
    => "first: 1, split: [], last: 2"

    split_apart(1, 2, 3)
    => "first: 1, split: [2], last: 3"

    split_apart(1, 2, 3, 4)
    => "first: 1, split: [2, 3], last: 4"
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    def split_apart(first, *, last)
      # ...
    end
  </script>
</section>
