<section id="methods" class="slide">
  <h2>Methods</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    "Goonies has a rank of 10"
    "Ghostbusters has a rank of 9"
    "Goldfinger has a rank of 8"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def movie_listing(title, rank = 5)
      "#{title.capitalize} has a rank of #{rank}"
    end

    movie_listing("goonies", 10)
    => "Goonies has a rank of 10"

    movie_listing("ghostbusters", 9)
    => "Ghostbusters has a rank of 9"

    movie_listing("goldfinger")
    => "Goldfinger has a rank of 5"
  ]]>
  </script>
</section>