<section id="proc-vs-lambda" class="slide">
  <h2>Proc vs lambda</h2>
  <h3>Lambdas check the number of arguments</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def args(code)
      one, two = 1, 2
      code.call(one, two)
    end

    args(Proc.new{|a, b, c| puts "Give me a #{a} and b #{b} and c #{c}"})
    args(lambda{|a, b, c| puts "Give me a #{a} and b #{b} and c #{c}"})

    Give me a 1 and b 2 and c
    ArgumentError: wrong number of arguments (2 for 3)
  ]]>
  </script>
</section>