<section id="proc-vs-lambda-conclusion" class="slide">
  <h2>Proc vs lambda</h2>
  <h3>Conclusion</h3>
  <ul>
    <li>blocks and Procs act like code snippets</li>
    <li>lambdas and Methods act like methods</li>
  </ul>
</section>