<section id="method-closures" class="slide">
  <h2>Methods</h2>
  <h3>Closures</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def thrice
      yield
      yield
      yield
    end
 
    x = 5
    puts "value of x before: #{x}"
    value of x before: 5
 
    thrice { x += 1 }

    puts "value of x after: #{x}"
    value of x after: 8
  ]]>
  </script>
</section>