<section id="method-method" class="slide">
  <h2>Method to object</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def square(n)
      n ** 2
    end

    square_obj = method(:square)

    square_obj.class
    => Method

    square_obj.call(4)
    => 16
  ]]>
  </script>
</section>