<section id="method-return-values" class="slide">
  <h2>Methods</h2>
  <h3>Return values</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    def meth_one
      "one"
    end

    meth_one
    => "one"
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    def meth_two(arg)
      if arg > 0
        "positive"
      elsif arg < 0
        "negative"
      else
        "zero"
      end
    end

    meth_two(23)
    => "positive"

    meth_two(0)
    => "zero"
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    def meth_three
      100.times do |num|
        square = num * num
        return num if square > 1000
      end
    end

    meth_three
    => 32
  </script>
</section>