<section id="method-block-to-proc" class="slide">
  <h2>Methods</h2>
  <h3>Convert the block to a Proc</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    def thrice
      yield
      yield
      yield
    end
 
    def seven_times(&block)
      block.call
      thrice(&block)
      thrice(&block)
    end

    x = 4

    seven_times { x += 10 }
    => 74
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    def what_am_i(&block)
      block.class
    end

    what_am_i {}
    => Proc
  </script>
</section>