<section id="method-arguments" class="slide">
  <h2>Methods</h2>
  <h3>Arguments</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def var_args(arg1, *rest)
      "arg1=#{arg1}, rest=#{rest.inspect}"
    end

    var_args("one")
    => "arg1=one, rest=[]"

    var_args("one", "two")
    => "arg1=one, rest=['two']"

    var_args("one", "two", "three")
    => "arg1=one, rest=['two', 'three']"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def split_apart(first, *split, last)
      "first: #{first.inspect}, split: #{split.inspect}, last: #{last.inspect}"
    end

    split_apart(1, 2)
    => "first: 1, split: [], last: 2"

    split_apart(1, 2, 3)
    => "first: 1, split: [2], last: 3"

    split_apart(1, 2, 3, 4)
    => "first: 1, split: [2, 3], last: 4"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def split_apart(first, *, last)
      # ...
    end
  ]]>
  </script>
</section>