<section id="method-proc" class="slide">
  <h2>Methods</h2>
  <h3>Proc aka procedure</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    square = Proc.new do |n|
      n ** 2
    end

    square.call(2)
    => 4

    square.call(4)
    => 16
  ]]>
  </script>
</section>