<section id="method-anonymous" class="slide">
  <h2>Methods</h2>
  <h3>Anonymous</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    bo = lambda {|param| "You called me with #{param}"}
    bo.call 99
    => "You called me with 99"
  ]]>
  </script>
</section>