<section id="methods-definition" class="slide">
  <h2>Methods</h2>
  <h3>Definition</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def my_method
      # Code for the method would be here
    end
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def my_method_with_arguments(arg1, arg2, arg3)
      # Code for the method would be here
    end
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    def cool_dude(arg1 = "Miles", arg2 = "Coltrane", arg3 = "Roach")
      "#{arg1}, #{arg2}, #{arg3}"
    end

    cool_dude
    => "Miles, Coltrane, Roach"

    cool_dude("Bart")
    => "Bart, Coltrane, Roach"

    cool_dude("Bart", "Elwood")
    => "Bart, Elwood, Roach"

    cool_dude("Bart", "Elwood", "Linus")
    => "Bart, Elwood, Linus"
  ]]>
  </script>
</section>