<section id="method-naming" class="slide">
  <h2>Methods</h2>
  <h3>Naming</h3>
  <h4>? - return true or false</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    movie = ""
    movie.empty?
    => true

    movie = "Goonies"
    movie.empty?
    => false

    movie.include?("G")
    => true
    movie.include?("x")
    => false
  ]]>
  </script>
  <h4>! - change the current object</h4>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    movie = "Ghostbusters"
    => "Ghostbusters"

    movie.reverse
    => "sretsubtsohG"
    movie
    => "Ghostbusters"

    movie.reverse!
    => "sretsubtsohG"
    movie
    => "sretsubtsohG"
  ]]>
  </script>
</section>