<section id="numbers-assignment-operators" class="slide">
  <h2>Assignment Operators</h2>
  <p>Assume variable a holds 10 and variable b holds 20 then:</p>
  <table>
    <tbody>
      <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
      </tr>
      <tr>
        <td>=</td><td>Simple assignment operator, Assigns values from right side operands to left side operand</td><td> c = a + b will assigne value of a + b into c</td>
      </tr>
      <tr>
        <td>+=</td><td>Add AND assignment operator, It adds right operand to the left operand and assign the result to left operand</td><td> c += a is equivalent to c = c + a</td>
      </tr>
      <tr>
        <td>-=</td><td>Subtract AND assignment operator, It subtracts right operand from the left operand and assign the result to left operand</td><td> c -= a is equivalent to c = c - a</td>
      </tr>
      <tr>
        <td>*=</td><td>Multiply AND assignment operator, It multiplies right operand with the left operand and assign the result to left operand</td><td> c *= a is equivalent to c = c * a</td>
      </tr>
      <tr>
        <td>/=</td><td>Divide AND assignment operator, It divides left operand with the right operand and assign the result to left operand</td><td> c /= a is equivalent to c = c / a</td>
      </tr>
      <tr>
        <td>%=</td><td>Modulus AND assignment operator, It takes modulus using two operands and assign the result to  left operand</td><td> c %= a is equivalent to c = c % a</td>
      </tr>
      <tr>
        <td>**=</td><td>Exponent AND assignment operator, Performs exponential (power) calculation on operators and assign value to the left operand</td><td> c **= a is equivalent to c = c ** a</td>
      </tr>
    </tbody>
  </table>

  <h2>Safe navigation Operator (only 2.3.0)</h2>
  <table>
    <tbody>
      <tr>
        <th>Operator</th><th>Description</th><th>Example</th>
      </tr>
      <tr>
        <td>&.</td><td>Makes it safer to chain multiple methods together. Execution stopes if method doesn't exist or returns nil</td><td> a&.b&.c</td>
      </tr>
    </tbody>
  </table>

</section>
