<section id="numbers" class="slide">
  <h2>Numbers</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > 100.class
    => Fixnum

    > 10000000000000000000.class
    => Bignum

    > 100.0.class
    => Float
  ]]>
  </script>
  <div id="numbers-conversion" class="slide">
    <h2>Numbers conversion</h2>
    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      > 1 + 2
      => 3

      > 1 + 2.0
      => 3.0

      > 1.0 + 2
      => 3.0

      > 1 / 2
      => 0

      > 1.0 / 2
      => 0.5

      > 1 / 2.0
      => 0.5
    ]]>
    </script>
  </div>
</section>