<section id="numbers-arithmetic-operators" class="slide">
  <h2>Arithmetic operators</h2>
  <p>Assume variable a holds 10 and variable b holds 20 then:</p>
  <table>
    <tbody>
      <tr>
        <th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
      </tr>
      <tr>
        <td>+</td><td>Addition - Adds values on either side of the operator</td><td> a + b will give 30</td>
      </tr>
      <tr>
        <td>-</td><td>Subtraction - Subtracts right hand operand from left hand operand</td><td> a - b will give -10</td>
      </tr>
      <tr>
        <td>*</td><td>Multiplication - Multiplies values on either side of the operator</td><td> a * b will give 200</td>
      </tr>
      <tr>
        <td>/</td><td>Division - Divides left hand operand by right hand operand</td><td> b / a will give 2</td>
      </tr>
      <tr>
        <td>%</td><td>Modulus - Divides left hand operand by right hand operand and returns remainder</td><td> b % a will give 0</td>
      </tr>
      <tr>
        <td>**</td><td>Exponent - Performs exponential (power) calculation on operators</td><td> a**b will give 10 to the power 20</td>
      </tr>
    </tbody>
  </table>
</section>