<section id="operators" class="slide">
  <h2>Operators</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    num = 12
    => 12

    num * 2
    => 24

    num.*(2)
    => 24
  ]]>
  </script>
</section>