<section id="or-and" class="slide">
  <h2>Or, and</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    nil && 99
    => nil

    false && 99
    => false

    "cat" && 99
    => 99
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    nil || 99
    => 99

    false || 99
    => 99

    "cat" || 99
    => "cat"
  </script>
  <p>
    At first glance it appears to be synonyms for && and || and and or.
    You will then be tempted to use these them  in place of && and || to improve readability.
    But and and or don’t behave like their symbolic kin.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    one = :one
    two = nil

    t = one and two
    => nil
    t
    => :one

    t = one && two
    => nil
    t
    => nil

    t = (one and two)
    => nil
    t
    => nil

    (t = one) && two
    => nil
    t
    => :one

  </script>
</section>
