<section id="or-and" class="slide"> 
  <h2>Or, and</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    nil && 99
    => nil

    false && 99
    => false

    "cat" && 99
    => 99
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    nil || 99
    => 99

    false || 99
    => 99

    "cat" || 99
    => "cat"
  ]]>
  </script>
</section>