<section id="range" class="slide">
  <h2>Range</h2>
  <p>
    A Range represents an interval—a set of values with a beginning and an end. 
  </p>
  <p>
    Follow by <a href="http://www.ruby-doc.org/core-2.3.0/Range.html" target="_blank">http://www.ruby-doc.org/core-2.3.0/Range.html</a> for more information.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    # Creates a range from 1 to 10 inclusive
    1..10

    (1..10).to_a
    => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # Creates a range from 1 to 10
    1...10

    (1...10).to_a
    => [1, 2, 3, 4, 5, 6, 7, 8, 9]

    ('a'..'e').to_a
    => ["a", "b", "c", "d", "e"]
  </script>
</section>
