<section id="range" class="slide">
  <h2>Range</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    # Creates a range from 1 to 10 inclusive
    1..10
    
    (1..10).to_a
    => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # Creates a range from 1 to 10
    1...10

    (1...10).to_a
    => [1, 2, 3, 4, 5, 6, 7, 8, 9]
    
    ('a'..'e').to_a    
    => ["a", "b", "c", "d", "e"]
  ]]>
  </script>
</section>