<section id="run-files" class="slide">
  <h2>Run Ruby files</h2>
  hello_world.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    puts 'Hello Ruby world!'
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    ruby hello_world.rb
    Hello Ruby world!
  </script>
  hello_world.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    #!/usr/bin/ruby
    puts 'Hello Ruby world!'
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    ./hello_world.rb
    Hello Ruby world!
  </script>
  <div id="irb" class="slide">
    <h2>Interactive Ruby</h2>
    <script type="syntaxhighlighter" class="brush: bash">
      irb
      >> puts 'Hello Ruby world!'
      Hello Ruby world!
      => nil
    </script>
  </div>
</section>