<section id="rvm" class="slide">
  <h2>RVM first</h2>
  <img src="/assets/rvm.png" />
  <script type="syntaxhighlighter" class="brush: bash">
  <![CDATA[
    curl -L https://get.rvm.io | bash -s stable --autolibs=3
    rvm install 2.0.0
    rvm use 2.0.0
    rvm gemset create project_name
    rvm gemset use project_name
  ]]>
  </script>
</section>