<section id="rvmrc" class="slide">
  <h2>.rvmrc file</h2>
  <script type="syntaxhighlighter" class="brush: bash">
  <![CDATA[
    rvm use 2.0.0@project_name --create
  ]]>
  </script>
  <div id="rvm-best-practices" class="slide">
    <h2>RVM Best Practices</h2>
    <ul>
      <li>Use .rvmrc files for each of your individual projects</li>
      <li>Check your .rvmrc into source control</li>
      <li>Use per-project gemsets</li>
      <li>Deploy with rvm when possible</li>
    </ul>
  </div>
</section>