<section id="rvmrc" class="slide">
  <h2>.rvmrc file</h2>
  <script type="syntaxhighlighter" class="brush: bash">
    rvm use 2.0.0@project_name --create
  </script>
  <div id="ruby-version-file" class="slide">
    <h2>.ruby-version file</h2>
    <script type="syntaxhighlighter" class="brush: bash">
      2.0.0-p247
    </script>    
  </div>
  <div id="ruby-gemset-file" class="slide">
    <h2>.ruby-gemset file</h2>
    <script type="syntaxhighlighter" class="brush: bash">
      project_name
    </script>    
  </div>
  <div id="rvm-best-practices" class="slide">
    <h2>RVM Best Practices</h2>
    <ul>
      <li>Use .rvmrc files for each of your individual projects</li>
      <li>Check your .rvmrc into source control</li>
      <li>Use per-project gemsets</li>
      <li>Deploy with rvm when possible</li>
    </ul>
  </div>
</section>