<section id="string-concatenation" class="slide">
  <h2>String</h2>
  <h3>Accessing</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    str = "Programming! I love it! What about you?"
    => "Programming! I love it! What about you?"

    str[13]
    => "I"
    str.slice(13)
    => "I"

    str[13, 10]
    => "I love it!"
    str.slice(13, 12)
    => "I love it!"

    str[13..-17]
    => "I love it!"

    str["I love it!"]
    => "I love it!"

    str[/[abc](.)\1/]
    => "amm"
  </script>
</section>
