<section id="string-concatenation" class="slide">
  <h2>String</h2>
  <h3>Concatenation</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > 'Con' "cat" 'ena' "te"
    => "Concatenate"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > 'Con' + "cat" + 'ena' + "te"
    => "Concatenate"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > str = "Programming"
    => "Programming"

    > str << ", Motherfucker."
    => "Programming, Motherfucker."

    > str.concat(" Do you speak it?")
    => "Programming, Motherfucker. Do you speak it?"
  ]]>
  </script>
</section>