<section id="symbol" class="slide">
  <h2>Symbol</h2>
  <p>
    Ruby uses symbols, and maintains a Symbol Table to hold them.
    Symbols are names - names of instance variables, names of methods, names of classes.
    A Symbol object is created by prefixing an operator, string, variable, constant, method, class, module name with a colon.
    Symbols are immutable.
    The symbol object will be unique for each different name but does not refer to a particular instance of the name, for the duration of a program's execution.
  </p>
  <p>
    Follow by <a href="http://www.ruby-doc.org/core-2.3.0/Symbol.html" target="_blank">http://www.ruby-doc.org/core-2.3.0/Symbol.html</a> for more information.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    > :ruby_rules
    => :ruby_rules

    > :"Ruby rules"
    => :"Ruby rules"

    > language = "Ruby"
    > :"#{language} rules"
    => :"Ruby rules"
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    > :ruby.object_id
    => 319048
    > :ruby.object_id
    => 319048

    > "ruby".object_id
    => 70200985531220
    > "ruby".object_id
    => 70200985514360
  </script>
</section>
