<section id="symbol" class="slide">
  <h2>Symbol</h2>
  <p>
    Follow by <a href="http://www.ruby-doc.org/core-2.0.0/Symbol.html" target="_blank">http://www.ruby-doc.org/core-2.0.0/Symbol.html</a> for more information.
  </p>
  <script type="syntaxhighlighter" class="brush: ruby">
    > :ruby_rules
    => :ruby_rules

    > :"Ruby rules"
    => :"Ruby rules"

    > language = "Ruby"
    > :"#{language} rules"
    => :"Ruby rules"
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
    > :ruby.object_id
    => 319048
    > :ruby.object_id
    => 319048

    > "ruby".object_id
    => 70200985531220
    > "ruby".object_id
    => 70200985514360
  </script>
</section>