<section id="symbol" class="slide">
  <h2>Symbol</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > :ruby_rules
    => :ruby_rules

    > :"Ruby rules"
    => :"Ruby rules"

    > language = "Ruby"
    > :"#{language} rules"
    => :"Ruby rules"
  ]]>
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    > :ruby.object_id
    => 319048
    > :ruby.object_id
    => 319048

    > "ruby".object_id
    => 70200985531220
    > "ruby".object_id
    => 70200985514360
  ]]>
  </script>
</section>