<section id="time" class="slide">
  <h2>Time</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    t = Time.new
    => 2013-05-09 18:50:25 +0300

    t.year
    => 2013

    t.month
    => 5

    t.day
    => 9

    t.wday
    => 4

    t.yday
    => 129

    t.hour
    => 18

    t.hour
    => 50

    t.sec
    => 25

    t.zone
    => "EEST"

    t.strftime("%Y-%m-%d %H:%M:%S")
    => "2013-05-09 18:50:25"
  ]]>
  </script>
</section>