<section id="topic" class="slide">
  <div class="vcenter">
    <h1>Ruby is...</h1>
    <div class="description">
      <p>
        A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
      </p>
    </div>
  </div>
</section>