<section id="start-from-practice" class="slide">
  <h2>Let's start from practice</h2>

  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      git clone git@github.com:lyuba/css-training.git

      cd css-training
      vim .rvmrc
      gem install compass
    ]]>
  </script>
  
  <section class="slide">
    <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
        compass watch
      ]]>
    </script>
  </section>
</section>