<section id="grids-baseline-grid" class="slide">
  <h2>Baseline grid utophy</h2>

  <p>When all the fonts sit perfectly on the lines.
  <br />
  Utophy, not even possible in the printed typography, since the font sized and line-heights differ.</p>
  <img src="/assets/html_css/baseline-grid.png" style="margin: 0; margin-bottom: 20px; width: 900px;" />



</section>