<section id="grids-baseline-grid-fails" class="slide">
  <h2>Where baseline grid fails</h2>

  <section class="columns">
    <section class="column-half">
      <p>Baseline grid</p>
      <img src="/assets/html_css/baseline-grid-fails1.png" style="margin: 0; margin-bottom: 20px;" />
    </section>
    <section class="slide column-half">
      <p>Vertical rhythm</p>
      <img src="/assets/html_css/baseline-grid-fails2.png" style="margin: 0; margin-bottom: 20px;" />
    </section>
  </section>


</section>