<section id="grids-vertical-rhythm" class="slide">
  <h2>Vertical rhythm</h2>
  <p>We have something smarter than baseline grid in our toolbox. First let's see the result:</p>

  <img src="/assets/html_css/vertical-rhythm.png" style="margin: 0; margin-bottom: 20px; width: 800px;" />

</section>