<section id="grids-vertical-measurements" class="slide">
  <h2>Vertical grid</h2>


  <section class="columns">
    <section class="column-half">
      <h3>What is baseline?</h3>

      <section class="slide">
        <p>Baseline is the line upon which most letters "sit" and below which descenders extend</p>
      <img src="/assets/html_css/baseline.png" style="margin: 0; margin: 60px 0 20px;" />
      </section>
    </section>

    <section class="column-half">
      <section class="slide">
        <h3>What is css line-height?</h3>
      </section>
      <section class="slide">
        <p>On block level elements, the line-height CSS property specifies the minimal height of line boxes within the element.</p>
      <img src="/assets/html_css/line-height.png" style="margin: 40px 0 20px; width: 200px;" />
      </section>
    </section>
  </section>

</section>