<section id="grids-why-do-we-need-grids" class="slide">
  <h2>What are grids?</h2>
  
  <section>
    <p>A typographic grid is a two-dimensional structure of axes used to structure content. The grid serves as an armature on which a designer can organize text and images in a rational, easy to absorb manner.</p>
  </section>

  <img src="/assets/html_css/grids.jpeg" style="margin: 0; margin-bottom: 20px;" />

  <section class="slide">
    <ul>
      <li>
        Consistent and balanced design
      </li>
      <li>
        Easier to reach the conformity in css
      </li>
    </ul>
  </section>

</section>