<section id="intro" class="slide">
  <div class="vcenter">
    <h1>CarrierWave</h1>
    <div class="about">
      <p>
        This gem provides a simple and extremely flexible way to upload files from Ruby applications. It works well with Rack based web applications, such as Ruby on Rails.
      </p>
      <a href="https://github.com/carrierwaveuploader/carrierwave" target="_blank">https://github.com/carrierwaveuploader/carrierwave</a>
    </div>    
  </div>
</section>