@import "application";

.slide{
  h2, h3{
    text-align: center;
  }

  .centred{
    width: 700px;
    margin: 100px auto;
  }


  .centred-block{
    width: 500px;
    margin: 50px auto;
    font-size: 22px;
    p{
      font-size: 22px;
    }
  }
}
