@import "application";

#topic {
  h1 {
    padding-top: 5%;
  }
  .about {
    text-align: left;
    padding: 5% 10%;
    p, li {
      font-weight:normal;
    }
    .mvc {
      @include border-radius(5px);
      @include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 4px, rgba(0, 0, 0, 0.05) 0 0 40px inset);
      border: 1px solid #ddd;
      padding: 10px;
    }
  }
}

.action{
  text-align: left;
}

.vcenter{
  ul, p{
    text-align: left;
  }  
}
