@font-face {
  font-family: 'gp_r';
  src: url('/assets/fonts/gothaproreg-webfont.eot');
  src: url('/assets/fonts/gothaproreg-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/gothaproreg-webfont.woff') format('woff'),
       url('/assets/fonts/gothaproreg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('/assets/fonts/ptf55f_w.eot');
  src: local('PT Serif'),
       url('/assets/fonts/ptf55f_w.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/ptf55f_w.woff') format('woff'),
       url('/assets/fonts/ptf55f_w.ttf') format('truetype'),
       url('/assets/fonts/ptf55f_w.svg#PTSerif-Regular') format('svg');
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/assets/fonts/FantasqueSansMono-Italic.eot'); /* IE 9 Compatibility Mode */
  src: url('/assets/fonts/FantasqueSansMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/assets/fonts/FantasqueSansMono-Italic.woff2') format('woff2'),
       url('/assets/fonts/FantasqueSansMono-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/assets/fonts/FantasqueSansMono-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/FantasqueSansMono-Italic.svg#FantasqueSansMono-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/assets/fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('/assets/fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/assets/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('/assets/fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/assets/fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/assets/fonts/FantasqueSansMono-BoldItalic.eot'); /* IE 9 Compatibility Mode */
  src: url('/assets/fonts/FantasqueSansMono-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/assets/fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
       url('/assets/fonts/FantasqueSansMono-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/assets/fonts/FantasqueSansMono-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/FantasqueSansMono-BoldItalic.svg#FantasqueSansMono-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/assets/fonts/FantasqueSansMono-Bold.eot'); /* IE 9 Compatibility Mode */
  src: url('/assets/fonts/FantasqueSansMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/assets/fonts/FantasqueSansMono-Bold.woff2') format('woff2'),
       url('/assets/fonts/FantasqueSansMono-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/assets/fonts/FantasqueSansMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/FantasqueSansMono-Bold.svg#FantasqueSansMono-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}

