@import "application";

.deck-container {
  h2 {
    padding: 24px 0 20px;
  }
}

#topic {
  .principles {
    text-align: left;
    padding: 5% 10%;
    p {
      font-weight:normal;
    }    
  }
}

#directories-structure {
  table {
    td {
      padding: 5px;
    }
  }
}

#installing-rails, #creating-application {
  h2 {
    padding-bottom: 0;
  }
}