<section id="assets" class="slide">
  <h2>Assets</h2>
  app/assets/javascripts/application.js
  <script type="syntaxhighlighter" class="brush: ruby">
    //= require jquery
    //= require jquery_ujs
    //= require turbolinks
    //= require_tree .
  </script>
  app/assets/stylesheets/application.css
  <script type="syntaxhighlighter" class="brush: ruby">
    /*
     *= require_self
     *= require_tree .
     */
  </script>
  <script type="syntaxhighlighter" class="brush: ruby">
      <!DOCTYPE html>
      <html>
        <head>
          <title>Community</title>
          <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
          <link data-turbolinks-track="true" href="/assets/posts.css?body=1" media="all" rel="stylesheet" />
          <link data-turbolinks-track="true" href="/assets/scaffolds.css?body=1" media="all" rel="stylesheet" />
          &lt;script data-turbolinks-track="true" src="/assets/jquery.js?body=1"&gt;&lt;/script&gt;
          &lt;script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"&gt;&lt;/script&gt;
          &lt;script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"&gt;&lt;/script&gt;
          &lt;script data-turbolinks-track="true" src="/assets/posts.js?body=1"&gt;&lt;/script&gt;
          &lt;script data-turbolinks-track="true" src="/assets/application.js?body=1"&gt;&lt;/script&gt;
          <meta content="authenticity_token" name="csrf-param" />
          <meta content="n4Djzu/hPGSd5oMdGdfJ3sqePMR+E/1fs2679AMHLE0=" name="csrf-token" />
        </head>
        <body>
        ...
  </script>
</section>
