<section id="creating-application" class="slide">
  <h2>Creating rails application</h2>
  <h3>Rails new</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rails new community
    create
    create README.rdoc
    create Rakefile
    create config.ru
    create .gitignore
    create Gemfile
    create app
    create app/assets/javascripts/application.js
    create app/assets/stylesheets/application.css
    create app/controllers/application_controller.rb
    ...
    create vendor/assets/stylesheets
    create vendor/assets/stylesheets/.keep
    run bundle install
  </script>
  <h3>Goto directory</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    cd community
  </script>
  <h3>Add .rvmrc</h3>
  .rvmrc
  <script type="syntaxhighlighter" class="brush: ruby">
    rvm use 2.0.0-p195@community --create
  </script>
</section>
