<section id="creating-community" class="slide">
  <h2>Creating Community app</h2>
  <h3>Preparing environment</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rvm use 1.9.3-head@community --create
    Using /Users/sparrow/.rvm/gems/ruby-1.9.3-head with gemset community]]>
  </script>
  <div id="community-installing-bundler" class="slide">
    <h3>Installing bundler</h3>
    <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
      gem install bundler]]>
    </script>
  </div>
  <div id="community-installing-rails" class="slide">
    <h3>Installing Rails</h3>
    <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
      gem install rails]]>
    </script>
  </div>
  <div id="community-creating-app" class="slide">
    <h3>Creating rails app</h3>
    <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
      rails new community]]>
    </script>
  </div>
  <div id="community-goto-working-dir" class="slide">
    <h3>Goto working directory</h3>
    <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
      cd community]]>
    </script>
  </div>
  <div id="community-goto-working-dir" class="slide">
    <h3>Add .rvmrc</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
      # file community/.rvmrc

      rvm use 1.9.3-head@community --create]]>
    </script>
  </div>
</section>