<section id="creating-database" class="slide">
  <h2>Creating the Database</h2>
  <script type="syntaxhighlighter" class="brush: bash">
      rake db:create
  </script>
  <div id="starting-up-web-server" class="slide">
    <h2>Starting up the Web Server</h2>
    <script type="syntaxhighlighter" class="brush: bash">
        rails server
        => Booting WEBrick
        => Rails 4.0.2 application starting in development on http://0.0.0.0:3000
        => Run `rails server -h` for more startup options
        => Ctrl-C to shutdown server
        [2013-12-09 20:44:46] INFO  WEBrick 1.3.1
        [2013-12-09 20:44:46] INFO  ruby 2.0.0 (2013-06-27) [x86_64-darwin11.4.2]
        [2013-12-09 20:44:46] INFO  WEBrick::HTTPServer#start: pid=37644 port=3000
    </script>
  </div>
</section>
