<section id="creating-database" class="slide">
  <h2>Creating the Database</h2>
  <script type="syntaxhighlighter" class="brush: bash">
      rake db:create
  </script>
  <div id="starting-up-web-server" class="slide">
    <h2>Starting up the Web Server</h2>
    <script type="syntaxhighlighter" class="brush: bash">
        rails server
    </script>

    <script type="syntaxhighlighter" class="brush: bash">
        rails server -e production -p 6789
    </script>

    <script type="syntaxhighlighter" class="brush: bash">
        rails s
        => Booting Puma
        => Rails 5.0.0.beta1.1 application starting in development on http://localhost:3000
        => Run `rails server -h` for more startup options
        => Ctrl-C to shutdown server
        I, [2016-04-03T17:44:50.487276 #21178]  INFO -- : Celluloid 0.17.3 is running in BACKPORTED mode. [ http://git.io/vJf3J ]
        Puma 2.16.0 starting...
        * Min threads: 0, max threads: 16
        * Environment: development
        * Listening on tcp://localhost:3000
    </script>
  </div>
</section>
