<section id="db-schema" class="slide">
  <h2>DB schema</h2>
  db/schema.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    ActiveRecord::Schema.define(version: 20131209184636) do

      create_table "posts", force: true do |t|
        t.string   "title"
        t.text     "text"
        t.datetime "created_at"
        t.datetime "updated_at"
      end

    end
  </script>
</section>
