<section id="delete-post" class="slide">
  <h2>Delete post</h2>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    class PostsController < ApplicationController
      ...
      # DELETE /posts/1
      # DELETE /posts/1.json
      def destroy
        @post.destroy
        respond_to do |format|
          format.html { redirect_to posts_url }
          format.json { head :no_content }
        end
      end
      ...
    end
    ]]>
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    <form accept-charset="UTF-8" 
      action="/posts/1" class="edit_post" id="edit_post_1" 
      method="post">
      
      <input name="_method" type="hidden" value="delete" />
    ]]>
  </script>

</section>