<section id="edit-post" class="slide">
  <h2>Edit post</h2>
  GET localhost:3000/posts/1/edit
  <div class="html-example">
    <form accept-charset="UTF-8" action="/posts/1" class="edit_post" id="edit_post_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /><input name="authenticity_token" type="hidden" value="n4Djzu/hPGSd5oMdGdfJ3sqePMR+E/1fs2679AMHLE0=" /></div>
      <div class="field">
        <label for="post_title">Title</label>
        <input id="post_title" name="post[title]" type="text" value="Facebook’s New Colocation And Image Recognition Patents Tease The Future Of Sharing " />
      </div>
      <div class="field">
        <label for="post_text">Text</label>
        <textarea id="post_text" name="post[text]">Facebook’s empire was built on photo tags and sharing, but it’s a grueling process many neglect. Luckily, new Facebook patents give it tech to continuously capture video whenever your camera is open, rank and surface the best images, and auto-tag them with people, places, and businesses. They tease a future where pattern, facial, and audio recognition identify what you’re seeing for easy sharing.</textarea>
      </div>
      <div class="actions">
        <input name="commit" type="submit" value="Update Post" />
      </div>
    </form>
    <a href="/posts/1">Show</a> |
    <a href="/posts">Back</a>
  </div>

  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    class PostsController < ApplicationController
      ...
      # GET /posts/1/edit
      def edit
      end
      ...
    end
    ]]>
  </script>

  app/views/posts/edit.html.erb 
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    &lt;%= render 'form' %&gt;
    &lt;%= link_to 'Show', @post %&gt; |
    &lt;%= link_to 'Back', posts_path %&gt;
    ]]>
  </script>

  app/views/posts/_form.html.erb 
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
    &lt;%= form_for(@post) do |f| %&gt;
      &lt;% if @post.errors.any? %&gt;
        <div id="error_explanation">
          <h2>&lt;%= pluralize(@post.errors.count, "error") %&gt; prohibited this post from being saved:</h2>
          <ul>
          &lt;% @post.errors.full_messages.each do |msg| %&gt;
            <li>&lt;%= msg %&gt;</li>
          &lt;% end %&gt;
          </ul>
        </div>
      &lt;% end %&gt;
      <div class="field">
        &lt;%= f.label :title %&gt;<br>
        &lt;%= f.text_field :title %&gt;
      </div>
      <div class="field">
        &lt;%= f.label :text %&gt;<br>
        &lt;%= f.text_area :text %&gt;
      </div>
      <div class="actions">
        &lt;%= f.submit %&gt;
      </div>
    &lt;% end %&gt;
    ]]>
  </script>
</section>