<section id="generate-blog-scaffold" class="slide">
  <h3>Generate Blog scaffold</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rails generate scaffold Blog title:string description:text]]>
  </script>
  <div id="add-blog-id-to-post" class="slide">
    <h3>Add blog_id field to posts</h3>
    <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
      rails generate migration add_blog_id_to_posts blog_id:integer
        invoke  active_record
        create    db/migrate/20130204155420_add_blog_id_to_posts.rb]]>
    </script>
    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      #file db/migrate/20130204155420_add_blog_id_to_posts.rb

      class AddBlogIdToPosts < ActiveRecord::Migration
        def change
          add_column :posts, :blog_id, :integer
        end
      end]]>
    </script>
  </div>
  <div id="add-blog-id-to-post-run-migrations" class="slide">
    Don't forget to run migrations
    <script type="syntaxhighlighter" class="brush: bash">
      <![CDATA[
      rake db:migrate]]>
    </script>
  </div>
</section>