<section id="helpers" class="slide">
  <h2>Helpers</h2>
  app/helpers/posts_helper.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    module PostsHelper
      def post_short_description(post)
        return post.text if post.text.length <= 30
        post.text.slice(0, 27).concat("...")
      end

      def news_count
        "News count is (#{ Post.where('title LIKE ?', '%news%').count })"
      end
    end
  </script>

  app/views/posts/index.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    <h1>Posts</h1>

    <p>&lt;%= news_count %&gt;</p>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  </script>
</section>
