<section id="installing-rails" class="slide">
  <h2>Instaling Rails</h2>
  <h3>Preparing environment</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rvm use 2.3.0@blog --create
    Using /Users/ty/.rvm/gems/ruby-2.3.0 with gemset blog
  </script>
  <h3>Installing Rails</h3>
  <h4>The latest stable version</h4>
  <script type="syntaxhighlighter" class="brush: bash">
    gem install rails
  </script>

  <h4></h4>

  <script type="syntaxhighlighter" class="brush: bash">
    gem install rails -v 5.0.0.beta1.1
  </script>
</section>
