<section id="installing-rails" class="slide">
  <h2>Instaling Rails</h2>
  <h3>Preparing environment</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    rvm use 2.0.0-p195@community --create
    Using /Users/sparrow/.rvm/gems/ruby-2.0.0-p195 with gemset community]]>
  </script>  
  <h3>Installing Rails</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    <![CDATA[
    gem install rails --version 4.0.0.rc1]]>
  </script>
</section>