<section id="installing-rails" class="slide">
  <h2>Instaling Rails</h2>
  <h3>Preparing environment</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rvm use 2.0.0-p247@community --create
    Using /Users/sparrow/.rvm/gems/ruby-2.0.0-p247 with gemset community</script>
  <h3>Installing Rails</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    gem install rails</script>
</section>
