<section id="migrations" class="slide">
  <h2>Migrations</h2>
  db/migrate/20131209184636_create_posts.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class CreatePosts < ActiveRecord::Migration
      def change
        create_table :posts do |t|
          t.string :title
          t.text :text

          t.timestamps
        end
      end
    end
  </script>
  <div id="run-migrations" class="slide">
    <h3>Run migration</h3>
    <script type="syntaxhighlighter" class="brush: bash">
      rake db:migrate

      == CreatePosts: migrating ====================================================
      -- create_table(:posts)
         -> 0.0020s
      == CreatePosts: migrated (0.0021s) ===========================================
    </script>
  </div>
</section>
