<section id="models" class="slide">
  <h2>Models</h2>
  app/models/post.rb

  before v5.0.0.beta1
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post < ActiveRecord::Base
    end
  </script>


  v5.0.0.beta1
  <script type="syntaxhighlighter" class="brush: ruby">
    class Post < ApplicationRecord
    end
  </script>

  <script type="syntaxhighlighter" class="brush: ruby">
    class ApplicationRecord < ActiveRecord::Base
      self.abstract_class = true
    end
  </script>
</section>
