<section id="new-post" class="slide">
  <h2>New post</h2>

  GET localhost:3000/posts/new
  <div class="html-example">
    <form accept-charset="UTF-8" action="/posts" class="new_post" id="new_post" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="n4Djzu/hPGSd5oMdGdfJ3sqePMR+E/1fs2679AMHLE0=" /></div>
      <div class="field">
        <label for="post_title">Title</label>
        <input id="post_title" name="post[title]" type="text" />
      </div>
      <div class="field">
        <label for="post_text">Text</label>
        <textarea id="post_text" name="post[text]"></textarea>
      </div>
      <div class="actions">
        <input name="commit" type="submit" value="Create Post" />
      </div>
    </form>
    <a href="/posts">Back</a>
  </div>

  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class PostsController < ApplicationController
      ...
      # GET /posts/new
      def new
        @post = Post.new
      end
      ...
  </script>

  app/views/posts/index.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    <h1>New post</h1>

    &lt;%= render 'form' %&gt;

    &lt;%= link_to 'Back', posts_path %&gt;
  </script>

  app/views/posts/_form.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    &lt;%= form_for(@post) do |f| %&gt;
      &lt;% if @post.errors.any? %&gt;
        <div id="error_explanation">
          <h2>&lt;%= pluralize(@post.errors.count, "error") %&gt; prohibited this post from being saved:</h2>
          <ul>
          &lt;% @post.errors.full_messages.each do |msg| %&gt;
            <li>&lt;%= msg %&gt;</li>
          &lt;% end %&gt;
          </ul>
        </div>
      &lt;% end %&gt;

      <div class="field">
        &lt;%= f.label :title %&gt;<br>
        &lt;%= f.text_field :title %&gt;
      </div>
      <div class="field">
        &lt;%= f.label :text %&gt;<br>
        &lt;%= f.text_area :text %&gt;
      </div>
      <div class="actions">
        &lt;%= f.submit %&gt;
      </div>
    &lt;% end %&gt;
  </script>
</section>
