<section id="show-post" class="slide">
  <h2>Show post</h2>

  GET localhost:3000/posts/1
  <div class="html-example">
    <p id="notice">Post was successfully created.</p>
    <p>
      <strong>Title:</strong>
      Facebook’s New Colocation And Image Recognition Patents Tease The Future Of Sharing
    </p>
    <p>
      <strong>Text:</strong>
      Facebook’s empire was built on photo tags and sharing, but it’s a grueling process many neglect. Luckily, new Facebook patents give it tech to continuously capture video whenever your camera is open, rank and surface the best images, and auto-tag them with people, places, and businesses. They tease a future where pattern, facial, and audio recognition identify what you’re seeing for easy sharing.
    </p>
    <a href="/posts/1/edit">Edit</a> |
    <a href="/posts">Back</a>
  </div>

  GET localhost:3000/posts/1.json
  <div class="html-example">
    {"title":"Facebook’s New Colocation And Image Recognition Patents Tease The Future Of Sharing ","text":"Facebook’s empire was built on photo tags and sharing, but it’s a grueling process many neglect. Luckily, new Facebook patents give it tech to continuously capture video whenever your camera is open, rank and surface the best images, and auto-tag them with people, places, and businesses. They tease a future where pattern, facial, and audio recognition identify what you’re seeing for easy sharing.","created_at":"2013-06-09T17:07:29.179Z","updated_at":"2013-06-09T17:07:29.179Z"}
  </div>

  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class PostsController < ApplicationController
      ...
      # GET /posts/1
      # GET /posts/1.json
      def show
      end
      ...
    end
  </script>

  app/views/posts/show.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    <p id="notice">&lt;%= notice %&gt;</p>

    <p>
      <strong>Title:</strong>
      &lt;%= @post.title %&gt;
    </p>

    <p>
      <strong>Text:</strong>
      &lt;%= @post.text %&gt;
    </p>

    &lt;%= link_to 'Edit', edit_post_path(@post) %&gt; |
    &lt;%= link_to 'Back', posts_path %&gt;
  </script>

  app/views/posts/show.json.jbuilder
  <script type="syntaxhighlighter" class="brush: ruby">
    json.extract! @post, :title, :text, :created_at, :updated_at
  </script>
</section>
