<section id="topic" class="slide">
  <div class="vcenter">
    <h1>Rails</h1>
    <div class="principles">
      <p>David Heinemeier Hansson (DHH), <a href="http://37signals.com" target="_blank">37signals</a></p>
      <h3>The Rails philosophy includes two major guiding principles</h3>
      <p>DRY - "Don't Repeat Yourself" - suggests that writing the same code over and over again is a bad thing.</p>
      <p>Convention Over Configuration - means that Rails makes assumptions about what you want to do and how you're going to do it, rather than requiring you to specify every little thing through endless configuration files.</p>
    </div>  
  </div>
</section>