<section id="basics-box-model" class="slide">
  <h2>Box rendering</h2>

  <ul>
    <li>
      <h3>display: block;</h3>
      <p>Takes 100% of the parent's width, height is adjustable.
      <br />
      &lt;div&gt;, &lt;section&gt;, &lt;article&gt;, &lt;nav&gt;,  &lt;header&gt;, &lt;footer&gt;,&lt;h1&gt;, &lt;h2&gt;, &lt;p&gt;, ..</p>
    </li>
    <li>
      <h3>display: inline;</h3>
      <p>Height is dependant on the line-height of the parent. Purpose is to use inside the text.
      <br />
      &lt;span&gt;, &lt;img&gt;, &lt;ul&gt;, &lt;ol&gt;, &lt;li&gt;, &lt;dl&gt;, &lt;dl&gt;, &lt;dl&gt;, &lt;em&gt;,, &lt;abbr&gt;, ...</p>
    </li>
    <li>
      <h3>display: inline-block;</h3>
      <p>Hybrid.</p>
    </li>
    <li>
      <h3>display: table-cell;, display: table-row;, ..</h3>
      <p>Behaves as the normal table would. Margins do not apply, vertical align is possible.</p>
    </li>    
    <li>
      <h3>display: list-item;</h3>
      <p>Bullet in it.</p>
    </li>
    <li>
      <h3>display: none;</h3>
      <p>Hides the block.</p>
    </li>
    <li>
      ..
    </li>
  </section>

</section>