<section id="basics-box-model" class="slide">
  <h2>Box model</h2>
  
  <section style="float: left; width: 48%;">
    <h3>box-sizing: content-box;</h3>
    <img src="/assets/html_css/content-box-framed.png" style="margin: 0; margin-bottom: 20px;" />
    <p>Has been standard for many years.</p>
  </section>

  <section class="slide" style="float: right; width: 48%;">
    <h3>box-sizing: border-box;</h3>
    <img src="/assets/html_css/border-box-framed.png" style="margin: 0; margin-bottom: 20px;" />
    <p>Box-sizing: border-box now makes our life much easier! IE8 and up.</p>
  </section>

  <div style="clear:both;"></div>

</section>