<section id="basics-css-selectors" class="slide">
  <h2>CSS selectors</h2>

  <ul>
    <li>
      <b>Universal-selector</b>:
      *
    </li>
    <li>
      <b>Type-selector</b>:
      tag
    </li>
    <li>
      <b>Id-selector</b>:
      #id
    </li>
    <li>
      <b>Class-selector</b>:
      .class
    </li>
    <li>
      <b>Descendant-selector</b>:
      selector selector
    </li>
    <li>
      <b>Subling-selector</b>:
      selector > selector
    </li>
    <li>
      <b>Adjacent-selector</b>:
      selector + selector, selector ~ selector
    </li>
    <li>
      <b>Pseudo-selectors</b>:
      selector:hover, selector:first-child, selector:last-child, :before, :after
    </li>
    <li>
      <b>Attributes-selectors</b>:
      selector[title], selector[href="foo"]
    </li>
    <li>
      ...
    </li>
  </ul>

</section>