<section id="basics-doctype" class="slide">
  <h2>Doctype</h2>

  HTML5
  <script type="syntaxhighlighter" class="brush: css">
    <![CDATA[
      <!DOCTYPE HTML>
    ]]>
  </script>

  <section class="slide">
    <h3>Already historical</h3>

    XHML Strict
    <script type="syntaxhighlighter" class="brush: css">
      <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
      ]]>
    </script>
    
    XHMTL Transitional
    <script type="syntaxhighlighter" class="brush: css">
      <![CDATA[
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      ]]>
    </script>
  </section>

</section>