<section id="basics-html-tags" class="slide">
  <h2>HTML tags</h2>

  <ul>
    <li>
      &lt;html&gt;, &lt;body&gt;, &lt;meta&gt;, &lt;title&gt;, &lt;link&gt;, ..
    </li>
    <li>
      &lt;div&gt;, &lt;section&gt;, &lt;article&gt;, &lt;nav&gt;,  &lt;header&gt;, &lt;footer&gt;, ..
    </li>
    <li>
      &lt;h1&gt;, &lt;h2&gt;, &lt;p&gt;, &lt;img&gt;, ..
    </li>
    <li>
      &lt;ul&gt;, &lt;ol&gt;, &lt;li&gt;, &lt;dl&gt;, &lt;dl&gt;, &lt;dl&gt;, ..
    </li>
    <li>
      &lt;b&gt;, &lt;em&gt;, &lt;i&gt;, ..
    </li>
    <li>
      &lt;form&gt;, &lt;input&gt;, &lt;select&gt;, &lt;button&gt;, ..
    </li>
    <li>
      &lt;table&gt;, &lt;tr&gt;, &lt;td&gt;, ..
    </li>
    <li>
      &lt;!--...--&gt;
    </li>
    <li>
      ..
    </li>
  </ul>

</section>