<section id="basics-inheritance" class="slide">
  <h2>Inheritance</h2>

  <p>The idea behind inheritance is simple: elements inherit styles from their parent container. However, not all css properties are inherited.</p>


  <h3>Css properties that don't inherit</h3>
  <ul>
    <li>
      margin
    </li>
    <li>
      padding
    </li>
    <li>
      width
    </li>
    <li>
      height
    </li>
    <li>
      background
    </li>
    <li>
      border
    </li>
    <li>
      ...
    </li>
  </ul>

  <section class="slide">
    <p>To force the inheritance of a certain property one can use:</p>
    <script type="syntaxhighlighter" class="brush: css">
      <![CDATA[
        p {
          margin: inherit;
        }
      ]]>
    </script>
  </section>
</section>