<section id="basics-layouts" class="slide">
  <h2>Layouts</h2>

  <section class="columns">
    <section class="column-half">
      <h3>Fixed</h3>
      <img src="/assets/html_css/fixed-layout.jpg" style="margin: 0; margin-bottom: 20px;" />
    </section>

    <section class="slide column-half">
      <h3>Fluid</h3>
      <img src="/assets/html_css/fluid-layout.jpg" style="margin: 0; margin-bottom: 20px;" />
    </section>
  </section>


  <section class="slide" style="text-align: center;">
    <h3>Elastic</h3>
    <p>Fluid layout with min-width and max-width defined.</p>
  </section>

</section>