<section id="basics-measurements" class="slide">
  <h2>Measurements</h2>

  <section class="slide">
    <h3>Absolute</h3>
    <ul>
      <li>
        px
      </li>
      <li>
        pt (printing)
      </li>
    </ul>
  </section>

  <section class="slide">
    <h3>Relative</h3>
    <ul>
      <li>
        em
      </li>
      <li>
        %
      </li>
    </ul>
  </section>

  <section class="slide">
    <p>% and ems are the best for responsible designs and flexible grids.</p>
  </section>
</section>