<section id="basics-positioning-z-index" class="slide">
  <h2>Positioning</h2>

  <ul>
    <li>
      <h3>Z-index</h3>
      <img src="/assets/html_css/z-index.png" style="margin: 0; margin-bottom: 20px;" />
    </li>    
  </ul>

</section>