<section id="basics-positioning-1" class="slide">
  <h2>Positioning</h2>

  <ul>
    <li>
      <h3>Position</h3>
      <ul>
        <li>
          Static
        </li>
        <li>
          <section class="slide">
            Relative
            <img src="/assets/html_css/position-relative.gif" style="margin: 0; margin-bottom: 20px;" />
          </section>
        </li>
        <li>
          <section class="slide">
            Absolute
            <img src="/assets/html_css/absolute-inside-relative.png" style="margin: 0; margin-bottom: 20px;" />
          </section>
        </li>
        <li>
          <section class="slide">
            Fixed
            <img src="/assets/html_css/position-fixed.gif" style="margin: 0; margin-bottom: 20px;" />
          </section>
        </li>
      </ul>
    </li>    
  </section>

</section>