<section id="basics-reset" class="slide">
  <h2>CSS reset</h2>

  <p>The goal of a reset stylesheet is to reduce browser inconsistencies in things like default line heights, margins and font sizes of headings, and so on. </p>

  <ul>
    <li>
      Eric Meyer’s “Reset CSS” 2.0
    </li>
    <li>
      HTML5 Doctor CSS Reset
    </li>
    <li>
      Yahoo! (YUI 3) Reset CSS
    </li>
    <li>
      Universal Selector ‘*’ Reset
    </li>
    <li>
      Normalize.css
    </li>
  </ul>


  <section class="slide">
    Historically *-reset was considered less-effecient, but for now there is no considerable difference.
  </section>

</section>