<section id="basics-useful-photoshop-shortcuts" class="slide">
  <h2>Useful Photoshop shortcuts</h2>

  <ul>
    <li>
      <h3>CTRL+;</h3>
      Show the guides (which are often the grid)
    </li>
    <li>
      <h3>CTRL+G</h3>
      Group selected layers
    </li>
    <li>
      <h3>CTRL+G CTRL+E</h3>
      Rasterize the layer or a bunch of them (useful for saving images)
    </li>
    <li>
      <h3>CTRL+T</h3>
      Check the dimentions of the object
    </li>
  </ul>

  <p>Don't forget to turn on the Auto-select: Layer in the top menu!</p>
</section>