<section class="slide" id="callbacks">
  <h2>callbacks</h2>

  <div class="row">
  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
def callbacks(procs)
  procs[:starting].call

  puts "Still going"

  procs[:finishing].call
end

callbacks(:starting => Proc.new { puts "Starting" },
          :finishing => Proc.new { puts "Finishing" })

# => Starting
# => Still going
# => Finishing
      ]]>
</script>
</div>
</section>