<section class="slide" id="choice">
  <h2 class="not-capitalized">So, when should you use blocks over Procs?</h2>

<ul>
  <li>Block: Your method is breaking an object down into smaller pieces, and you want to let your users interact with these pieces.</li>
  <li>Block: You want to run multiple expressions atomically, like a database migration.</li>
  <li>Proc: You want to reuse a block of code multiple times.</li>
  <li>Proc: Your method will have one or more callbacks.</li>
</ul>
</section>
