<section class="slide" id="class-instance">
  <h2 class="not-capitalized">Class plus instance methods</h2>
  <div class="row">
  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
module MyMixin

  def self.included(base)
    base.extend ClassMethods
  end

  def x
    "x()"
  end

  module ClassMethods
    def y
      "y()"
    end
  end
  
end

class C; include MyMixin; end

C.new.x         # => x()
C.y             # => y()
      ]]>
  </script>
</div>
</section>