<section class="slide" id="undefining-class">
  <h2>Undefining class</h2>

  <p>As a class is just an object in the memory, which is identified by the constant, destroying a constant will cause a class itself to be removed by GC</p>

  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
Object.send(:remove_const, :MyClass)

obj = MyClass.new    # => NameError: unitialized constant
  ]]>
  </script>
</section>