<section class="slide" id="classes">
  <h2>Classes</h2>
  <p>Classes themselves are nothing but objects.</p>  
  <script type="syntaxhighlighter" class="brush: ruby">
    "hello".class            # => String
    String.class             # => Class

    String.superclass        # => Object
    Object.superclass        # => BasicObject
    BasicObject.superclass   # => nil

    Class.superclass         # => Module
    Module.superclass        # => Object
  </script>
</section>