<section class="slide" id="dynamic_class">
  <h2>Defining classes dynamically</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    MyClass = Class.new do
      define_method :my_method do
        "Method call"
      end
    end

    MyClass.new.my_method 
    => "Method call"
  </script>
</section>