<section class="slide" id="generic-return">
  <h2 class="not-capitalized">Lambdas have lesser returns</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: ruby">
      def generic_return(code)
        one, two    = 1, 2
        three, four = code.call(one, two)
        return "Give me a #{three} and a #{four}"
      end

      puts generic_return(lambda { |x, y| return x + 2, y + 2 })

      puts generic_return(Proc.new { |x, y| return x + 2, y + 2 })

      puts generic_return(Proc.new { |x, y| x + 2; y + 2 })

      puts generic_return(Proc.new { |x, y| [x + 2, y + 2] })

      # => Give me a 3 and a 4
      # => *.rb:9: unexpected return (LocalJumpError)
      # => Give me a 4 and a 
      # => Give me a 3 and a 4
    </script>
  </div>
</section>