<section class="slide" id="hooks">
  <h2>Hook methods</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
    class String
      def self.inherited(subclass)
        puts "#{self} was inherited by #{subclass}"
      end
    end

    module M
      def self.included(othermod)
        puts "M was mixed in #{othermod}"
      end

      def self.method_added(method)
        puts "New method: M##{method}"
      end

      def my_method; end
    end

    class MyString < String
      include M

      def singleton_method_added(method)
        puts "New singleton method: #{method}"
      end

      def method_missing(method, *args, &block)
        puts "not existing method #{method} was called"
      end
    end

    str = MyString.new
    str.yay!

    def str.yay_method
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    >> ruby hooks.rb
    
    New method: M#my_method
    String was inherited by MyString
    M was mixed in MyString
    not existing method yay! was called
    New singleton method: yay_method
  </script>
</section>