<section class="slide" id="inheritance">
  <h2>Inheritance</h2>
  <p>
    One of the most important concepts in object-oriented programming is that of inheritance. Ruby does not support Multiple level of inheritances but Ruby supports mixins. A mixin is like a specialized implementation of multiple inheritance in which only the interface portion is inherited.
  </p>
    
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[
    class MyClass
      def my_method
        'my_method ()'
      end
    end

    module MyModule1
      def my_module_method1
        'my_module_method1 ()'
      end
    end

    module MyModule2
      def my_module_method2
        'my_module_method2 ()'
      end
    end

    class MySubClass < MyClass
      include MyModule1
      include MyModule2
    end

    obj = MySubClass.new
    obj.my_method()           # => 'my_method ()'
    obj.my_module_method1()   # => 'my_module_method1 ()'
    obj.my_module_method2()   # => 'my_module_method2 ()'

    MySubClass.ancestors      
    # => [MySubClass, MyModule2, MyModule1, MyClass, Object, PP::ObjectMixin, Kernel, BasicObject]]]>
  </script>
</section>