<section class="slide" id="instance-variable-meths">
  <h2>Instance variables <br/> instance_variable_get(), instance_variable_set(), instance_variable_defined?()</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: ruby">
      class MyClass
        def initialize(p1, p2)
          @a, @b = p1, p2
        end
      end

      c = MyClass.new('aaa', 'bbb')
      puts c.instance_variable_get(:@a)         # => "aaa"
      puts c.instance_variable_set(:@a, "dog")  # => "dog"
      puts c.instance_variable_get(:@a)         # => "dog"
      puts c.instance_variable_set(:@c, "cat")  # => "cat"
      puts c.instance_variable_defined?(:@c)    # => true
      puts c.instance_variable_get(:@c)         # => "cat"
    </script>
  </div>
</section>