<section class="slide" id="lambdas-returns2">
  <h2 class="not-capitalized">Lambdas have lesser returns</h2>
  <div class="row">
  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
def generic_return(code)
  code.call
  return "generic_return method finished"
end

puts generic_return(Proc.new { return "Proc.new" })
puts generic_return(lambda { return "lambda" })

# => *.rb:6: unexpected return (LocalJumpError)
# => generic_return method finished
      ]]>
</script>
</div>
</section>
