<section class="slide" id="lambdas-returns">
  <h2 class="not-capitalized">Lambdas have lesser returns</h2>

  <div class="row">
  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
def proc_return
  Proc.new { return "Proc.new"}.call
  return "proc_return method finished"
end

def lambda_return
  lambda { return "lambda" }.call
  return "lambda_return method finished"
end

puts proc_return
puts lambda_return

# => Proc.new
# => lambda_return method finished
      ]]>
</script>
</div>
</section>
