<section class="slide" id="methods-lookup-order">
  <h2>The rules of method lookup</h2>
  <div>
        There are three different kinds of methods containers in Ruby: Classes, Modules and Singleton Classes. When a method is invoked all of them are searched for the first matching method to execute. When the objects gets a message, it looks for a corresponding method in the following order:
  </div>
    <div class="row">
    <ul>
      <li class="slide">In singleton class</li>
      <li>Its class</li>
      <li>Modules mixed into its class, in reverse order of inclusion</li>
      <li>The class's superclass</li>
      <li>Modules mixed into the superclass, in reverse order of inclusion</li>
      <li>Likewise, up to Object (and its mix-in Kernel) and BasicObject</li>
    </ul>
  </div>
</section>