<section class="slide" id="methods">
  <h2 class="not-capitalized">Method Objects</h2>
  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
class Array
  def iterate!(code)
    self.each_with_index do |n, i|
      self[i] = code.call(n)
    end
  end
end

def square(n)
  n ** 2
end

array = [1, 2, 3, 4]

array.iterate!(method(:square))

puts array.inspect

# => [1, 4, 9, 16]
      ]]>
</script>


  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
def square(n)
  n ** 2
end

puts method(:square).class

# => Method
      ]]>
</script>
</div>
</section>