<section class="slide" id="respond-to">
  <h2>Method missing</h2>
  <p>When defining dynamic methods with <strong>method_missing</strong>, the good practice is to add the same behavior to <strong>respond_to?</strong></p>

    <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
class Person
  def method_missing(meth, *args, &block)
    if meth.to_s =~ /^find_by_(.+)$/
      'looking for the Person'
    else
      super
    end
  end

  def respond_to?(meth)
    if meth.to_s =~ /^find_by_.*$/ then true else super end
  end
end
  ]]>
  </script>
  <br>
  <script type="syntaxhighlighter" class="brush: ruby">
      <![CDATA[
#   -> person.find_by_name
#   -> person.find_by_age
#   -> person.find_by_id
  ]]>
  </script>
</section>