<section id="controller-concerns" class="slide">
  <h2>Controller concerns</h2>
  <h3>Example</h3>
  app/controllers/followers_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  class FollowersController < ApplicationController
    before_action :signed_in_user

    def followers
      @presenter = Users::FollowersPresenter.new(params[:id], params[:page])
      render '/users/followers'
    end
  end
  </script>
  app/controllers/following_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  class FollowingController < ApplicationController
    before_action :signed_in_user

    def following
      @presenter = Users::FollowedUsersPresenter.new(params[:id], params[:page])
      render '/users/followers'
    end
  end
  </script>
  <h3>Refactoring</h3>
  app/controllers/concerns/signed_in_user.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  module SignedInUser
    extend ActiveSupport::Concern

    included do
      before_action :signed_in_user
    end
  end
  </script>
  app/controllers/followers_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  class FollowersController < ApplicationController
    include SignedInUser

    def followers
      @presenter = Users::FollowersPresenter.new(params[:id], params[:page])
      render '/users/followers'
    end
  end
  </script>
  app/controllers/following_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  class FollowingController < ApplicationController
    include SignedInUser

    def following
      @presenter = Users::FollowedUsersPresenter.new(params[:id], params[:page])
      render '/users/followers'
    end
  end
  </script>
</section>