<section id="extract-query-object" class="slide">
  <h2>Extract a query object</h2>
  <h3>Example</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    class TicketsController < ApplicationController
      def index
        @tickets = current_user.tickets
        if @params['from'].present?
          @tickets = @tickets.where('DATE(created_at) >= ?', Date.parse(@params['from']))
        end
        if @params['to'].present?
          @tickets = @tickets.where('DATE(created_at) <= ?', Date.parse(@params['to']))
        end
        if @params['state'].present?
          @tickets = @tickets.where('state = ?', Ticket.states[@params['state']])
        end
        if @params['status_id'].present?
          @tickets = @tickets.where(ticket_status_id: @params['status_id'])
        end
      end      
    end
  </script>
  <h3>Refactoring</h3>
  app/controllers/tickets_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class TicketsController < ApplicationController
      def index
        @tickets = TicketSearch.new(current_user, params).call
      end      
    end
  </script>
  app/queries/ticket_search.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class TicketSearchService
      def initialize(user, params)
        @params, @tickets = params, user.tickets
      end

      def call
        by_date
        by_state
        by_status
        @tickets
      end

      private
      
      def by_date
        if @params['from'].present?
          @tickets = @tickets.where('DATE(created_at) >= ?', Date.parse(@params['from']))
        end
        if @params['to'].present?
          @tickets = @tickets.where('DATE(created_at) <= ?', Date.parse(@params['to']))
        end
      end

      def by_state
        if @params['state'].present?
          @tickets = @tickets.where('state = ?', Ticket.states[@params['state']])
        end
      end

      def by_status
        if @params['status_id'].present?
          @tickets = @tickets.where(ticket_status_id: @params['status_id'])
        end
      end
    end
  </script>
</section>