<section id="intro" class="slide">
  <div class="vcenter">
    <h1>Refactoring. Controllers.</h1>
    <div class="about">
      <p>
        When you work on a big project, you’re pushed to deliver new features. The business rarely understands the reasons for refactoring.
      </p>
      <p>
        Refactoring is an ongoing activity. Refactoring is a team activity. Refactoring is best when everyone understands the reasons and agrees on the direction of the code changes.
      </p>
  </div>
</section>