<section id="guiding_principles" class="slide">
  <div class="vcenter">
    <h1>Guiding principles</h1>

  </div>
</section>

<section id="identification_of_resources" class="slide">
  <div class="vcenter">
    <h1>Identification of resources
    </h1>
    <h3>The resources themselves are conceptually separate from the representations that are returned to the client. <br/>
      For example, the server does not send its database, but rather, perhaps, some HTML, XML or JSON.
    </h3>
  </div>
</section>

<section id="manipulating" class="slide">
  <div class="vcenter">
    <h1>Manipulation through representations</h1>
    <h3>When a client holds a representation of a resource, including any metadata attached,
      it has enough information to modify or delete the resource on the server, provided it has permission to do so.
    </h3>
  </div>
</section>

<section id="self_descriptive_messages" class="slide">
  <div class="vcenter">
    <h1>Self-descriptive messages</h1>
    <h3>Each message includes enough information to describe how to process the message.
      Responses also explicitly indicate their cacheability.
    </h3>
  </div>
</section>

<section id="hypermedia" class="slide">
  <div class="vcenter">
    <h1>Hypermedia as the engine of application state </h1>
    <h3>Except for simple fixed entry points to the application,
      a client does not assume that any particular action is available for any particular
      resources beyond those described in representations previously received from the server.

    </h3>
  </div>
</section>

<section id="the-boring-part-over" class="slide">
  <div class="vcenter">
    <h1>Ok, the boring part is over!</h1>
  </div>
</section>