<section id="restful" class="slide">
  <h1>The fun part!</h1>

</section>
<section id="restful_web_service" class="slide">

  <div style="padding-top: 100px;">
    <table class="table">
      <tr>
        <td>Resource</td>
        <td>GET</td>
        <td>PUT</td>
        <td>POST</td>
        <td>DELETE</td>
      </tr>
      <tr>
        <td>Collection: http://example.com/resources</td>
        <td>List the details of the collection's members.</td>
        <td>Replace the entire collection with another collection.</td>
        <td>Create a new entry in the collection.</td>
        <td>Delete the entire collection.</td>
      </tr>

      <tr>
        <td>Element URI: http://example.com/resources/item17</td>
        <td>Retrieve a representation of the addressed member of the collection.</td>
        <td>Replace the addressed member of the collection, or if it doesn't exist, create it.</td>
        <td>Create a new entry in the collection.</td>
        <td>Delete the addressed member of the collection.</td>
      </tr>

    </table>

  </div>









</section>