<section id="constrains" class="slide">
  <div class="vcenter">
    <h1>Constrains</h1>
  </div>
</section>

<section id="client-server" class="slide">
  <div class="vcenter">
    <h1>Client-server</h1>
    <h3><b>A server</b> is a computer system that selectively shares its resources. <br/>
      <b>A client</b> is a computer or computer program that initiates contact with a server in order to make use of a resource.
    </h3>
  </div>
</section>

<section id="stateless_http" class="slide">
  <div class="vcenter">
    <h1>Stateless (HTTP)</h1>
    <h3>Stateless protocol is a communications protocol that treats each request as an independent
      transaction that is unrelated to any previous request. <br/>
      The communication consists of independent pairs of requests and responses. </h3>
  </div>
</section>

<section id="cacheable" class="slide">
  <div class="vcenter">
    <h1>Cacheable</h1>
    <h3>Responses must therefore, implicitly or explicitly, define themselves as cacheable, or not,
      to prevent clients reusing stale or inappropriate data in response to further requests.</h3>
  </div>
</section>

<section id="layered" class="slide">
  <div class="vcenter">
    <h1>Layered</h1>
    <h3>A client cannot ordinarily tell whether it is connected directly to the end server,
      or to an intermediary along the way. </h3>
  </div>
</section>

<section id="code_on_demand" class="slide">
  <div class="vcenter">
    <h1>Code on Demand (optional)</h1>
    <h3>Servers can temporarily extend or customize the functionality of a client by the transfer of executable code. <br/>
      Examples of this may include compiled components such as Java applets and client-side scripts such as JavaScript.
      <br>"Code on demand" is the only optional constraint of the REST architecture.
    </h3>
  </div>
</section>

<section id="uniform_interface" class="slide">
  <div class="vcenter">
    <h1>Uniform interface</h1>
    <h3>The uniform interface between clients and servers, simplifies and decouples the architecture,
      which enables each part to evolve independently.
    </h3>
  </div>
</section>

