<section id="criteria-easy-to-maintain" class="slide">
  <h2>Easy to maintain</h2>

  <ul>
    <li>
      <h3>Semantic coding</h3>
    </li>
    <li>
      <h3>Modular coding</h3>
    </li>
    <li> 
      <h3>Code structuring</h3>
        <ul>
          <li>
            Tabulation
          </li>
          <li>
          Dash naming-convention
          </li>
        </ul>
    </li>
  </ul>

</section>