<section id="criteria-fast-to-process" class="slide">
  <h2>Fast to process</h2>

  <ul>
    <li>
      <h3>Minimize amout of selectors</h3>
    </li>
    <li>
      <section class="slide">
        <h3>Optimize images</h3>
        <ul>
          <li>
            CSS sprites
          </li>
          <li>
            Font icons like Font Awesome
          </li>
          <li>
            Base64 (storing images in the css file)
          </li>
        </ul>
      </section>
    </li>
    <li>
      <section class="slide">
        <h3>Merge and compress</h3>
      </section>
    </li>    
    <li>
      <section class="slide">
        <h3>Minimize the cascade</h3>
        <ul>
          <li>
            Avoid element selectors, *
          </li>
          <li>
            Logical tabulation
          </li>
        </ul>
        <p>Less relevant these days since browsers already perform pretty well.<p>
      </section>
    </li>

  </ul>

</section>