<section id="criteria-responsive" class="slide">
  <h2>Responsive</h2>

  <ul>
    <li style="position:relative;">
      <h3>Different screen sizes</h3>
      <img src="/assets/html_css/responsive.png" style="margin: 0; margin-bottom: 20px;" />
      <section class="slide" style="position: absolute; left: 600px; top: 40px;">
        <ul>
          <li>
            Fluid grid
          </li>
          <li>
            Flexible images
          </li>
          <li>
            Media queries
          </li>
        </ul>
      </section>
    </li>
    <li>
      <section class="slide">
        <h3>Optimized for retina-displays (high-dencity)</h3>
      </section>
    </li>   
  </ul>

</section>