<section id="criteria-valid" class="slide">
  <h2>Validness</h2>

  <ul>
    <li>
      W3C validation service
    </li>
    <li>
      Good naming to aviod namespace collisions
    </li>
    <li>
      Everything else ships with SASS and Compass
    </li>    
  </ul>

</section>