<section id="modules-definition" class="slide">
  <h2>Components</h2>
  
  <p>Special case of the modules are components.</p>

  <section class="slide">
    <img src="/assets/html_css/components.png" style="margin: 0; margin-bottom: 20px;" />
  </section>

  <p class="slide">We can learn a lot of how to write our modules by simply looking at famous component libraries' source code. Like Bootstrap, Foundation, etc.</p>
</section>