<section id="modules-definition" class="slide">
  <h2>Organizing code with modules</h2>
  
  <section class="columns">
    <section class="column-half">
      <img src="/assets/html_css/bem-3.png" style="margin: 0; margin-bottom: 10px;" />
    </section>

    <section class="column-half">
      <ul>
        <li class="slide">
          <h4>Each Module is meant to exist as a standalone component</h4>
        </li>
        <li class="slide">
          <h4>Modules are designed to be reused across the project</h4>
          If done right, Modules can easily be moved to different parts of the layout without breaking
        </li>
        <li class="slide">
          <h4>Modules should have short, unique and expressive names</h4>
          This is where semantics comes in
        </li>
        <li class="slide">
          <h4>Modules can sometimes sit within other Modules</h4>
          Not breaking anything
        </li>
        <li class="slide">
          <h4>Modules are everything except the Layout</h4>
        </li>
      </ul>

    </section>
  </section>
  <h3 class="slide">
    Sometimes css organized with modules is called object-oriented css.
  </h3>
</section>