<section id="modules-folder-structure" class="slide">
  <h2>Folder structure</h2>
  
  <p>What else apart from the modules and components do we need?</p>

  <section class="columns">
    <section class="column-third slide">
      <img src="/assets/html_css/folder-structure-1.png" style="margin: 0; margin-bottom: 20px; width: 300px;" />
    </section>

    <section class="column-third slide">
      <img src="/assets/html_css/folder-structure-2.png" style="margin: 0; margin-bottom: 20px; width: 300px;" />
    </section>

    <section class="column-third slide">
      <img src="/assets/html_css/folder-structure-3.png" style="margin: 0; margin-bottom: 20px; width: 300px;" />
    </section>
  </section>

  <p class="slide">If the module is specific to a certain page only, not reusable, - we can place it with an _ inside the respective page's folder.</p>

</section>