<section id="modules-what-is-module" class="slide">
  <h2>What is a module?</h2>
  
  <section class="columns">
    
    <section class="slide column-half">
      <img src="/assets/html_css/bem-2.png" style="margin: 0; margin-bottom: 20px;" />
    </section>

    <section class="slide column-half">
      <img src="/assets/html_css/bem-1.png" style="margin: 0; margin-bottom: 20px;" />
    </section>
  </section>

  <h3 class="slide" style="text-align: center;">So, Module is just a discrete component of the page.</h3>

</section>