<section class="slide" id="connecting">
  <h2>Connecting to MongoDB</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: bash">
      $ mongo blog
      $ mongo 192.168.1.100/blog
      $ mongo db.myserver.com/blog
      $ mongo 192.168.1.100:9999/blog
    </script>
  </div>
  <p>...and here is what we should see</p>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: bash">
      MongoDB shell version: 2.6.5
      connecting to: blog
      Welcome to the MongoDB shell.
      For interactive help, type "help".
      For more comprehensive documentation, see
      http://docs.mongodb.org/
      Questions? Try the support group
      http://groups.google.com/group/mongodb-user
      >
    </script>
  </div>



</section>