<section class="slide" id="embedded">
<h2>We can have a document embedded into another document </h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: json">
      book : { name: "Oliver Twist",
      reviews : [
       {  user: "Gautam",
         comment: "Very interesting read"
       },
       {  user: "Harry",
         comment: "Who is Oliver Twist?"
       } ]
      votes: [ "Gautam", "Tom", "Jerry"]
      }
    </script>
</div>
</section>