<section class="slide" id="format">
  <h2>JSON (actually BSON) format</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: json">
      {
        name : 'Elena the Cat',
        passion: [ 'Ruby', 'Cats' ],
        company : {
          name : "GlobalLogic",
          country : 'Ukraine'
        }
      }
    </script>
  </div>
  <h2>Data types</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: json">
      String: "" or ''
      Integer: 10
      Float: 10.1
      Array: ['1', 2]
      Hash: {a: 1, b: 2}
    </script>
  </div>
</section>