<section class="slide" id="removing">
  <h2>Saving the document to the collection</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: bash">
      > db.furniture.remove({type: 'table'})
      WriteResult({ "nRemoved" : 1 })
    </script>
  </div>
</section>