<section class="slide" id="saving">
  <h2>Saving the document to the collection</h2>
  <div class="row">
    <script type="syntaxhighlighter" class="brush: bash">
      > db.cats.save({name: 'Viking', color: 'red tabby', breed: 'maine coon'})
    </script>
  </div>
</section>