<section id="authorizing-controller-actions" class="slide">
  <h2>Authorizing Controller actions</h2>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  class PostsController < ApplicationController
    load_and_authorize_resource except: [:create]
    
    def create
      @post = Post.new(post_params)
      @post.user = current_user

      respond_to do |format|
        if @post.save
          format.html { redirect_to @post, notice: 'Post was successfully created.' }
          format.json { render action: 'show', status: :created, location: @post }
        else
          format.html { render action: 'new' }
          format.json { render json: @post.errors, status: :unprocessable_entity }
        end
      end
    end

    def update
      respond_to do |format|
        if @post.update(post_params)
          format.html { redirect_to @post, notice: 'Post was successfully updated.' }
          format.json { head :no_content }
        else
          format.html { render action: 'edit' }
          format.json { render json: @post.errors, status: :unprocessable_entity }
        end
      end
    end
    
    def destroy
      @post.destroy
      respond_to do |format|
        format.html { redirect_to posts_url }
        format.json { head :no_content }
      end
    end
    
    private

    def post_params
      params.require(:post).permit(:title, :text)
    end
  end
  </script>
</section>