<section id="checking-abilities-in-views" class="slide">
  <h2>Checking Abilities in Views</h2>
  app/views/posts/index.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
  <ul>
    &lt;% @posts.each do |post| %>
      <li>
        &lt;%= post.title %>
        &lt;%- if can? :read, post %>
          &lt;%= link_to 'Show', post %>
        &lt;%- end %>
        &lt;%- if can? :update, post %>
          &lt;%= link_to 'Edit', edit_post_path(post) %>
        &lt;%- end %>
        &lt;%- if can? :destroy, post %>
          &lt;%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        &lt;%- end %>
      </li>
    &lt;% end %>
  </ul>
  </script>
</section>