<section id="defining-abilities" class="slide">
  <h2>Defining Abilities</h2>
  app/models/ability.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class Ability
      include CanCan::Ability

      def initialize(user)
        user ||= User.new
        
        can :read, Post, active: true
        can [:read, :create, :update, :destroy], Post, user_id: user.id
      end
    end
  </script>
</section>