<section id="install" class="slide">
  <h2>CanCan Docs</h2>
  <ul>
    <li><a href="https://github.com/CanCanCommunity/cancancan/wiki/defining-abilities" target="_blank">Defining Abilities</a></li>
    <li><a href="https://github.com/CanCanCommunity/cancancan/wiki/Checking-Abilities" target="_blank">Checking Abilities</a></li>
    <li><a href="https://github.com/CanCanCommunity/cancancan/wiki/authorizing-controller-actions" target="_blank">Authorizing controller actions</a></li>
  </ul>
</section>