<section id="intro" class="slide">
  <div class="vcenter">
    <h1>CanCan</h1>
    <div class="about">
      <p>
        CanCan is an authorization library for Ruby on Rails which restricts what resources a given user is allowed to access. All permissions are defined in a single location (the Ability class) and not duplicated across controllers, views, and database queries.
      </p>
      <a href="https://github.com/CanCanCommunity/cancancan" target="_blank">https://github.com/CanCanCommunity/cancancan</a>
    </div>    
  </div>
</section>