<section id="testing-abilities" class="slide">
  <h2>Testing Controllers</h2>
  spec/controllers/posts_controller_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'spec_helper'
 
    describe PostsController do
      before do
        request.env["devise.mapping"] = Devise.mappings[:user]
        @user = FactoryGirl.create(:user)
        @post = FactoryGirl.create(:post, user: @user)

        Post.stub(:find).and_return(@post)
        @post_attributes = FactoryGirl.attributes_for(:post)
        
        @ability = Object.new
        @ability.extend(CanCan::Ability)
        @controller.stub(:current_ability).and_return(@ability)
        @ability.can :manage, :all

        sign_in(@user)
      end

      context '#new' do
        context 'cancan doesnt allow :new' do
          before do
            @ability.cannot :create, Post
            get :new
          end
          it{ should redirect_to root_path}
        end
      end

      context '#show' do
        context 'cancan doesnt allow :show' do
          before do
            @ability.cannot :show, Post
            get :show, {id: @post.id}
          end
          it{ should redirect_to root_path}
        end
      end

      context '#create' do
        context 'cancan doesnt allow :create' do
          before do
            @ability.cannot :create, Post
            post :create, {post: @post_attributes}
          end
          it{ should redirect_to root_path}
        end
      end

      context '#update' do
        context 'cancan doesnt allow :update' do
          before do
            @ability.cannot :update, @post
            put :update, @post_attributes.merge(id: @post.id)
          end
          it{ should redirect_to root_path}
        end
      end

      context '#destroy' do
        context 'cancan doesnt allow :destroy' do
          before do
            @ability.cannot :destroy, @post
            delete :destroy, id: @post.id
          end
          it{ should redirect_to root_path}
        end
      end
    end
  </script>
</section>