<section id="cookies" class="slide">
  <h2>Cookies</h2>
  app/controllers/comments_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class CommentsController < ApplicationController
      def new
        @comment = Comment.new(author: cookies[:commenter_name])
      end
     
      def create
        @comment = Comment.new(params[:comment])
        if @comment.save
          flash[:notice] = "Thanks for your comment!"
          if params[:remember_name]
            cookies[:commenter_name] = @comment.author
          else
            cookies.delete(:commenter_name)
          end
          redirect_to @comment.post
        else
          render action: "new"
        end
      end
    end
  </script>
  <div class="slide" id="cookies-expires">
    <h3>Sets a cookie that expires in 1 hour</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      cookies[:login] = { value: "XJ-122", expires: 1.hour.from_now }
    </script>
  </div>
  <div class="slide" id="cookies-signed">
    <h3>Sets a signed cookie, which prevents users from tampering with its value</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      cookies.signed[:user_id] = current_user.id
    </script>
  </div>
  <div class="slide" id="cookies-permanent">
    <h3>Sets a "permanent" cookie (which expires in 20 years from now)</h3>
    <script type="syntaxhighlighter" class="brush: ruby">
      cookies.permanent[:login] = "XJ-122"
    </script>
  </div>
</section>
