<section id="methods-and-actions" class="slide">
  <h2>Methods and Actions</h2>
  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :posts, only: [:index] # /posts/index
  </script>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
  <![CDATA[      
    class PostsController < ApplicationController
      def index
        @posts = Post.all
      end
    end
  ]]>
  </script>
</section>
