<section id="parameters" class="slide">
  <h2>Parameters</h2>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class PostsController < ApplicationController
      ...

      # GET by /posts?state=confirmed
      def index
        @posts = if params[:state] == "confirmed"
          Post.confirmed
        else
          Post.unconfirmed
        end
      end

      # PATCH to /posts
      # id=12&post[name]=Foo&post[text]=Bar 
      def update
        @post = Post.find(params[:id])
        @post.update(params[:post])
        ...
      end

      ...
    end
  </script>
</section>
