<section id="from-rescue" class="slide">
  <h2>rescue_from</h2>
  app/controllers/application_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      class ApplicationController < ActionController::Base
        rescue_from ActiveRecord::RecordNotFound, with: :record_not_found
       
        private
       
        def record_not_found
          render text: "404 Not Found", status: 404
        end
      end
    ]]>
  </script>

  <div class="slide" id="autorization-rescue">
    app/controllers/application_controller.rb
    <script type="syntaxhighlighter" class="brush: ruby">
    <![CDATA[
      class ApplicationController < ActionController::Base
        rescue_from User::NotAuthorized, with: :user_not_authorized
       
        private
       
        def user_not_authorized
          flash[:error] = "You don't have access to this section."
          redirect_to :back
        end
      end
   
      class PostsController < ApplicationController
        before_action :check_authorization
   
        def edit
          @post = Post.find(params[:id])
        end
   
        private
   
        def check_authorization
          raise User::NotAuthorized unless current_user.admin?
        end
      end
    ]]>
    </script>
  </div>
</section>
