<section id="sending-files" class="slide">
  <h2>Sending files</h2>
  <p>If you want to send a file that already exists on disk, use the send_file method.</p>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class PostsController < ApplicationController
      def download_pdf
        post = Post.find(params[:id])
        send_file("#{Rails.root}/files/posts/#{post.id}.pdf",
                  filename: "#{post.title}.pdf",
                  type: "application/pdf")
      end
    end
  </script>
</section>
