<section id="standart-actions" class="slide">
  <h2>CRUD actions</h2>
  config/routes.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    resources :posts
  </script>
  app/controllers/posts_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class PostsController < ApplicationController
      def index # GET /posts
        ...
      end

      def show    # GET /posts/:id
        ...
      end

      def new     # GET /posts/new
        ...
      end

      def edit    # GET /posts/:id/edit
        ...
      end

      def create  # POST /posts/
        ...
      end

      def update  # PATCH /posts/:id PUT /posts/:id
        ...
      end

      def destroy # DELETE /posts/:id
        ...
      end
    end
  </script>
</section>
