<section id="topic" class="slide">
  <div class="vcenter">
    <h1>Action Controller</h1>
    <div class="about">
      <p><strong>Action Controller</strong> is the <strong>C</strong> in <a href="http://en.wikipedia.org/wiki/Model–view–controller" target="_blank">MVC</a>. After routing has determined which controller to use for a request, your controller is responsible for making sense of the request and producing the appropriate output.
      <img src="assets/mvc.png" />
    </div>
  </div>
</section>
