<section id="actions" class="slide">
  <h2>Actions</h2>
  config/initializers/rails_admin.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    config.actions do
      dashboard
      index    
      new
      export
      bulk_delete
      show
      edit
      delete
      show_in_app
    end
  </script>
</section>