<section id="authentication" class="slide">
  <h2>Authentication</h2>
  <h3>Devise</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rails generate devise Admin
    $ rake db:migrate
  </script>
  config/initializers/rails_admin.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    RailsAdmin.config do |config|
      config.authenticate_with do
        warden.authenticate! scope: :admin
      end
      config.current_user_method(&:current_admin)
    end
  </script>
  <h3>Manually</h3>
  <script type="syntaxhighlighter" class="brush: ruby">
    RailsAdmin.config do |config|
      config.authorize_with do
        authenticate_or_request_with_http_basic('Site Message') do |username, password|
          username == 'foo' && password == 'bar'
        end
      end
    end
  </script>
</section>