<section id="intro" class="slide">
  <div class="vcenter">
    <h1>RailsAdmin</h1>
    <div class="about">
      <p>
        RailsAdmin is a Rails engine that provides an easy-to-use interface for managing your data.
      </p>
      <ul>
        <li>CRUD any data with ease</li>
        <li>Custom actions</li>
        <li>Automatic form validation</li>
        <li>Search and filtering</li>
        <li>Export data to CSV/JSON/XML</li>
        <li>Authentication (via Devise or other)</li>
        <li>Authorization (via Cancan)</li>
        <li>User action history (via PaperTrail)</li>
        <li>
          Supported ORMs
          <ul>
            <li>ActiveRecord</li>
            <li>Mongoid</li>
          </ul>
        </li>
      </ul>
      <a href="https://github.com/sferik/rails_admin" target="_blank">https://github.com/sferik/rails_admin</a>
    </div>    
  </div>
</section>