<section id="navigation" class="slide">
  <h2>Navigation</h2>
  <h3>Included</h3>
  config/initializers/rails_admin.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    config.actions do
      config.included_models = ['User', 'Post']
    end
  </script>
  <h3>Excluded</h3>
  config/initializers/rails_admin.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    config.actions do
      config.excluded_models = ['Admin']
    end
  </script>
</section>