<section id="bdd-cycle" class="slide">
  <h2>Bdd cycle</h2>
  <img class="bdd-cycle" src="/assets/bdd/bdd-cycle-around-tdd-cycles.png" />
  <div class="bdd-cycle-list">
    <ol>
      <li>Start with an Acceptance Test scenatio.</li>
      <li>Run the Acceptance Test scenatio.</li>
      <li>
        Red/Green/Refactor wuth Unit Tests.
        <ul>
          <li>View</li>
          <li>Controller</li>
          <li>Model</li>
        </ul>
      </li>
      <li>Run the Acceptance Test scenatio again.</li>
    </ol>
  </div>
</section>