<section id="fix-expected-to-find-text-sign-out" class="slide">
  <h2>Fix expected to find text 'Sign out'</h2>
  app/views/lououts/application.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
  # ...
  &lt;body&gt;
    &lt;%- if session[:user_id].present? %&gt;
      &lt;%= link_to 'Sign out', '#' %&gt;
    &lt;%- else %&gt;
      &lt;%= link_to 'Sign up', register_path %&gt;
    &lt;%- end %&gt;

    &lt;%= yield %&gt;
  &lt;/body&gt;
  # ...
  </script>
  <script type="syntaxhighlighter" class="brush: bash">$ rspec spec/features/registration_spec.rb
    Failure/Error: expect(page).to have_content 'You registered'
      expected to find text "You registered" in "Sign out"
  </script>
</section>