<section id="fix-expected-to-find-text-you-registered" class="slide">
  <h2>Fix expected to find text 'You registered'</h2>
  app/views/lououts/application.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
  # ...
  &lt;body&gt;
    # ...
    &lt;% if flash[:notice].present? %&gt;
      &lt;div id="notice"&gt;&lt;%= flash[:notice] %&gt;&lt;/div&gt;
    &lt;% end %&gt;
    # ...
  &lt;/body&gt;
  # ...
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rspec spec/features/registration_spec.rb
    1 example, 0 failures
  </script>
</section>