<section id="fix-missing-template-users-new" class="slide">
  <h2>Fix missing template 'users/new'</h2>
  app/views/users/new.html.erb created
  <script type="syntaxhighlighter" class="brush: bash">
    $ rspec spec/features/registration_spec.rb 
      Capybara::ElementNotFound:
        Unable to find css "#new_user"
  </script>
</section>