<section id="fix-the-action-create-could-not-be-found" class="slide">
  <h2>Fix the action 'create' could not be found error</h2>
  
  spec/controllers/users_controller_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'spec_helper'

    describe UsersController do

      # ...

      describe 'POST create' do
        let(:user) { mock_model(User, params) }
        let(:params) { {email: Faker::Internet.email, password: "12345678"} }

        before do
          User.stub(:new).and_return(user)
        end

        it "sends save message to user model" do
          user.should_receive(:save)
          post :create, user: params
        end

        context "when save message returns true" do
          before do
            user.stub(:save).and_return(true)
            post :create, user: params
          end

          it "redirects to root url" do
            expect(response).to redirect_to root_url
          end

          it "assings a success flash message" do
            expect(flash[:notice]).not_to be_nil
          end

          it "logs in user" do
            expect(session[:user_id]).to eq(user.id)
          end
        end
      end
    end
  </script>

  app/controllers/users_controller.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    class UsersController < ApplicationController
      
      # ...

      def create
        @user = User.new(user_params)
        if @user.save
          session[:user_id] = @user.id
          redirect_to root_url, notice: "You registered"
        else
          flash.now[:error] = "Something went wrong"
          render :new
        end
      end

      private

      def user_params
        params.require(:user).permit(:email, :password)
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rspec spec/controllers/users_controller_spec.rb 
    NameError:
      undefined local variable or method 'root_url' for #<UsersController:0x007fbacc9f1918>
  </script>
</section>