<section id="Homework" class="slide">
  <h2>Homework</h2>
  <p>You need to write a simple web book store. Please implement the following user stories.</p>
  <ul>
    <li>An administrator can add/edit/delete books.</li>
    <li>An administrator can add/edit/delete categories.</li>
    <li>An administrator can add/edit/delete authors.</li>
    <li>An administrator can connect books to categories and authors.</li>
    <li>A user can navigate the site by categories.</li>
    <li>A user can search for books by author, title.</li>
    <li>A user can view detailed information on a book. For example, number of pages, publication date, author and a brief description.</li>
    <li>A user can put books into a "shopping cart" and buy them when he is done shopping.</li>
    <li>A user can remove books from his cart before completing an order.</li>
    <li>To buy a book the user enters his billing address, the shipping address and credit card information.</li>
    <li>A user can rate and review books.</li>
    <li>An administrator needs to approve or reject reviews before they're available on the site.</li>
    <li>A user can establish an account that remembers shipping and billing information.</li>
    <li>A user can edit his account information (credit card, shipping address, billing address and so on).</li>
    <li>A user can put books into a "wish list" that is visible to other site visitors.</li>
    <li>A user can check the status of his recent orders.</li>
    <li>A user can view a history of all of his past orders.</li>
  </ul>
</section>