<section id="init-testing-tools" class="slide">
  <h2>Init testing tools</h2>
  <h3>Init RSpec</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rails g rspec:install
    create  .rspec
      create  spec
      create  spec/spec_helper.rb
  </script>
  config/application.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    config.generators do |g|
      g.test_framework :rspec
    end
  </script>
  spec/spec_helper.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    RSpec.configure do |config|
      config.use_transactional_fixtures = false

      config.before(:suite) do
        DatabaseCleaner.clean_with(:truncation)
        DatabaseCleaner.strategy = :transaction
      end

      config.before(:each) do
        DatabaseCleaner.start
      end

      config.after(:each) do
        DatabaseCleaner.clean
      end
    end
  </script>
  spec/features/features_spec_helper.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'spec_helper'
    require 'capybara/rspec'
  </script>
</section>