<section id="init-env" class="slide">
  <h2>Init enviropment</h2>
  <h3>Create gemset</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rvm use 2.0.0-p247@bookstore --create
    Using /Users/sparrow/.rvm/gems/ruby-2.0.0-p247 with gemset bookstore
  </script>
  <h3>Install Rails</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    gem install --no-rdoc --no-ri rails
  </script>
  <h3>Create Application</h3>
  <script type="syntaxhighlighter" class="brush: bash">
    rails new bookstore --skip-bundle -T
  </script>
  <h3>Add gems</h3>
  Gemfile
  <script type="syntaxhighlighter" class="brush: ruby">
    ...
    group :development, :test do
      gem 'rspec-rails'
    end

    group :test do
      gem 'capybara'
      gem 'database_cleaner'
      gem 'shoulda-matchers'
      gem 'faker'
    end
    ...
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    bundle install
  </script>
</section>