<section id="intro" class="slide">
  <div class="vcenter">
    <h1>Behavior-driven development</h1>
    <div class="about">
      <p>
        <strong>BDD</strong> is about implementing an application by describing its behaviour from the perspective of its stakeholders.
      </p>
      <ul>
        <li>User stories</li>
        <li>Domain-Driven Development</li>
        <li>
          Extreme Programming
          <ul>
            <li>Test-Driven Development</li>
            <li>Acceptance Driven Test Planning</li>
            <li>Continuous Integration</li>
          </ul>
        </li>
      </ul>
    </div>    
  </div>
</section>