<section id="meet-the-capybara" class="slide">
  <h2>Meet the Capybara</h2>
  <img class="capybara" src="/assets/bdd/capybara.jpg" width="500" />
  <div class="capybara-description">
    <p>
      <strong>Capybara</strong> is acceptance test framework for web applications.
    </p>
    <p>
      Capybara helps to test web applications by simulating how a real user would interact with an app.
    </p>
    <p>
      Test your app with <a href="http://jnicklas.github.io/capybara/" target="_blank">Capybara</a>
    </p>
  </div>
</section>