<section id="registration-feature" class="slide">
  <h2>Registration feature</h2>
  specs/features/registration_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'features/features_spec_helper'

    feature "Registration" do
      scenario "Visitor registers successfully via register form" do
        visit register_path
        within '#new_user' do
          fill_in 'Email', with: Faker::Internet.email
          fill_in 'Password', with: '12345678'
          click_button('Sign up')
        end
        expect(page).not_to have_content 'Sign up'
        expect(page).to have_content 'Sign out'
        expect(page).to have_content 'You registered'
      end
    end
  </script>
  <script type="syntaxhighlighter" class="brush: bash">
    $ rspec spec/features/registration_spec.rb 
      NameError:
       undefined local variable or method 'register_path' for #<RSpec::Core::ExampleGroup::Nested_1:0x007fa4b2fb9538>
  </script>
</section>