<section id="users-new-specs" class="slide">
  <h2>More view specs</h2>
  spec/views/users/new_spec.rb
  <script type="syntaxhighlighter" class="brush: ruby">
    require 'spec_helper'

    describe 'users/new.html.erb' do
      let(:user) { mock_model("User").as_new_record }

      before do
        user.stub(:email).stub(:password)
        assign(:user, user)
        render
      end

      it 'has new_user form' do
        expect(rendered).to have_selector('form#new_user')
      end

      it "has user_email field" do
        expect(rendered).to have_selector('#user_email')
      end

      it "has user_password field" do
        expect(rendered).to have_selector('#user_password')
      end

      it "has register button" do
        expect(rendered).to have_selector('input[type="submit"]')
      end
    end
  </script>
  app/views/users/new.html.erb
  <script type="syntaxhighlighter" class="brush: ruby">
    &lt;%= form_for @user do |f| %&gt;
      &lt;%= f.email_field :email %&gt;
      &lt;%= f.password_field :password %&gt;
      &lt;%= f.submit "Sign up" %&gt;
    &lt;%- end %&gt;
  </script>
  Run views
  <script type="syntaxhighlighter" class="brush: bash">
    $ rspec spec/views/users/new_spec.rb
    4 examples, 0 failures
  </script>
  Run features
  <script type="syntaxhighlighter" class="brush: bash">
    $ rspec spec/features/registration_spec.rb
    ActionView::Template::Error:
      First argument in form cannot contain nil or be empty
  </script>
</section>